@import "tema";

input[type="button"].-rounded,
input[type="submit"].-rounded,
.Mnk-button.-rounded{
  border-radius: 9999px;
}
input[type="button"].-full,
input[type="submit"].-full,
.Mnk-button.-full{
  display: block;
  width: 100%;
}
input[type="button"].-small,
input[type="submit"].-small,
.Mnk-button.-small{
  @include responsive-width($responsive-767){
    padding: 10px;
  }
}
input[type="button"].-short,
input[type="submit"].-short,
.Mnk-button.-short{
  @include responsive-width($responsive-767){
    padding: 10px 20px;
  }
}
.Mnk-button_icon{
  @include grid-table(middle);
  width: auto;
  margin-left: auto;
  margin-right: auto;
  .Mnk-button_icon-text{
    &:first-child{
      padding-right:5px;
    }
    &:last-child{
      padding-left:5px;
    }
    &.-medium{
      &:first-child{
        padding-right:10px;
      }
      &:last-child{
        padding-left:10px;
      }
    }
  }
  .Mnk-button_icon-box{
    line-height: 1;
    font-size: 16px;
    i{
      display: block;
      width: 10px;
    }
  }
  ._small{
    font-size: 12px;
  }
}