.Mnk-button {
  cursor: pointer;
  user-select: none;
  font-weight: 700;
  font-style: normal;
  font-size: $button-size - 2;
  font-family: $font-family-principal;
  text-transform: uppercase;
  height: auto;
  //line-height: 1.2;
  margin: 0;
  padding: 15px 45px;
  text-align: center;
  width: auto;
  min-width: 160px;
  border-radius: $button-radius;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  display: inline-block;
  vertical-align: top;

  color: $button-color;
  background: $button-background no-repeat left top;
  //box-shadow: 5px 7px 15px rgba(0, 0, 0, 0.2);
  //border: 1px solid $button-borde-color;

  position: relative;
  span {
    position: relative;
    display: inline;
  }

  @at-root #{&}_background {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: $button-radius;
    background: $button-background no-repeat left top;
    //box-shadow: 5px 7px 15px rgba(0, 0, 0, 0.2);
    //@include bounce-glove(bounce 2s ease-in-out .5s infinite);
    animation: heartbeat 2s ease-in-out 1.5s infinite both;
  }

  @include responsive-width($responsive-450) {
    font-size: $button-size;
  }

  @include responsive-width($responsive-767) {
    //padding: 15px 40px;
  }

  &:hover {
    @include responsive-width($responsive-1024) {
      background: $button-background-hover no-repeat left top;
      color: $button-color-hover;
      //border: 1px solid $button-borde-color-hover;
      text-decoration: none;
    }
  }
}

@each $button-nombre-list, $button-color-list, $button-background-list, $button-border-list, $button-color-hover-list,
  $button-background-hover-list, $button-border-hover-list in $button-list
{
  input[type="button"].-#{$button-nombre-list},
  input[type="submit"].-#{$button-nombre-list},
  .Mnk-button.-#{$button-nombre-list} {
    color: $button-color-list;
    background: $button-background-list no-repeat left top;
    border: 1px solid $button-border-list;
    &:hover {
      @include responsive-width($responsive-1024) {
        background: $button-background-hover-list no-repeat left top;
        color: $button-color-hover-list;
        border: 1px solid $button-border-hover-list;
        text-decoration: none;
      }
    }
  }
}

$button-animation-list: (7, 21, 27);
.Mnk-button_icon {
  &.-animation {
    .Mnk-button_icon-box {
      @include responsive-width($responsive-1024) {
        opacity: 0;
        transform: translateX(-50%);
      }
    }
    .Mnk-button_icon-text {
      position: relative;
    }
    .Mnk-button_icon-box,
    .Mnk-button_icon-text {
      transition-property: all;
      transition-duration: 0.3s;
      transition-timing-function: ease-in-out;
    }
    @at-root .Mnk-row-button.-icon-animation:hover .Mnk-button_icon.-animation,
      #{&}:hover {
      @include responsive-width($responsive-1024) {
        .Mnk-button_icon-box {
          opacity: 1;
          transform: translateX(0);
        }
      }
    }
    @each $button-animation in $button-animation-list {
      @at-root #{&}-#{$button-animation} {
        .Mnk-button_icon-text {
          @include responsive-width($responsive-1024) {
            &:first-child {
              right: -#{$button-animation/2 + 2.5}px;
            }
            &:last-child {
              left: -#{$button-animation/2 + 2.5}px;
            }
            &.-medium {
              &:first-child {
                right: -#{$button-animation/2 + 5}px;
              }
              &:last-child {
                left: -#{$button-animation/2 + 5}px;
              }
            }
          }
        }
        .Mnk-button_icon-box {
          i {
            width: #{$button-animation}px;
          }
        }
        @at-root .Mnk-row-button.-icon-animation:hover .Mnk-button_icon.-animation,
          #{&}:hover {
          @include responsive-width($responsive-1024) {
            .Mnk-button_icon-text {
              &:first-child {
                right: 0;
              }
              &:last-child {
                left: 0;
              }
            }
          }
        }
      }
    }
  }
}
