div(id="home" class="Mnk-home")
    div(class="Mnk-container")
        div(class="Mnk-portada Mnk-box-table -middle")
            div(class="Mnk-align-center Mnk-uppercase Mnk-font-12 Mnk-font-16-451 Mnk-color-white")
                div(class="Mnk-banner_content Mnk-inline-block")
                    - imagen = "logo"
                    img(src=mnk_dir_images + imagen + ".svg" alt=title)
                    p 
                        strong(class="Mnk-medium") La forma en la que piensas, te define.
                    a(class="Mnk-ancla_link Mnk-button" href="#videos") ver videos
                    span(class="Mnk-triangle_svg -purple -position-1")
                    span(class="Mnk-triangle_svg -green -position-2")
                    span(class="Mnk-triangle_svg -gray -position-3")
                    span(class="Mnk-triangle_svg -gray -small -position-4")
                    span(class="Mnk-triangle_svg -gray -small -position-5")
                    span(class="Mnk-triangle_svg -gray -small -position-6")