section(id="inscribete" class="Mnk-relative Mnk-zindex-3 Mnk-background-light-gray Mnk-padding-top-40 Mnk-padding-bottom-65 Mnk-padding-top-95-992 Mnk-padding-bottom-35-992")
	div(class="Mnk-container")
		div(class="Mnk-box-table -middle")
			div(class="Mnk-none Mnk-col-50 Mnk-table_cell-768 Mnk-col-55-992")
				-title = 'Estudiante de Ucal'
				img(src=mnk_dir_images + "estudiante.png" alt=title)
			div(class="Mnk-padding-left-30-768 Mnk-padding-left-50-992 Mnk-padding-right-50-992")
				h2(class="Mnk-margin-top Mnk-margin-bottom-20 Mnk-font-24 Mnk-font-35-992 Mnk-font-48-1200 Mnk-bold Mnk-align-center") Inscríbete aquí
				form(id='ucal_form' action="" class="Mnk-padding-left-10 Mnk-padding-right-10 Mnk-align-center")
					+form_input("text","Nombres","nombres","60")
					+form_input("text","Apellidos","apellidos","60")
					//-+form_date("text","Año de egreso","graduate_year","60")
					+form_input("phone","Teléfono/Celular","telefono","60")
					+form_input("email","Correo electrónico","correo_electronico","60")
					- 
						carreras = [
							"Arquitectura",
							"Arquitectura de Interiores",
							"Comunicación Audiovisual y Cine",
							"Comunicación y Publicidad Transmedia",
							"Comunicación e Imagen ",
							"Comunicación y Periodismo",
							"Comunicaciones",
							"Diseño Gráfico Estratégico",
							"Diseño Gráfico Publicitario",
							"Marketing e Innovación",
						]
					+form_select("carrera",carreras)
					label(class="Mnk-checkbox Mnk-inline-block")
						p(class="Mnk-margin-bottom") Aceptar 
							a(href="#" target="_blank") términos y condiciones
						input(class="" type="checkbox" value="terminos_condiciones")
						span(class="Mnk-checkbox_checkmark")
					div(class="Mnk-relative Mnk-margin-top-20")
						button(class="Mnk-button" type="submit") ENVIAR