div(
    id="videos"
    class="Mnk-slider-videos"
)
    - title = "Arquitectura - Acantilado"
    - 
        tabs = [
            [
                "Reto",
                "cat_1_video_1.jpg",
                `En el curso de Proyectos II de la carrera de Arquitectura, 
                 nuestros estudiantes aprenden que una estructura no siempre se va
                 a diseñar bajo los mismos parámetros, y es en situaciones extremas,
                 donde se aprende a pensar en otro nivel.
                `
            ],
            [
                "Explicación",
                "cat_1_video_1.jpg",
                `En el curso de Proyectos II de la carrera de Arquitectura, 
                 nuestros estudiantes aprenden que una estructura no siempre se va
                 a diseñar bajo los mismos parámetros, y es en situaciones extremas,
                 donde se aprende a pensar en otro nivel.
                `
            ],
            [
                "Testimonios",
                "cat_1_video_1.jpg",
                `En el curso de Proyectos II de la carrera de Arquitectura, 
                 nuestros estudiantes aprenden que una estructura no siempre se va
                 a diseñar bajo los mismos parámetros, y es en situaciones extremas,
                 donde se aprende a pensar en otro nivel.
                `
            ]
        ]
    +slide_video(1,title,tabs)(modal="Mnk-modal-cat-1")
    - title = "Diseño Gráfico - Mantis"
    +slide_video(2,title,tabs)(class="-green" modal="Mnk-modal-cat-1")
    - title = "Comunicación - Corto al revés"
    +slide_video(3,title,tabs)(class="-red" modal="Mnk-modal-cat-1")
    - title = "Marketing - Limpieza de Playas"
    +slide_video(4,title,tabs)(class="-blue" modal="Mnk-modal-cat-1")