mixin slider(nombre)
    div(class=nombre)
        if block
            block
//- tipo = image, vimeo, youtube y video
    imagen = poner la URL de la imagen, para el caso de youtube y vimeo colocar null
    video = para el caso de youtube y vimeo colocar el id del video, para un video local insertar la URL, para imagen colocar null o dejarlo vacio
    inicio = Solo en caso que sea youtube y vimeo colocar el tiempo de inicio, el valor essta considerado en segundos, para imagen colocar null o dejarlo vacio
mixin slide(tipo,imagen,video,inicio)
    if tipo == "vimeo"
        div(class=tipo data-video-start=inicio)
            +slide_content(tipo,imagen,video,inicio)
                if block
                    block
    else
        div(class=tipo)
            +slide_content(tipo,imagen,video,inicio)
                if block
                    block

mixin slide_content(tipo,imagen,video,inicio)
    div(class="Mnk-portada Mnk-relative Mnk-box-table -middle Mnk-height-460 Mnk-height-650-992")
        if tipo == "image"
            span(class="loading") Cargando...
            div(class="slide-image slide-media" style="background-image:url('" + imagen + "');")
                img(class="image-entity" data-lazy=imagen)

        if tipo == "vimeo"
            iframe(
            class="embed-player slide-media"
            src="https://player.vimeo.com/video/" + video + "?api=1&byline=0&portrait=0&title=0&background=1&mute=1&loop=1&autoplay=0"
            width="980"
            height="520"
            frameborder="0"
            webkitallowfullscreen
            mozallowfullscreen
            allowfullscreen
            )

        if tipo == "youtube"
            iframe(
            class="embed-player slide-media"
            width="980"
            height="520"
            src="https://www.youtube.com/embed/" + video + "?enablejsapi=1&controls=0&fs=0&iv_load_policy=3&rel=0&showinfo=0&loop=1&playlist=" + video + "&start=" + inicio + ""
            frameborder="0"
            allowfullscreen
            )

        if tipo == "video"
            video(
            class="slide-video slide-media"
            loop muted preload="metadata"
            poster=imagen
            )
                source(src=video type="video/mp4")

        if block
            div(class="Mnk-slider_content" class!=attributes.class)
                block

