mixin body(clase_imagen,imagen)
    body(class!=attributes.class)
        if link_activo !== "Gracias"
            include ../base/_header
        if block
            block
        if link_activo !== "Gracias"
            include ../base/_footer
        include ../base/_foot

mixin footer_contacto(title,imagen,texto)
    div(class="Mnk-box-table -middle Mnk-padding-top-5 Mnk-padding-bottom-5")
        div(class="Mnk-width-25 Mnk-line-height-null")
            img(src=mnk_dir_images + imagen + ".svg" alt="")
        div(class="")
            p(class="Mnk-font-12 Mnk-color-white Mnk-opacity-70 Mnk-margin-bottom") #{texto}

mixin slide_video(id,title,tabs)
    div(class!=attributes.class)
        - tab_container_prefix = "Mnk-tab-cat-"+id+"-"
        - tab_container = tab_container_prefix+"container"        
        div(
            class=tab_container+" Mnk-tab-only Mnk-relative Mnk-zindex-1 Mnk-container Mnk-padding-top-40 Mnk-padding-bottom-95 Mnk-padding-top-120-992 Mnk-padding-bottom-120-992"
        )
            div(class="Mnk-header_videos")
                h2 !{title}
                div(class="Mnk-tab_boton-container Mnk-none Mnk-box-inline-block Mnk-inline-block-768 -top-768")                    
                    each tab, index in tabs
                        h3
                            a(
                            class="Mnk-tab_boton -style"
                            class={'-active': index === 0}
                            href="#"+ tab_container_prefix + index
                            data-contenedor=tab_container
                            title="Ir a "+ tab
                            ) !{tab[0]}
            div(
                class="Mnk-relative Mnk-zindex-1 Mnk-box-table -fixed Mnk-height-full"
            )
                div(
                    class="Mnk-content_box Mnk-padding-left-80-768 Mnk-padding-right-80-768 Mnk-padding-left-105-992 Mnk-padding-right-55-992"
                )
                    div(
                        class="Mnk-none-768 Mnk-width-430-992"
                    )
                        +video('cat_1_video_1.jpg')(
                            modal!=attributes.modal
                        )
                    each tab, index in tabs
                        div(
                            id=tab_container_prefix + index
                            class="Mnk-tab_content"
                            class={'-active-desktop': index === 0}
                            data-contenedor=tab_container
                        )
                            +tab_content_slide_video(tab[1],tab[2])(
                                class!=attributes.class
                                modal!=attributes.modal
                            )

mixin tab_content_slide_video(image,content)
    div(
        class="Mnk-box-table -fixed"
    )
        div(
            class="Mnk-width-430-992"
        )
            +video(image)(
                modal!=attributes.modal
            )
        div(class="Mnk-tab_info Mnk-none Mnk-table_cell-768")
            p !{content}
            div(
                class="Mnk-modal_button Mnk-button"
                class=(attributes.class ? '' : '-light-magenta')
                class!=attributes.class
                data-modal!=attributes.modal
            ) video completo

mixin video(image,modal,title,content)
    div(
        class="Mnk-figure"
        class!=attributes.class
        class=(attributes.modal ? 'Mnk-modal_button' : '')
        data-modal!=attributes.modal
    )
        div(
            class="Mnk-figure_img"
            class=(modal ? '-modal' : '')
        )
            img(src=mnk_dir_images+image)
            if modal   
                div(class="Mnk-modal_video-content")
                    p !{title}
                    p !{content}
            span(class="Mnk-figure_img-text Mnk-none-768") EXPLICACIÓN
            span(class="Mnk-figure_img-border-top")
            span(class="Mnk-figure_img-border-sides")

mixin modal(id_modal)
    div(class="Mnk-modal" id=id_modal)
        div(class="Mnk-modal_content")
            div(class="Mnk-modal_animation")                
                if block
                    block    
                                           
mixin social_svg(title,url)    
    a(class="Mnk-social_link -"+title href=url title=title)
        if block
            block

mixin form_input(tipo,campo,name_input,max_length)
    div(class="Mnk-relative Mnk-margin-bottom-10")
        input(id=name_input type=tipo placeholder=campo name=name_input maxlength=max_length)

mixin form_date(tipo,campo,name_input,max_length)
    div(class="Mnk-relative Mnk-margin-bottom-10")
        input(id=name_input class="date" type="date" placeholder=campo name=name_input)

mixin form_select(name,options)
    div(class="Mnk-relative Mnk-margin-bottom-10")
        div(class="Mnk-select")
            select(id=name name=name)
                option Carrera de interés
                each option in options
                    option(value=option) !{option}