.Mnk-img-demo{
  display: block;
  position: relative;
  &:before{
    content: '';
    position: absolute;
    background: mnk-image-url('imagen.png') no-repeat center center;
    width: 35px;
    height: 39px;
    left: 50%;
    top: 50%;
    z-index: 1;
    transform: translateX(-50%) translateY(-50%);
    transition-property: all;
    transition-duration: .5s;
    transition-timing-function: ease-in-out;
  }
  img{
    width: 100%;
  }
}

.Mnk-img-responsive{
  max-width: 100%;
  &.-clear{
    max-width: none;
  }
}

.Mnk-grayscale {
  filter: mnk-image-url('filters.svg#grayscale'); /* Firefox 10+ */
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
  -webkit-backface-visibility: hidden; /* Fix for transition flickering */
  transition-property: all;
  transition-duration: .3s;
  transition-timing-function: ease-in-out;
  &.-hover{
    &:hover{
      @include responsive-width($responsive-1024){
        filter: none;
        -webkit-filter: grayscale(0%);
      }
    }
  }
}

.Mnk-row-grayscale{
  &:hover{
    @include responsive-width($responsive-1024){
      .Mnk-grayscale{
        filter: none;
        -webkit-filter: grayscale(0%);
      }
    }
  }
}

@import "tema";