.Mnk-figure{
  position: relative;
  display: block;
  &:before{
    background: rgba($color-negro,.4);
    //content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
  }
  transition-property: all;
  transition-duration: .5s;
  transition-timing-function: ease-in-out;
  &.-before-none{
    &:before{
      content: none;
    }
  }  
  @at-root #{&}_src{
    transition-property: all;
    transition-duration: 2s;
    transition-timing-function: ease-in-out;
  }
  @at-root #{&}_img{
    background-color: $img-background;
    display: block;
    overflow: hidden;
    position: relative;
    z-index: 1;
    cursor: pointer;
    &:before {
      content: '';
      background: #E90D8C;
      position: absolute;
      left: 50%;
      top: 50%;
      z-index: 5;
      width: 43px;
      height: 43px;
      transform: translate(-50%,-50%);
      border-radius: 100%;
      @media only screen and (min-width: 501px){
        width: 73px;
        height: 73px;
      }
    }
    &:after{
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      left: 50%;
      top: 50%;
      transform: translate(-50%,-50%);
      border-top: 8px solid transparent;
      border-bottom: 8px solid transparent;
      border-left: 16px solid $color-blanco;
      z-index: 6;
      margin-left: 2px;

      @media only screen and (min-width: 501px){
        border-top: 13px solid transparent;
        border-bottom: 13px solid transparent;
        border-left: 26px solid $color-blanco;
      }
    }
    @at-root #{&}-border-top{
      position: absolute;
      display: block;
      height: 5px;
      left: 5px;
      top: 0;
      right: 5px;
      background-color: $color-blanco;
      opacity: .8;
      z-index: 5;
      @include responsive-width($responsive-450){
        right: 10px;
        left: 10px;
        height: 10px;
      }
    }
    @at-root #{&}-text{
      color: $color-blanco;
      font-weight: 700;
      text-align: center;
      position: absolute;
      top: 50%;
      z-index: 20;
      font-size: 14px;
      margin-top: 35px;
      width: 100%;
      @media only screen and (min-width: 500px){
        font-size: 18px;
        margin-top: 47px;
      }
    }
    @at-root #{&}-border-sides{
      position: absolute;
      height: 100%;
      left: 0;
      top: 0;
      right: 0;
      z-index: 3;
      background: rgba($color-negro,.3);
      transition-property: all;
      transition-duration: .5s;
      transition-timing-function: ease-in-out;
      &:before{
        left: 0;
      }
      &:after{
        right: 0;
      }
      &:before, &:after{
        content: '';
        position: absolute;
        width: 5px;
        height: 100%;
        top: 0;
        opacity: .8;
        background: linear-gradient($color-blanco , rgba($color-blanco,0));
        @include responsive-width($responsive-450){
          width: 10px;
        }
      }
    }   
    &.-modal{   
      border-radius: 15px; 
      .Mnk-figure_img-text{
        display: none;
      }
      .Mnk-modal_video-content{
        position: absolute;
        left: 0;
        max-width: 465px;
        bottom: 0;
        color: $color-blanco;
        z-index: 6;
        padding-left: 20px;
        padding-bottom: 20px;
        @include responsive-width($responsive-991){
          padding-left: 50px;
          padding-bottom: 40px;
        }
        p{
          &:first-child{
            font-size: 18px;
            font-weight: 700;
            margin-bottom: 0;
            @include responsive-width($responsive-450){
              font-size: 24px;
            }
            @include responsive-width($responsive-767){
              font-size: 35px;
            }
            @include responsive-width($responsive-991){
              margin-bottom: 15px;
            }
          }
          &:last-child{
            display: none;
            @include responsive-width($responsive-991){
              margin-bottom: 0;
              display: block;
            }
          }
        }
      }
      .Mnk-figure_img-border-top{
        left: 0;
        right: 0;
        height: 100%;
        background: linear-gradient(180deg, rgba($color-negro, 0) 44.49%, rgba($color-negro, 0.8) 100%);
        z-index: 0;
      }
      .Mnk-figure_img-border-sides{
        border: 2px solid $color-blanco;
        border-radius: 15px;
        @include responsive-width($responsive-450){
          border-width: 3px;
        }
        @include responsive-width($responsive-991){
          border-width: 5px;
        }
        &:before, &:after{
          content: none;
        }
      }
    } 
    &.-absolute{
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
    }
    &.-icon-gallery{
      &:after{
        content: $font-Flaticon-photo-1;
        font-family: $font-icon;
        font-size: 40px;
        color: $color-blanco;
        right: 0;
        left: 0;
        text-align: center;
        opacity: 0;
        top: 50%;
        position: absolute;
        transform: translateY(-50%) scale(0,0);
        z-index: 4;
        transition-property: all;
        transition-duration: .5s;
        transition-timing-function: ease-in-out;
      }
    }
    &.-large{
      &:after{
        font-size: 70px;
      }
    }
    img{
      display: block;
      width: 100%;
      transform: scale(1);
      transition-property: all;
      transition-duration: .5s;
      transition-timing-function: ease-in-out;
    }
  }

  @at-root #{&}_titular{
    text-transform: uppercase;
    transition-property: all;
    transition-duration: .5s;
    transition-timing-function: ease-in-out;
    @include responsive-width($responsive-1024){
      transform: translateY(-50%);
    }
  }
  @at-root #{&}_frase{
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 3;
    width: 80%;
    max-width: 450px;
    text-align: center;
    transform: translateX(-50%) translateY(-50%);
    transition-property: all;
    transition-duration: .5s;
    transition-timing-function: ease-in-out;
    @include responsive-width($responsive-1024){
      transform: translateX(-50%) translateY(0);
    }
    p,span{
      transition-property: all;
      transition-duration: .5s;
      transition-timing-function: ease-in-out;
      @include responsive-width($responsive-1024){
        opacity: 0;
      }
    }
    span{
      @include responsive-width($responsive-1024){
        color : $color-principal;
      }
    }
  }


  &:hover{
    @include responsive-width($responsive-1024){
      &:before{
        background: rgba($color-negro,.2);
      }
      .Mnk-figure_img{
        &:before{
          //opacity: .1;
        }
        img{
        }
      }
      .Mnk-figure_img-border-sides{
        background-color: rgba($color-negro,.4);
      }
      .Mnk-figure_src{
        transform: scale(1.2,1.2);
      }
      [class^="-icon-"].Mnk-figure_img,
      [class*="-icon-"].Mnk-figure_img{
        &:after{
          opacity: 1;
          transform: translateY(-50%) scale(1,1);
        }
      }
      .Mnk-figure_frase{
        transform: translateX(-50%) translateY(-50%);
        p,span{
          opacity: 1;
        }
      }
      .Mnk-figure_titular{
        top: 0;
        transform: translateY(0%);
      }
    }
    &.-no-shadow{
      box-shadow: none;
    }
  }
}