.comment-respond{
  padding-top: 50px;
  @include responsive-width($responsive-767){
    padding-top: 80px;
  }
  .comment-reply-title{
    @extend .Mnk-h5;
  }
  .logged-in-as{
    @include font-size(0);
    a{
      &:first-child{
        @extend .Mnk-button;
        margin-right: 20px!important;
      }
      &:last-child{
        //@extend .Mnk-button-amarillo;
      }
    }
  }
  input, select{
    padding: 0 10px;
    height: $input-height-alterno;
    line-height: $input-line-height-alterno;
    @include responsive-width($responsive-767){
      height: $input-height-responsive-alterno;
      line-height: $input-line-height-responsive;
    }
  }
  input, optgroup, select, textarea {
    background-color: $input-background-alterno;
    border: 1px solid $input-border-alterno;
    color: $input-color-alterno;
    font-weight: 300;
    margin-bottom: 0;
    border-radius: $input-radius-alterno;
  }
  input:not([type="buttom"]):not([type="submit"]):focus,
  textarea:focus {
    border-color: $input-border-focus-alterno;
    background-color: $input-background-focus-alterno;
    color: $input-color-alterno;
  }
  input, select, textarea {
    @include input-placeholder {
      color: $input-placeholder-alterno;
    }
  }
  textarea {
    height: $textarea-height-alterno;
    @include responsive-width($responsive-767){
      height: $textarea-height-responsive-alterno;
    }
  }
  form{
    p:not(.logged-in-as){
      ~ [class*="comment-form-"]{
        //width: 50%;
      }
      ~ .comment-form-comment{
        //float: right;
        //padding-left: 10px;
        label{
          //left: 10px;
        }
      }
      ~ .comment-form-author,
      ~ .comment-form-email{
        //padding-right: 10px;
      }
    }
  }

  [class*="comment-form-"]{
    position: relative;
    margin-bottom: 25px;
    @include responsive-width($responsive-450){
      margin-bottom: 45px;
    }
    label{
      display: block;
      color: rgba($color-negro,.45);
      font-weight: 300;
      font-size: 17px;
      margin-bottom: 5px;
      @include responsive-width($responsive-450){
        margin-bottom: 15px;
      }
      @include responsive-width($responsive-991){
        font-size: 22px;
      }

      .required {
        color: $color-principal;
      }
    }
    @at-root .comment-form-comment{
      label{
        padding-top: 2px;
      }
      textarea{
        //height: 110px;
      }
    }
    @at-root .comment-form-focus{
      label{
        opacity: 0;
      }
    }
    @at-root .comment-form-out{
      label{
        opacity: 0;
        visibility: hidden;
        z-index: 1;
      }
    }
  }
  .comment-notes{
    font-size: 17px;
    @include responsive-width($responsive-991){
      font-size: 22px;
    }
  }
  .comment-notes, .comment-form-url{
    //display: none;
  }
  .form-submit{
    margin-top: 40px;
    margin-bottom: 0;
    position: relative;

    input{
      @extend .Mnk-button;
      width: 100%;
      @include responsive-width($responsive-450){
        width: auto;
      }
    }
  }
}
#comments{
  //display: none;
}
.comment-list{
  list-style: none;
  font-size: 17px;
  @include responsive-width($responsive-991){
    font-size: 22px;
  }
  > li:first-child{
    > article:first-child{
      padding-top: 0;
      .avatar{
        top: 0;
      }
    }
  }
  li{
    article{
      border-bottom: 1px solid $color-gris-claro;
      padding: 40px 0;
      @include responsive-width($responsive-767){
        padding: 60px 0;
      }
    }
    &.depth-1:last-child{
      article{
        //padding-bottom:65px;
      }
    }
  }
  .comment-metadata,.says{
    display: none;
  }
  .comment-body{
    position: relative;
  }
  .comment-body, .children{
    @include responsive-width($responsive-450){
      padding-left: 60px;
    }
  }
  .children{
    padding-left: 30px;
  }
  .avatar{
    display: none;
    position: absolute;
    left: 0;
    top: 40px;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    @include responsive-width($responsive-450){
      display: block;
    }
    @include responsive-width($responsive-767){
      top: 60px;
    }
  }
  .comment-author{
    margin-bottom: 10px;
  }
  .byuser .comment-author,
  .fn, .fn a{
    color: $color-titular;
  }
  .comment-content{
    @extend .Mnk-content;
  }
  .comment-reply-link{
    border-bottom: 1px solid $color-principal;
  }
  .comment-awaiting-moderation{
    color: $color-principal;
  }
}