.Mnk-select, .Mnk-input-alterno .Mnk-select{
  margin-bottom: 0;
  overflow: hidden;
  position: relative;
  select {
    margin: 0;
    padding: 0;
    padding: 5px 11px;
    @include appearance(none);
  }
}
.Mnk-select {
  &::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 12px;
    right: 15px;
    background: mnk-image-url(unquote('#{$input-select-img}')) no-repeat right center $input-background;
    top: 0;
    z-index: -1;
  }
  select{
    border-width: 0;
    border: 1px solid $input-border;
    //border-bottom: 1px solid $input-border;
    @include border-radius($input-radius);
  }
}