each mnk_basic_file, index in mnk_basic_files_js
    if(index < 1)
        - integrity = "sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
        if (index == 1)
            - integrity = "sha256-SOuLUArmo4YXtXONKz+uxIGSKneCJG4x0nVcA0pFzV0="
        script(src=mnk_basic_file integrity=integrity crossorigin="anonymous")
    else
        script.
            window.jQuery || document.write('<script src="!{mnk_dir_js + mnk_basic_file}.js"><\/script>')

each mnk_file, index in mnk_files_js
    script(src=mnk_dir_js + mnk_file + ".js")