footer(class="Mnk-relative Mnk-zindex-3 Mnk-footer Mnk-background-black Mnk-none Mnk-block-768")
	div(class="Mnk-container Mnk-align-center")
		div(class="Mnk-inline-block Mnk-box-inline-block -fixed Mnk-padding-top-35 Mnk-align-center Mnk-border-bottom -white")
			div(class="Mnk-block Mnk-margin-bottom-20 Mnk-inline-block-992")
				-title = 'Logo Ucal'
				img(src=mnk_dir_images + "ucal-logo-footer.png" alt=title)
			div(class="Mnk-align-left Mnk-padding-left-100-992")
				+footer_contacto("Icono ubicación","pin","Av. La Molina 3755, Sol de La Molina, Lima - Peru.")
				+footer_contacto("Icono teléfono","phone","Admisión: 622 2222 / Anexos: 5450, 5451")
			div(class="Mnk-align-left Mnk-padding-left-100")
				+footer_contacto("Icono whatsapp","whatsapp","WhatsApp: 942 632 791")
				+footer_contacto("Icono email","email","Correo electrónico: informes@ucal.edu.pe")
			div(class="Mnk-height-1 Mnk-background-white Mnk-block Mnk-opacity-20 Mnk-margin-top-30")
		div(class="Mnk-padding-top-30 Mnk-padding-bottom-30 Mnk-align-center")
			p(class="Mnk-font-12 Mnk-color-white Mnk-opacity-50 Mnk-margin-bottom") Copyright © Todos los derechos reservados 2019 – Universidad de Ciencias y Artes de América Latina.


a(class="Mnk-ancla_link Mnk-button_inscription Mnk-box-table -middle" href="#inscribete")
	span
		|inscríbete #[strong aquí]

+modal("Mnk-modal-cat-1")
	div(class="Mnk-relative Mnk-container")
		div(class="Mnk-modal_button-close")
		div(class="Mnk-box-table-992 -fixed-992 Mnk-padding-20-0 Mnk-padding-20-25-768")
			div
				- title = "Video Completo"
				- 
					content = `Reto Lorem ipsum dolor sit amet, 
						consectetur adipiscing elit, sed 
						do eiusmod tempor incididunt ut 
						labore et dolore magna aliqua.`
				+video("cat_1_video_modal_1.jpg",true,title,content)
			div(class="Mnk-aside_video-modal Mnk-box-inline-block -clear-992 Mnk-width-154-992 Mnk-width-175-1200 Mnk-margin-top-10 Mnk-padding-left-10-992")
				- title = "Explicación Profesor"
				div(class="Mnk-width-100 Mnk-width-150-768 Mnk-width-auto-992 Mnk-padding-0-5 Mnk-padding-992 Mnk-padding-bottom-10-992")
					+video("cat_1_video_modal_2.jpg",true,title,content)
				- title = "Evidencias Alumnos"
				div(class="Mnk-width-100 Mnk-width-150-768 Mnk-width-auto-992 Mnk-padding-0-5 Mnk-padding-992 Mnk-padding-bottom-10-992")
					+video("cat_1_video_modal_3.jpg",true,title,content)
				- title = "Video Completo"
				div(class="Mnk-width-100 Mnk-width-150-768 Mnk-width-auto-992 Mnk-padding-0-5 Mnk-padding-992 Mnk-padding-bottom-10-992")
					+video("cat_1_video_modal_4.jpg",true,title,content)

+modal("Mnk-menu_mobile")
	div(class="Mnk-modal_button-close")
	div(class="Mnk-relative Mnk-padding-30-20 Mnk-padding-top-60")
		- 
			menu = [
				[
					"Arquitectura",
					""
				],
				[
					"Arquitectura de Interiores",
					""
				],
				[
					"Comunicación Audiovisual y Cine",
					""
				],
				[
					"Comunicación y Publicidad Transmedia",
					""
				],
				[
					"Comunicación e Imagen ",
					""
				],
				[
					"Comunicación y Periodismo",
					""
				],
				[
					"Comunicaciones",
					""
				],
				[
					"Diseño Gráfico Estratégico",
					""
				],
				[
					"Diseño Gráfico Publicitario",
					""
				],
				[
					"Marketing e Innovación",
					""
				],
			]
		ul(class="Mnk-menu")
			each menu_item in menu
				li
					a(
						href=menu_item[1]        
						target="_blank"         
						title="Ir a " + menu_item[0]
					) !{menu_item[0]}

div(class="Mnk-menu-fixed Mnk-fixed -bottom -left Mnk-width-full Mnk-align-center Mnk-none-768")
	div(class="Mnk-box-table")
		a(href="#videos" class="Mnk-ancla_link Mnk-item Mnk-col-33")
			div(class="Mnk-item_icon")
				img(class="Mnk-item_icon_gray" src=mnk_dir_images + "icon-menu-retos-gris.svg" alt=title)
				img(class="Mnk-item_icon_white" src=mnk_dir_images + "icon-menu-retos-blanco.svg" alt=title)
			div(class="Mnk-item-text")
				p() Retos
		a(href="javascript:void(0)" class="Mnk-modal_button_js Mnk-item Mnk-col-33" data-modal="Mnk-menu_mobile")
			div(class="Mnk-item_icon")
				img(class="Mnk-item_icon_gray" src=mnk_dir_images + "icon-menu-carreras-gris.svg" alt=title)
				img(class="Mnk-item_icon_white" src=mnk_dir_images + "icon-menu-carreras-blanco.svg" alt=title)
			div(class="Mnk-item-text")
				p() Carreras
		a(href="#inscribete" class="Mnk-ancla_link Mnk-item Mnk-col-33")
			div(class="Mnk-item_icon")
				img(class="Mnk-item_icon_gray" src=mnk_dir_images + "icon-menu-inscribete-gris.svg" alt=title)
				img(class="Mnk-item_icon_white" src=mnk_dir_images + "icon-menu-inscribete-blanco.svg" alt=title)
			div(class="Mnk-item-text")
				p() Inscríbete
