head
    title= title_view
    meta(charset="UTF-8")
    meta(http-equiv="x-ua-compatible" content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(name="title", content=title_view)
    meta(name="description", content= descripcion_view)

    link(rel="canonical", href=mnk_dir_view)

    if proyecto == "desarrollo"
        each mnk_file in mnk_files_css
            link(rel="stylesheet", href=mnk_dir_css+mnk_file+".css")
    else
        each mnk_file in mnk_files_css
            link(rel="stylesheet", href=mnk_dir_css + mnk_file + ".css")

    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Rubik:400,400i,500,500i,700,700i&display=swap")

    script.
        MNK_ADMIN_URL = ""
    <!--[if IE 8]>
        script(src=mnk_dir_js + "html5.js")
    <![endif]-->
