div(class="Mnk-header")
    div(class="Mnk-margin-auto Mnk-width-970-992 Mnk-width-1100-1200 Mnk-padding-0-20 Mnk-padding-0-30-451 Mnk-padding-992")
        div(class="Mnk-box-table -middle -fixed")
            h1(class="Mnk-logo" title="")
                a(
                href=mnk_dir_url
                title=""
                )
                    - logo = "logo_fixed"
                    img(
                    src=mnk_dir_images + logo + ".svg"
                    alt=""
                    )
                    strong(class="Mnk-visual-hidden") !{title_view}
            div
                div(class="Mnk-box-table -middle Mnk-float-right Mnk-height-full Mnk-width-auto")
                    div
                        div(class="Mnk-social -round")
                            +social_svg("facebook","")
                                include ../../images/facebook.svg
                            +social_svg("instagram","")
                                include ../../images/instagram.svg
                            +social_svg("youtube","")
                                include ../../images/youtube.svg
                            +social_svg("twitter","")
                                include ../../images/twitter.svg
                                
                include _menu
