ul(class="Mnk-menu")
    - 
        menu = [
            [
                "Conoce los retos",
                "javascript:void(0)",
                "submenu",
                [
                    [
                        "Aequitectura",
                        "?reto=arquitectura"                        
                    ],
                    [
                        "Diseño",
                        "?reto=diseno-grafico"
                    ],
                    [
                        "Comunicación",
                        "?reto=comunicacion"
                    ],
                    [
                        "Marketing",
                        "?reto=marketing"
                    ]
                ]
            ],
            [
                "Carreras",
                "",
                "_blank"
            ],
            [
                "Inscríbete aquí",
                "#inscribete",
                "anchor"
            ]
        ]

    each menu_item, index in menu
        li(
            class={
                'menu-item-has-children': (menu_item[2] === "submenu")
            }
        )
            a(
                href=menu_item[1]            
                target=(menu_item[2] === "_blank" ? menu_item[2] : '_self')         
                title="Ir a " + menu_item[0]
                 class={
                    'Mnk-ancla_link': (menu_item[2] === "anchor")
                }
            )
                span= menu_item[0]
                if menu_item[2] === "submenu"
                    span 
                        include ../../images/down.svg
            if menu_item[2] === "submenu"
                ul(class="sub-menu")
                    each menu_item in menu[index][3]
                        li 
                            a(href=menu_item[1])
                                span !{menu_item[0]}