.Mnk-menu_body{
  &:not(.-movil){
    height: 100%;
    width: 100%;
    overflow: hidden;
  }
  @at-root #{&}:not(.-movil) .Mnk-logo{
    position: relative;
    z-index: 11;
  }
  @at-root #{&} #{&}-flotante{
    position: relative;
    z-index: 11;
  }
}

.Mnk-menu_container{
  position: fixed;
  right: 0;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 1;
  visibility: hidden;
  transition-property: all;
  transition-duration: .3s;
  transition-timing-function: ease-in-out;
  opacity: 0;
  &.-open{
    visibility: visible;
    opacity: 1;
    z-index: 10;
    .Mnk-menu_mobile{
        opacity: 1;
    }
  }
}

.Mnk-menu_mobile{
  position: relative;
  padding-top: 15px;
  padding-bottom: 30px;
  transition-property: all;
  transition-duration: .3s;
  transition-delay: .15s;
  transition-timing-function: ease-in-out;
  opacity: 0;
  @include grid-table(middle);
  height: 100%;
  @include responsive-width($responsive-450){
    padding-top: 30px;
    transition-delay: .3s;
  }
  @include responsive-width($responsive-767){
    padding-bottom: 15px;
    padding-top: 15px;
  }
  @at-root .Mnk-menu_datos-flotante{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
  }
}
.Mnk-menu_button{
  display: table-cell;
  vertical-align: middle;
  cursor: pointer;
  span {
    display: block;
    height: 2px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 1px;
    transition-property: all;
    transition-duration: .3s;
    transition-timing-function: ease-in-out;
    &:first-child{
      //margin-left: 7px;
    }
    &:last-child{
      //margin-right: 7px;
    }
    &:not(:first-child):not(:last-child){
      margin-top: 4px;
      margin-bottom: 4px;
      width: 32px;
    }
  }
  &.-open{
    position: relative;
    z-index: 11;
    span{
      &:first-child{
        margin-left: 0;
        transform: translateY(6px) rotate(45deg)
      }
      &:last-child{
        margin-right: 0;
        transform: translateY(-6px) rotate(-45deg)
      }
      &:not(:first-child):not(:last-child){
        opacity: 0;
      }
    }
  }
}
.Mnk-menu_scroll{
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto;
}

@import "tema";