.Mnk-menu{
  @include responsive-width($responsive-1024){
    @at-root .Mnk-menu_container:not(.-movil){
      .Mnk-menu{
        display: table;
        height: 100%;
        li{
          float: left;
          display: table;
          height: 100%;
        }
      }
    }
  }
  @at-root .Mnk-menu_link{
    display: block;
    color: rgba($color-blanco,.8);
    position: relative;
    padding: 15px;
    font-size: 18px;
    font-weight: 700;
    font-family: $font-family-principal;
    letter-spacing: -.03em;
    text-align: center;
    text-transform: uppercase;
    transition-property: all;
    transition-duration: .3s;
    transition-timing-function: ease-in-out;

    &:before{
      content: '';
      position: absolute;
      bottom: 3px;
      height: 3px;
      width: 50px;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
      transition-property: all;
      transition-duration: .3s;
      transition-timing-function: ease-in-out;
      @at-root .Mnk-menu_container:not(.-movil) .Mnk-menu_link{
        &:before{
          @include responsive-width($responsive-767){
            bottom: 10px;
          }
          @include responsive-width($responsive-1024){
            left: 50%;
            right: 50%;
            bottom: auto;
            top: 0;
            width: auto;
          }
        }
      }
    }
    @at-root .Mnk-menu_container:not(.-movil) .Mnk-menu_link{
      @include responsive-width($responsive-450){
        font-size: 22px;
      }
      @include responsive-width($responsive-767){
        padding: 25px 15px;
      }
      @include responsive-width($responsive-1024){
        padding: 10px;
        font-size: 13px;

        display: table-cell;
        vertical-align: middle;
      }
      @include responsive-width($responsive-1680){
        padding: 10px 20px;
      }
    }

    &:not(.-current){
      @include responsive-width($responsive-1024){
        &:hover{
          color: $color-blanco;
          &:before{
            background-color: $color-alterno;
            left: 0;
            right: 0;
          }
        }
      }
    }
    //&.-current,
    @at-root .Mnk-menu_container:not(.-movil) #{&}.-current{
      @include responsive-width($responsive-1024){
        color: $color-blanco;
        &:before{
          background-color: $color-alterno;
          left: 0;
          right: 0;
        }
      }
    }
  }
}

.Mnk-menu_container{
  background-color: rgba($color-principal,0.95);

  @include responsive-width($responsive-1024){
    &:not(.-movil){
      background: transparent;
      position: relative;
      height: 100%;
      z-index: inherit;
      visibility: visible;
      opacity: 1;
      float: right;
      @include grid-table(middle);
      width: auto;
    }
  }
  &.-open{
    .Mnk-menu_mobile{
      @include responsive-width($responsive-450){
        //transform: translateY(0);
      }
    }
  }
}
.Mnk-menu_mobile{
  @include responsive-width($responsive-1024){
    @at-root .Mnk-menu_container:not(.-movil){
      .Mnk-menu_mobile{
        padding-top: 0;
        padding-bottom: 0;
        opacity: 1;
        display: table;
        height: 100%;
      }
    }
  }
}
.Mnk-menu_button{
  span {
    background-color: $color-blanco;
    &:first-child{
      margin-left: 7px;
    }
    &:last-child{
      margin-right: 7px;
    }
  }
  &.-open{
    span{
      background-color: $color-blanco!important;
    }
  }
}
.Mnk-menu_scroll{
  top: 75px;
  @include responsive-width($responsive-450){
    top: 90px;
  }
  @include responsive-width($responsive-1024){
    @at-root .Mnk-menu_container:not(.-movil){
      .Mnk-menu_scroll{
        position: relative;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        overflow-y: inherit;
      }
    }
  }
}
.Mnk-menu_body:not(.-movil){
  > *:not(.Mnk-header):not(.Mnk-modal):not(.Mnk-menu_fixed):not(.Mnk-menu_button-fixed){
    @include responsive-width($responsive-450){
      filter: blur(1.5px);
    }
    transition-property: all;
    transition-duration: .2s;
    transition-timing-function: linear;
  }
}