.Mnk-animation{
  visibility: hidden;
  &.-scroll{
    visibility: visible;
    @include responsive-width($responsive-450){
      visibility: visible;
    }
  }
  &.-css{
    visibility: visible;
    @include responsive-width($responsive-1024){
      visibility: visible;
    }
  }
  &.-hover-css{
    visibility: visible;
    @include responsive-width($responsive-1024){
      &:hover{
        visibility: visible;
      }
    }
  }
  &.-active{
    visibility: visible;
  }
  &.-scale{
    /*&:not(.-scroll):not(.-css){
      transform: scale(0);
      opacity: 0;
      transition-property: all;
      transition-duration: .3s;
      transition-timing-function: ease-in-out;
      &.-active{
        transform: scale(1);
        opacity: 1;
      }
    }*/
    &{
      transform: scale(0);
      opacity: 0;
      transition-property: all;
      transition-duration: .3s;
      transition-timing-function: ease-in-out;
      &.-active{
        transform: scale(1);
        opacity: 1;
      }
    }
    &.-scroll{
      @include responsive-width($responsive-450){
        transform: scale(0);
        opacity: 0;
        transition-property: all;
        transition-duration: .3s;
        transition-timing-function: ease-in-out;
        &.-active{
          transform: scale(1);
          opacity: 1;
        }
      }
    }
    &.-css{
      @include responsive-width($responsive-1024){
        transform: scale(0);
        opacity: 0;
        transition-property: all;
        transition-duration: .3s;
        transition-timing-function: ease-in-out;
        &.-active{
          transform: scale(1);
          opacity: 1;
        }
      }
    }
  }
  &.-rotate-bottom{
    @include responsive-width($responsive-1024){
      &.-active{
        perspective: 1300px;
        .Mnk-animation_content {
          transform: translateY(0%) rotateX(0deg);
          opacity: 1;
        }
      }
      .Mnk-animation_content {
        transform-style: preserve-3d;
        transform: translateY(100%) rotateX(90deg);
        transform-origin: 0 100%;
        opacity: 0;
        transition-property: all;
        transition-duration: .3s;
        transition-timing-function: ease-in-out;
      }
    }
  }
  &.-fade-in{
    /*&:not(.-scroll):not(.-css){
      opacity: 0;
      transition-property: all;
      transition-duration: .3s;
      transition-timing-function: ease-in-out;
      &.-active{
        opacity: 1;
      }
    }*/
    &{
      opacity: 0;
      transition-property: all;
      transition-duration: .3s;
      transition-timing-function: ease-in-out;
      &.-active{
        opacity: 1;
      }
    }
    &.-scroll{
      @include responsive-width($responsive-450){
        opacity: 0;
        transition-property: all;
        transition-duration: .3s;
        transition-timing-function: ease-in-out;
        &.-active{
          opacity: 1;
        }
      }
    }
    &.-css{
      @include responsive-width($responsive-1024){
        opacity: 0;
        transition-property: all;
        transition-duration: .3s;
        transition-timing-function: ease-in-out;
        &.-active{
          opacity: 1;
        }
      }
    }
  }
  &.-slide-top{
    /*&:not(.-scroll):not(.-css):not(.Mnk-animation_hover-css){
      transform: translateY(-20%);
      opacity: 0;
      transition-property: all;
      transition-duration: .3s;
      transition-timing-function: ease-in-out;
      &.-active{
        transform: translateY(0);
        opacity: 1;
      }
    }*/
    &{
      transform: translateY(-20%);
      opacity: 0;
      transition-property: all;
      transition-duration: .3s;
      transition-timing-function: ease-in-out;
      &.-active{
        transform: translateY(0);
        opacity: 1;
      }
    }
    &.-scroll{
      @include responsive-width($responsive-450){
        transform: translateY(-20%);
        opacity: 0;
        transition-property: all;
        transition-duration: .3s;
        transition-timing-function: ease-in-out;
        &.-active{
          transform: translateY(0);
          opacity: 1;
        }
      }
    }
    &.-css{
      @include responsive-width($responsive-1024){
        transform: translateY(-20%);
        opacity: 0;
        transition-property: all;
        transition-duration: .3s;
        transition-timing-function: ease-in-out;
        &.-active{
          transform: translateY(0);
          opacity: 1;
        }
      }
    }
    &.-hover-css{
      transform: translateY(-20%);
      opacity: 0;
      transition-property: all;
      transition-duration: .3s;
      transition-timing-function: ease-in-out;
      @include responsive-width($responsive-1024){
        &:hover{
          transform: translateY(0);
          opacity: 1;
        }
      }
    }
  }
  &.-slide-right{
    /*&:not(.-scroll):not(.-css){
      transform: translateX(20%);
      opacity: 0;
      transition-property: all;
      transition-duration: .3s;
      transition-timing-function: ease-in-out;
      &.-active{
        transform: translateX(0);
        opacity: 1;
      }
    }*/
    &{
      transform: translateX(20%);
      opacity: 0;
      transition-property: all;
      transition-duration: .3s;
      transition-timing-function: ease-in-out;
      &.-active{
        transform: translateX(0);
        opacity: 1;
      }
    }
    &.-scroll{
      @include responsive-width($responsive-450){
        transform: translateX(20%);
        opacity: 0;
        transition-property: all;
        transition-duration: .3s;
        transition-timing-function: ease-in-out;
        &.-active{
          transform: translateX(0);
          opacity: 1;
        }
      }
    }
    &.-css{
      @include responsive-width($responsive-1024){
        transform: translateX(20%);
        opacity: 0;
        transition-property: all;
        transition-duration: .3s;
        transition-timing-function: ease-in-out;
        &.-active{
          transform: translateX(0);
          opacity: 1;
        }
      }
    }
  }
  &.-slide-bottom{
    /*&:not(.-scroll):not(.-css):not(.-hover-css){
      transform: translateY(20%);
      opacity: 0;
      transition-property: all;
      transition-duration: .3s;
      transition-timing-function: ease-in-out;
      &.-active{
        transform: translateY(0);
        opacity: 1;
      }
    }*/
    &{
      transform: translateY(20%);
      opacity: 0;
      transition-property: all;
      transition-duration: .3s;
      transition-timing-function: ease-in-out;
      &.-active{
        transform: translateY(0);
        opacity: 1;
      }
    }
    &.-scroll{
      @include responsive-width($responsive-450){
        transform: translateY(20%);
        opacity: 0;
        transition-property: all;
        transition-duration: .3s;
        transition-timing-function: ease-in-out;
        &.-active{
          transform: translateY(0);
          opacity: 1;
        }
      }
    }
    &.-css{
      @include responsive-width($responsive-1024){
        transform: translateY(20%);
        opacity: 0;
        transition-property: all;
        transition-duration: .3s;
        transition-timing-function: ease-in-out;
        &.-active{
          transform: translateY(0);
          opacity: 1;
        }
      }
    }
    &.-hover-css{
      transform: translateY(20%);
      opacity: 0;
      transition-property: all;
      transition-duration: .3s;
      transition-timing-function: ease-in-out;
      @include responsive-width($responsive-1024){
        &:hover{
          transform: translateY(0);
          opacity: 1;
        }
      }
    }
  }
  &.-slide-left{
    /*&:not(.-scroll):not(.-css){
      transform: translateX(-20%);
      opacity: 0;
      transition-property: all;
      transition-duration: .3s;
      transition-timing-function: ease-in-out;
      &.-active{
        transform: translateX(0);
        opacity: 1;
      }
    }*/
    &{
      transform: translateX(-20%);
      opacity: 0;
      transition-property: all;
      transition-duration: .3s;
      transition-timing-function: ease-in-out;
      &.-active{
        transform: translateX(0);
        opacity: 1;
      }
    }
    &.-scroll{
      @include responsive-width($responsive-450){
        transform: translateX(-20%);
        opacity: 0;
        transition-property: all;
        transition-duration: .3s;
        transition-timing-function: ease-in-out;
        &.-active{
          transform: translateX(0);
          opacity: 1;
        }
      }
    }
    &.-css{
      @include responsive-width($responsive-1024){
        transform: translateX(-20%);
        opacity: 0;
        transition-property: all;
        transition-duration: .3s;
        transition-timing-function: ease-in-out;
        &.-active{
          transform: translateX(0);
          opacity: 1;
        }
      }
    }
  }
  &.-slide-top-out{
    /*&:not(.-scroll):not(.-css){
      transition-property: all;
      transition-duration: .3s;
      transition-timing-function: ease-in-out;

      transform: translateY(-20%);
      opacity: 0;
      visibility: hidden;
    }*/
    &{
      transition-property: all;
      transition-duration: .3s;
      transition-timing-function: ease-in-out;

      transform: translateY(-20%);
      opacity: 0;
      visibility: hidden;
    }
    &.-scroll{
      @include responsive-width($responsive-450){
        transition-property: all;
        transition-duration: .3s;
        transition-timing-function: ease-in-out;

        transform: translateY(-20%);
        opacity: 0;
        visibility: hidden;
      }
    }
    &.-css{
      @include responsive-width($responsive-1024){
        transition-property: all;
        transition-duration: .3s;
        transition-timing-function: ease-in-out;

        transform: translateY(-20%);
        opacity: 0;
        visibility: hidden;
      }
    }
  }
  &.-slide-bottom-out{
    /*&:not(.-scroll):not(.-css){
      transition-property: all;
      transition-duration: .3s;
      transition-timing-function: ease-in-out;

      transform: translateY(20%);
      opacity: 0;
      visibility: hidden;
    }*/
    &{
      transition-property: all;
      transition-duration: .3s;
      transition-timing-function: ease-in-out;

      transform: translateY(20%);
      opacity: 0;
      visibility: hidden;
    }
    &.-scroll{
      @include responsive-width($responsive-450){
        transition-property: all;
        transition-duration: .3s;
        transition-timing-function: ease-in-out;

        transform: translateY(20%);
        opacity: 0;
        visibility: hidden;
      }
    }
    &.-css{
      @include responsive-width($responsive-1024){
        transition-property: all;
        transition-duration: .3s;
        transition-timing-function: ease-in-out;

        transform: translateY(20%);
        opacity: 0;
        visibility: hidden;
      }
    }
  }
  &.-slide-right-out{
    /*&:not(.-scroll):not(.-css){
      transition-property: all;
      transition-duration: .3s;
      transition-timing-function: ease-in-out;

      transform: translateX(20%);
      opacity: 0;
      visibility: hidden;
    }*/
    &{
      transition-property: all;
      transition-duration: .3s;
      transition-timing-function: ease-in-out;

      transform: translateX(20%);
      opacity: 0;
      visibility: hidden;
    }
    &.-scroll{
      @include responsive-width($responsive-450){
        transition-property: all;
        transition-duration: .3s;
        transition-timing-function: ease-in-out;

        transform: translateX(20%);
        opacity: 0;
        visibility: hidden;
      }
    }
    &.-css{
      @include responsive-width($responsive-1024){
        transition-property: all;
        transition-duration: .3s;
        transition-timing-function: ease-in-out;

        transform: translateX(20%);
        opacity: 0;
        visibility: hidden;
      }
    }
  }
  @each $delay in $delay-list {
    $delay-valor: unquote('#{$delay*.1}s');
    @at-root #{&}-delay-#{$delay} {
      transition-delay: $delay-valor;
    }
  }
}
@each $scale in $scale-list {
  .Mnk-scale-#{$scale*100}{
    transform: scale($scale);
    transition-property: all;
    transition-duration: .3s;
    transition-timing-function: ease-in-out;
  }
}

.Mnk-scale-mirror{
  transform: scale(-1,1);
}
