.Mnk-background-before{
  &:before{
    content: '';
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    background: $background-color;
  }
  &, > *{
    position: relative;
  }
  &.-under-img{
    &:before{
      z-index: 2;
    }
  }
  @each $color-nombre, $color-valor in $color-list {
    @if($color-nombre!=none){
      &.-#{$color-nombre}{
        &:before{
          background: $color-valor;
        }
      }
      @include responsive-width($responsive-1024){
        &.-#{$color-nombre}-hover{
          &:before{
            transition-property: all;
            transition-duration: .3s;
            transition-timing-function: ease-in-out;
          }
          &:hover{
            &:before{
              background: $color-valor;
            }
          }
        }
      }
    }
  }
  @each $color-nombre, $color-valor in $background-list {
    &.-#{$color-nombre}{
      &:before{
        background: $color-valor;
      }
    }
  }
  @each $color-nombre in $opacity-list {
    &.-opacity-#{$color-nombre*100}{
      &:before{
        opacity: $color-nombre;
      }
    }
    @include responsive-width($responsive-1024){
      &.-opacity-#{$color-nombre*100}-hover{
        &:before{
          transition-property: all;
          transition-duration: .7s;
          transition-timing-function: ease-in-out;
        }
        &:hover{
          &:before{
            opacity: $color-nombre;
          }
        }
      }
    }
  }
}

@each $color-nombre, $color-valor in $color-list {
  $background-nombre: '.Mnk-background';
  $background-nombre-hover: '.-hover';
  $background-valor: $background-color;
  @if ($color-nombre!=none) {
    $background-nombre: '.Mnk-background-#{$color-nombre}';
    $background-nombre-hover: '.-#{$color-nombre}-hover';
    $background-valor: $color-valor;
  }

  #{$background-nombre}{
    background-color: $background-valor;
  }
  @include responsive-width($responsive-1024){
    [class^="Mnk-background"]#{$background-nombre-hover},
    [class*="Mnk-background"]#{$background-nombre-hover}{
      transition-property: all;
      transition-duration: .3s;
      transition-timing-function: ease-in-out;
      &:hover{
        background-color: $background-valor;
      }
    }
    .Mnk-box-background-hover{
      &:hover{
        #{$background-nombre-hover}{
          background-color: $background-valor;
        }
      }
    }
  }
}

@each $color-nombre, $color-valor in $background-list {
  .Mnk-background-#{$color-nombre}{
    background: $color-valor;
  }
}

.Mnk-background-img {
  background-position: center center;
  background-repeat: no-repeat;
  &.-top{
    background-position: center top;
  }
  &.-cover{
    background-size: cover;
  }
  &.-fixed{
    background-attachment: fixed;
  }
}
