.Mnk-border{
  @at-root #{&}:not(.-top):not(.-right):not(.-bottom):not(.-left){
    border: 1px solid $border-color;
  }
  @each $direction in $direction-list{
    @if($direction!=all){
      &.-#{$direction}{
        border-#{$direction}: 1px solid $border-color;
      }
    }
  }
  &.-dashed{
    @at-root #{&}:not(.-top):not(.-right):not(.-bottom):not(.-left){
      border-style: dashed;
    }
    @each $direction in $direction-list{
      @if($direction!=all){
        &.-#{$direction}{
          border-#{$direction}-style: dashed;
        }
      }
    }
  }
  &.-clear{
    &:not(.-top):not(.-right):not(.-bottom):not(.-left){
      border-width: 0;
    }
  }
}

@mixin mnk-border($nombre, $color, $grosor, $hover: null, $box_hover: null, $media_query: null){

  @if($nombre){
    $clase_border: ".-#{$nombre}";
    [class^="Mnk-border"]#{$clase_border},
    [class*="Mnk-border"]#{$clase_border}{
      &, &:not(.-top):not(.-right):not(.-bottom):not(.-left){
        border-color: $color;
      }
    }
  }
  @if($grosor){
    $clase_border_grosor: ".-border-width-#{$grosor}";
    [class^="Mnk-border"]#{$clase_border_grosor},
    [class*="Mnk-border"]#{$clase_border_grosor}{
      &, &:not(.-top):not(.-right):not(.-bottom):not(.-left){
        border-width: $grosor*1px;
      }
    }
  }

  @if($hover){
    $clase_border_hover: ".-#{$nombre}-hover";
    [class^="Mnk-border"]#{$clase_border_hover},
    [class*="Mnk-border"]#{$clase_border_hover}{
      &, &:not(.-top):not(.-right):not(.-bottom):not(.-left){
        transition-property: all;
        transition-duration: 300ms;
        transition-timing-function: ease-in-out;
        &:hover {
          @include responsive-width($responsive-1024) {
            border-color: $color;
          }
        }
      }
    }
    @if($grosor){
      $clase_border_grosor: ".-border-width-#{$grosor}-hover";
      [class^="Mnk-border"]#{$clase_border_grosor},
      [class*="Mnk-border"]#{$clase_border_grosor}{
        &, &:not(.-top):not(.-right):not(.-bottom):not(.-left){
          transition-property: all;
          transition-duration: 300ms;
          transition-timing-function: ease-in-out;
          &:hover {
            @include responsive-width($responsive-1024) {
              border-width: $grosor*1px;
            }
          }
        }
      }
    }
  }

  @if($box_hover){
    $clase_border_hover: ".-#{$nombre}-hover";
    $clase_border_grosor: ".-border-width-#{$grosor}-hover";
    .Mnk-box-border-hover{
      &:hover {
        @include responsive-width($responsive-1024) {
          [class^="Mnk-border"]#{$clase_border_hover},
          [class*="Mnk-border"]#{$clase_border_hover}{
            &, &:not(.-top):not(.-right):not(.-bottom):not(.-left){
              border-color: $color;
            }
          }
          @if($grosor){
            [class^="Mnk-border"]#{$clase_border_grosor},
            [class*="Mnk-border"]#{$clase_border_grosor}{
              &, &:not(.-top):not(.-right):not(.-bottom):not(.-left){
                border-width: $grosor*1px;
              }
            }
          }
        }
      }
    }
  }

  @if($media_query){
    $clase_border: ".-#{$nombre}-";
    [class^="Mnk-border"]#{$clase_border}#{$media_query},
    [class*="Mnk-border"]#{$clase_border}#{$media_query}{
      @include responsive-width($media_query*1px){
        &, &:not(.-top):not(.-right):not(.-bottom):not(.-left){
          border-color: $color;
        }
      }
    }
    [class^="Mnk-border"]#{$clase_border}#{$media_query},
    [class*="Mnk-border"]#{$clase_border}#{$media_query}{
      @include responsive-width($media_query*1px){
        &, &:not(.-top):not(.-right):not(.-bottom):not(.-left):not([class^="-border-width-"]):not([class*="-border-width-"]){
          border-width: 1px;
        }
      }
    }
    @if($grosor){
      $clase_border_grosor: ".-border-width-#{$grosor}-#{$media_query}";
      [class^="Mnk-border"]#{$clase_border_grosor},
      [class*="Mnk-border"]#{$clase_border_grosor}{
        @include responsive-width($media_query*1px){
          &, &:not(.-top):not(.-right):not(.-bottom):not(.-left){
            border-width: $grosor*1px;
          }
        }
      }
    }
  }

}

@mixin mnk-border-radius($direction, $valor, $media_query: null){

  @if($direction=='all'){
    .Mnk-border-radius-#{$valor}{
      border-radius: $valor*1px;
    }
  }
  @if($direction=='top' or $direction=='bottom'){
    .Mnk-border-radius-#{$direction}-#{$valor}{
      border-#{$direction}-left-radius: $valor*1px;
      border-#{$direction}-right-radius: $valor*1px;
    }
  }
  @if($direction=='right' or $direction=='left'){
    .Mnk-border-radius-#{$direction}-#{$valor}{
      border-top-#{$direction}-radius: $valor*1px;
      border-bottom-#{$direction}-radius: $valor*1px;
    }
  }

  @if($media_query){
    @if($direction=='all'){
      .Mnk-border-radius-#{$valor}-#{$media_query}{
        @include responsive-width($media_query*1px){
          border-radius: $valor*1px;
        }
      }
    }
    @if($direction=='top' or $direction=='bottom'){
      .Mnk-border-radius-#{$direction}-#{$valor}-#{$media_query}{
        @include responsive-width($media_query*1px) {
          border-#{$direction}-left-radius: $valor*1px;
          border-#{$direction}-right-radius: $valor*1px;
        }
      }
    }
    @if($direction=='right' or $direction=='left'){
      .Mnk-border-radius-#{$direction}-#{$valor}-#{$media_query}{
        @include responsive-width($media_query*1px) {
          border-top-#{$direction}-radius: $valor*1px;
          border-bottom-#{$direction}-radius: $valor*1px;
        }
      }
    }
  }

}

.Mnk-border-radius-full{
  border-radius: 100%;
}

/*
@include mnk-border-color(clase, color, grosor, hover, box-hover, responsive);
@include mnk-border-radius(direction, valor, responsive)
*/

@include mnk-border(primary,$color-principal,null,null,null,null);
@include mnk-border(secondary, $color-alterno,null,null,null,null);