.Mnk-box-table {
  @include grid-table;
  &.-middle{
    > *{
      vertical-align: middle;
    }
  }
  &.-bottom{
    > *{
      vertical-align: bottom;
    }
  }
  &.-fixed{
    table-layout: fixed;
  }
}

.Mnk-table{
  display: table;
  &.-fixed{
    table-layout: fixed;
  }
  @at-root #{&}_header{
    display: table-header-group;
  }
  @at-root #{&}_cell{
    display: table-cell;
    vertical-align: top;
    &.-middle{
      vertical-align: middle;
    }
    &.-bottom{
      vertical-align: bottom;
    }
  }
  @at-root #{&}_row{
    display: table-row;
  }
  @at-root #{&}_body{
    display: table-row-group;
  }
  @at-root #{&}_footer{
    display: table-footer-group;
  }
}

.Mnk-box-inline-block {
  @include inline-block-sin-espacios;
  &.-middle{
    > *{
      vertical-align: middle;
    }
  }
  &.-clear {
    font-size : inherit;
    letter-spacing : $letter-spacing;
    word-spacing : normal;
    > *{
      display: block;
    }
    @include firefox{
      font-size : inherit;
      letter-spacing : $letter-spacing;
      word-spacing : normal;
    }
    @include chrome{
      word-spacing : normal;
    }
  }
}

.Mnk-inline-block {
  display: inline-block;
  &.-top{
    vertical-align: top;
  }
  &.-middle{
    vertical-align: middle;
  }
}

.Mnk-block {
  display: block;
}

.Mnk-float-left {
  float: left;
}
.Mnk-float-right {
  float: right;
}

.Mnk-none {
  display: none;
}

.Mnk-absolute {
  position: absolute;
  @each $direction in $direction-list{
    @if($direction!=all){
      &.-#{$direction} {
        #{$direction}: 0;
      }
    }
  }
  @at-root #{&}_center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    &.-horizontal{
      top: auto;
      transform: translateX(-50%);
    }
    &.-vertical{
      left: auto;
      transform: translateY(-50%);
    }
  }
}

.Mnk-relative {
  position: relative;
}

.Mnk-fixed {
  position: fixed;
}

@each $zindex in $zindex-list{
  .Mnk-zindex-#{$zindex} {
    z-index: $zindex;
  }
}

.Mnk-overflow{
  @at-root #{&}-hidden{
    overflow: hidden;
  }
  @at-root #{&}-scroll{
    overflow: scroll;
  }
  @at-root #{&}-auto{
    overflow: auto;
  }
}

.Mnk-container {
  margin: auto;
  width: auto;
  padding-left: 20px;
  padding-right: 20px;
  @include responsive-width($responsive-450){
    padding-left: 30px;
    padding-right: 30px;
  }
  @include responsive-width($responsive-767){
    padding-left:0;
    padding-right:0;
    width: $container-768;
  }
  @include responsive-width($responsive-991){
    width: $container-992;
  }
  @include responsive-width($responsive-1199){
    width: $container-1200;
  }
  @include responsive-width($responsive-1680){
    //width: $container;
  }
}