@each $margin in $margin-negativo-list{
  @for $i from 1 through length($direction-list) {
    @if(nth($direction-list, $i)!=all){
      @if($margin!=0){
        .Mnk-margin-#{nth($direction-list, $i)}--#{$margin}{
          margin-#{nth($direction-list, $i)}: unquote('#{-$margin}px');
        }
      }
    }
  }
}

.Mnk-margin-auto{
  margin-left: auto;
  margin-right: auto;
}
.Mnk-margin-left-auto{
  margin-left: auto;
}
.Mnk-margin-right-auto{
  margin-right: auto;
}


@each $margin in $margin-list{
  @for $i from 1 through length($direction-list) {
    $clase_margin: ".Mnk-margin-#{$margin}";
    $clase_margin_direction: ".Mnk-margin-#{nth($direction-list, $i)}-#{$margin}";

    @if($margin==0){
      $clase_margin: ".Mnk-margin";
      $clase_margin_direction: ".Mnk-margin-#{nth($direction-list, $i)}";
    }

    @if(nth($direction-list, $i)==all){
      #{$clase_margin}{
        margin: unquote('#{$margin}px');
      }
    }@else {
      #{$clase_margin_direction}{
        margin-#{nth($direction-list, $i)}: unquote('#{$margin}px');
      }
    }
    @if($i==length($direction-list)){
      @each $margin-2 in $margin-list{
        @if($margin!=$margin-2){
          .Mnk-margin-#{$margin}-#{$margin-2}{
            margin: unquote('#{$margin}px #{$margin-2}px');
          }
        }
      }
    }
  }
}

.Mnk-last-margin-bottom{
  > *{
    &:last-child{
      margin-bottom: 0;
    }
  }
}