@each $padding in $padding-list{
  @for $i from 1 through length($direction-list) {
    $clase_padding: ".Mnk-padding-#{$padding}";
    $clase_padding_direction: ".Mnk-padding-#{nth($direction-list, $i)}-#{$padding}";

    @if($padding==0){
      $clase_padding: ".Mnk-padding";
      $clase_padding_direction: ".Mnk-padding-#{nth($direction-list, $i)}";
    }

    @if(nth($direction-list, $i)==all){
      #{$clase_padding}{
        padding: unquote('#{$padding}px');
      }
    }@else {
      #{$clase_padding_direction}{
        padding-#{nth($direction-list, $i)}: unquote('#{$padding}px');
      }
    }
    @if($i==length($direction-list)){
      @each $padding-2 in $padding-list{
        @if($padding!=$padding-2){
          .Mnk-padding-#{$padding}-#{$padding-2}{
            padding: unquote('#{$padding}px #{$padding-2}px');
          }
        }
      }
    }
  }
}