.Mnk-width-auto{
  width: auto;
}
@each $width in $width-list{
  $width-nombre: ".Mnk-width-#{$width}";
  $width-min-nombre: ".Mnk-min-width-#{$width}";
  $width-max-nombre: ".Mnk-max-width-#{$width}";
  $width: $width*1px;
  @if($width==0){
    $width-nombre: ".Mnk-width";
  }
  #{$width-nombre}{
    width: $width;
  }
  @if($width!=0){
    #{$width-max-nombre}{
      max-width: $width;
    }
    #{$width-min-nombre}{
      min-width: $width;
    }
  }
}

@each $col in $col-list {
  $col-valor: $col;
  @if ($col==33) {
    $col-valor: 33.33;
  } @else if ($col==66) {
    $col-valor: 66.67;
  }
  .Mnk-col-#{$col} {
    width: #{$col-valor}#{'%'};
  }
}


.Mnk-width-full{
  width: 100%;
}
.Mnk-max-width-full{
  max-width: 100%;
}