//- Variables

- mnk_dir_url = ''
- mnk_dir_images = './images/'
- mnk_dir_css = './build/css/'
- mnk_dir_css = './'
- mnk_dir_js = './js/'
- mnk_dir_font = './fonts/'

//- proyecto = "desarrollo";
- proyecto = "produccion";

- mnk_files_css = ['plugin','style','responsive']
- mnk_basic_files_js = ['https://code.jquery.com/jquery-2.2.4.min.js','jquery']
- mnk_files_js = ['mnk-query']

if proyecto == "produccion"
    - mnk_files_css = ['plugin','style']

include mixin/_carousel
include mixin/_tema

- title_site = "Proinversión"

mixin config
    doctype html
    html(
        lang="es-PE"
        class={'Mnk-html-full': link_activo === "Gracias"}
        )
        include base/_head
        if block
            block