- title_view = "Piensa en nivel Ucal"
- descripcion_view = ""
- keywords_view = ""
- author_view = ""
- title_logo = title_view

- link_activo = "Gracias"

include _config

- mnk_dir_view = "./"

+config
    +body(class="Mnk-thanks_page") 
        div(class="Mnk-box-table-768 -fixed-768 -middle-768 Mnk-height-full-768")
            div(class="Mnk-thanks_bg Mnk-width-380-768 Mnk-width-auto-992 Mnk-align-right-768") 
                div(class="Mnk-thanks_aside Mnk-inline-block-768 Mnk-align-center Mnk-align-left-768")
                    h1(class="Mnk-line-height-clear") demos el #[strong(class="Mnk-block") primer paso]
                    div(class="Mnk-margin-bottom-20")
                        a(class="Mnk-button -green Mnk-uppercase -none" href="tel:+516222222") Admisión: 622 2222 / Anexos: 5450, 5451
                    div
                        a(class="Mnk-button -green Mnk-uppercase -none" href="https://api.whatsapp.com/send?phone=51942632791") WhatsApp: 942 632 791
            div(class="Mnk-padding-40-20 Mnk-padding-30-768 Mnk-align-center")
                div(class="Mnk-inline-block Mnk-max-width-445")
                    h2 ¡Gracias!
                    p 
                        | Uno de nuestros asesores de carrera se pondrán en contacto contigo pronto.
                    p 
                        strong(class="Mnk-block Mnk-medium") ¡Que tengas un gran día!
                    a(class="Mnk-button Mnk-margin-top-30" href="./") Regresar