- title_view = "Piensa en nivel Ucal"
- descripcion_view = ""
- keywords_view = ""
- author_view = ""
- title_logo = title_view

- link_activo = "Inicio"

include _config

- mnk_dir_view = "./"

+config
    +body        
        include index/_banner
        include index/_slider_videos
        include index/_formulario
