@each $responsive in $responsive-list {

  $responsive-max: $responsive - 1;
  .Mnk-background-before{
    &-#{$responsive}{
      @include responsive-width(#{$responsive}px){
        &:before{
          content: '';
          left: 0;
          top: 0;
          right: 0;
          bottom: 0;
          position: absolute;
          background: $background-color;
        }
        &, > *{
          position: relative;
        }
      }
    }
    @at-root [class^="#{&}"],[class*="#{&}"]{
      @each $color-nombre, $color-valor in $color-list {
        @if($color-nombre!=none) {
          &.-#{$color-nombre}-#{$responsive}{
            @include responsive-width(#{$responsive}px) {
              &:before {
                background: $color-valor;
              }
            }
          }
        }
      }
      @each $color-nombre, $color-valor in $background-list {
        &.-#{$color-nombre}-#{$responsive}{
          @include responsive-width(#{$responsive}px){
            &:before{
              background: $color-valor;
            }
          }
        }
      }
      &.-clear-#{$responsive}{
        @include responsive-width(#{$responsive}px){
          &:before{
            content: none;
          }
        }
      }
      @each $color-nombre in $opacity-list {
        &.-opacity-#{$color-nombre*100}-#{$responsive}{
          @include responsive-width(#{$responsive}px){
            &:before{
              opacity: $color-nombre;
            }
          }
        }
      }
    }
  }

  .Mnk-background-none-max-#{$responsive-max} {
    @include responsive-max-width(#{$responsive-max}px){
      background-image: none!important;
    }
  }

  @each $color-nombre, $color-valor in $color-list {
    $background-nombre: '.Mnk-background-#{$responsive}';
    $background-valor: $background-color;
    @if ($color-nombre!=none) {
      $background-nombre: '.Mnk-background-#{$color-nombre}-#{$responsive}';
      $background-valor: $color-valor;
    }

    #{$background-nombre}{
      @include responsive-width(#{$responsive}px){
        background-color: $background-valor;
      }
    }
  }

  @each $color-nombre, $color-valor in $background-list {
    .Mnk-background-#{$color-nombre}-#{$responsive}{
      @include responsive-width(#{$responsive}px){
        background: $color-valor;
      }
    }
  }

  .Mnk-background-img{
    @at-root #{&}-#{$responsive}{
      @include responsive-width(#{$responsive}px){
        background-position: center center;
        background-repeat: no-repeat;
      }
    }
    &.-top-#{$responsive}{
      @include responsive-width(#{$responsive}px){
        background-position: center top;
      }
    }
    &.-cover-#{$responsive}{
      @include responsive-width(#{$responsive}px){
        background-size: cover;
      }
    }
    &.-fixed-#{$responsive}{
      @include responsive-width(#{$responsive}px){
        background-attachment: fixed;
      }
    }
  }
}
