@each $responsive in $responsive-list{

  .Mnk-box-table{
    &-#{$responsive} {
      @include responsive-width(#{$responsive}px){
        @include grid-table;
      }
    }

    @at-root [class^=#{str-slice(quote(&),2)}],[class*=#{str-slice(quote(&),2)}]{
      &.-middle-#{$responsive}{
        @include responsive-width(#{$responsive}px){
          > *{
            vertical-align: middle;
          }
        }
      }
      &.-bottom-#{$responsive}{
        @include responsive-width(#{$responsive}px){
          > *{
            vertical-align: bottom;
          }
        }
      }
      &.-fixed-#{$responsive}{
        @include responsive-width(#{$responsive}px){
          table-layout: fixed;
        }
      }
      &.-clear-#{$responsive}{
        @include responsive-width(#{$responsive}px){
          width: auto;
          &, > *{
            display: block;
          }
        }
      }
    }
  }

  .Mnk-table{
    @at-root #{&}-#{$responsive}{
      @include responsive-width(#{$responsive}px){
        display: table;
      }
    }
    @at-root [class^=#{str-slice(quote(&),2)}],[class*=#{str-slice(quote(&),2)}]{
      &.-fixed-#{$responsive}{
        @include responsive-width(#{$responsive}px){
          table-layout: fixed;
        }
      }
    }
    @at-root #{&}_header-#{$responsive}{
      @include responsive-width(#{$responsive}px){
        display: table-header-group;
      }
    }
    @at-root #{&}_cell{
      &-#{$responsive}{
        @include responsive-width(#{$responsive}px){
          display: table-cell;
        }
      }
      @at-root [class^=#{str-slice(quote(&),2)}],[class*=#{str-slice(quote(&),2)}]{
        &.-middle-#{$responsive}{
          @include responsive-width(#{$responsive}px){
            vertical-align: middle;
          }
        }
        &.-bottom-#{$responsive}{
          @include responsive-width(#{$responsive}px){
            vertical-align: bottom;
          }
        }
      }
    }
    @at-root #{&}_row-#{$responsive}{
      @include responsive-width(#{$responsive}px){
        display: table-row;
      }
    }
    @at-root #{&}_body-#{$responsive}{
      @include responsive-width(#{$responsive}px){
        display: table-row-group;
      }
    }
    @at-root #{&}_footer-#{$responsive}{
      @include responsive-width(#{$responsive}px){
        display: table-footer-group;
      }
    }
  }

  .Mnk-box-inline-block {
    @at-root #{&}-#{$responsive}{
      @include responsive-width(#{$responsive}px){
        @include inline-block-sin-espacios;
      }
    }
    @at-root [class^=#{str-slice(quote(&),2)}],[class*=#{str-slice(quote(&),2)}]{
      &.-middle-#{$responsive}{
        @include responsive-width(#{$responsive}px){
          > *{
            vertical-align: middle;
          }
        }
      }
      &.-clear-#{$responsive}{
        @include responsive-width(#{$responsive}px){
          font-size : inherit;
          letter-spacing : $letter-spacing;
          word-spacing : normal;
          > *{
            display: block;
          }
          @include firefox{
            font-size : inherit;
            letter-spacing : $letter-spacing;
            word-spacing : normal;
          }
          @include chrome{
            word-spacing : normal;
          }
        }
      }
    }
  }

  .Mnk-inline-block {
    @at-root #{&}-#{$responsive}{
      @include responsive-width(#{$responsive}px){
        display: inline-block;
      }
    }
    @at-root [class^=#{str-slice(quote(&),2)}],[class*=#{str-slice(quote(&),2)}]{
      &.-top-#{$responsive}{
        @include responsive-width(#{$responsive}px){
          vertical-align: top;
        }
      }
      &.-middle-#{$responsive}{
        @include responsive-width(#{$responsive}px){
          vertical-align: middle;
        }
      }
    }
  }

  .Mnk-block-#{$responsive} {
    @include responsive-width(#{$responsive}px){
      display: block;
    }
  }

  .Mnk-float-left-#{$responsive}{
    @include responsive-width(#{$responsive}px){
      float: left;
    }
  }

  .Mnk-float-right-#{$responsive}{
    @include responsive-width(#{$responsive}px){
      float: right;
    }
  }

  [class^="Mnk-float-"].-clear-#{$responsive}, [class*="Mnk-float-"].-clear-#{$responsive}{
    @include responsive-width(#{$responsive}px){
      float: none;
    }
  }

  .Mnk-none-#{$responsive} {
    @include responsive-width(#{$responsive}px){
      display: none;
    }
  }

  .Mnk-absolute {
    @at-root #{&}-#{$responsive}{
      @include responsive-width(#{$responsive}px) {
        position: absolute;
      }
    }
    @each $direction in $direction-list {
      @if ($direction!=all) {
        @at-root [class^="Mnk-absolute"].-#{$direction}-#{$responsive}, [class*="Mnk-absolute"].-#{$direction}-#{$responsive} {
          @include responsive-width(#{$responsive}px) {
            #{$direction}: 0;
          }
        }
      }
    }
    @at-root #{&}_center {
      @at-root #{&}-#{$responsive}{
        @include responsive-width(#{$responsive}px) {
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
        }
      }
      @at-root [class^=#{str-slice(quote(&),2)}],[class*=#{str-slice(quote(&),2)}]{
        &.-horizontal-#{$responsive}{
          @include responsive-width(#{$responsive}px){
            top: auto;
            transform: translateX(-50%);
          }
        }
        &.-vertical-#{$responsive}{
          @include responsive-width(#{$responsive}px){
            left: auto;
            transform: translateY(-50%);
          }
        }
      }
    }
  }
  .Mnk-relative {
    @at-root #{&}-#{$responsive} {
      @include responsive-width(#{$responsive}px) {
        position: relative;
      }
    }
  }
}