@each $responsive in $responsive-list{

  @each $height in $height-list{
    $height-nombre: $height;
    @if($height!=auto and $height!=full){
      .Mnk-min-height-#{$height-nombre}-#{$responsive}{
        @include responsive-width(#{$responsive}px) {
          min-height: unquote('#{$height}px');
        }
      }
    }
    @if($height==auto){
      $height: auto;
    }@else if($height==full){
      $height-nombre: $height;
      $height: 100%;
    }@else {
      $height: unquote('#{$height}px');
    }
    .Mnk-height-#{$height-nombre}-#{$responsive}{
      @include responsive-width(#{$responsive}px) {
        height: $height;
      }
    }
  }

}
