@each $responsive in $responsive-list {

  @each $margin in $margin-negativo-list{
    @for $i from 1 through length($direction-list) {
      @if(nth($direction-list, $i)!=all){
        @if($margin!=0){
          .Mnk-margin-#{nth($direction-list, $i)}--#{$margin}-#{$responsive}{
            @include responsive-width(#{$responsive}px){
              margin-#{nth($direction-list, $i)}: unquote('#{-$margin}px');
            }
          }
        }
      }
    }
  }

  .Mnk-margin-auto-#{$responsive}{
    @include responsive-width(#{$responsive}px){
      margin-left: auto;
      margin-right: auto;
    }
  }
  .Mnk-margin-left-auto-#{$responsive}{
    @include responsive-width(#{$responsive}px){
      margin-left: auto;
    }
  }
  .Mnk-margin-right-auto-#{$responsive}{
    @include responsive-width(#{$responsive}px){
      margin-right: auto;
    }
  }

  @each $margin in $margin-list{
    @for $i from 1 through length($direction-list) {
      $clase_margin: ".Mnk-margin-#{$margin}-#{$responsive}";
      $clase_margin_direction: ".Mnk-margin-#{nth($direction-list, $i)}-#{$margin}-#{$responsive}";

      @if($margin==0){
        $clase_margin: ".Mnk-margin-#{$responsive}";
        $clase_margin_direction: ".Mnk-margin-#{nth($direction-list, $i)}-#{$responsive}";
      }

      @if(nth($direction-list, $i)==all){
        #{$clase_margin}{
          @include responsive-width(#{$responsive}px){
            margin: unquote('#{$margin}px');
          }
        }
      }@else {
        #{$clase_margin_direction}{
          @include responsive-width(#{$responsive}px){
            margin-#{nth($direction-list, $i)}: unquote('#{$margin}px');
          }
        }
      }
      @if($i==length($direction-list)){
        @each $margin-2 in $margin-list{
          @if($margin!=$margin-2){
            .Mnk-margin-#{$margin}-#{$margin-2}-#{$responsive}{
              @include responsive-width(#{$responsive}px){
                margin: unquote('#{$margin}px #{$margin-2}px');
              }
            }
          }
        }
      }
    }
  }

}

