@each $responsive in $responsive-list{

  @each $padding in $padding-list{
    @for $i from 1 through length($direction-list) {
      $clase_padding: ".Mnk-padding-#{$padding}-#{$responsive}";
      $clase_padding_direction: ".Mnk-padding-#{nth($direction-list, $i)}-#{$padding}-#{$responsive}";

      @if($padding==0){
        $clase_padding: ".Mnk-padding-#{$responsive}";
        $clase_padding_direction: ".Mnk-padding-#{nth($direction-list, $i)}-#{$responsive}";
      }

      @if(nth($direction-list, $i)==all){
        #{$clase_padding}{
          @include responsive-width(#{$responsive}px){
            padding: unquote('#{$padding}px');
          }
        }
      }@else {
        #{$clase_padding_direction}{
          @include responsive-width(#{$responsive}px){
            padding-#{nth($direction-list, $i)}: unquote('#{$padding}px');
          }
        }
      }
      @if($i==length($direction-list)){
        @each $padding-2 in $padding-list{
          @if($padding!=$padding-2){
            .Mnk-padding-#{$padding}-#{$padding-2}-#{$responsive}{
              @include responsive-width(#{$responsive}px){
                padding: unquote('#{$padding}px #{$padding-2}px');
              }
            }
          }
        }
      }
    }
  }

}