@each $responsive in $responsive-list {

  .Mnk-width-auto-#{$responsive}{
    @include responsive-width(#{$responsive}px){
      width: auto;
    }
  }

  @each $width in $width-list{
    $width-nombre: ".Mnk-width-#{$width}-#{$responsive}";
    $width-min-nombre: ".Mnk-min-width-#{$width}-#{$responsive}";
    $width-max-nombre: ".Mnk-max-width-#{$width}-#{$responsive}";
    $width: $width*1px;
    @if($width==0){
      $width-nombre: ".Mnk-width-#{$responsive}";
    }
    #{$width-nombre}{
      @include responsive-width(#{$responsive}px){
        width: $width;
      }
    }
    @if($width!=0){
      #{$width-max-nombre}{
        @include responsive-width(#{$responsive}px){
          max-width: $width;
        }
      }
      #{$width-min-nombre}{
        @include responsive-width(#{$responsive}px){
          min-width: $width;
        }
      }
    }
  }

  @each $col in $col-list {
    $col-valor: $col;
    @if ($col==33) {
      $col-valor: 33.33;
    } @else if ($col==66) {
      $col-valor: 66.67;
    }
    .Mnk-col-#{$col}-#{$responsive} {
      @include responsive-width(#{$responsive}px){
        width: #{$col-valor}#{'%'};
      }
    }
  }

  .Mnk-width-full-#{$responsive}{
    @include responsive-width(#{$responsive}px) {
      width: 100%;
    }
  }

  .Mnk-max-width-full-#{$responsive}{
    @include responsive-width(#{$responsive}px) {
      max-width: 100%;
    }
  }

  [class^="Mnk-max-width"].-clear-#{$responsive},
  [class*="Mnk-max-width"].-clear-#{$responsive}{
    @include responsive-width(#{$responsive}px) {
      max-width: inherit;
    }
  }
  [class^="Mnk-min-width"].-clear-#{$responsive},
  [class*="Mnk-min-width"].-clear-#{$responsive}{
    @include responsive-width(#{$responsive}px) {
      min-width: inherit;
    }
  }
}