.Mnk-tab{

  @at-root #{&}_only{
    .Mnk-tab_content{
      height: 0;
      overflow: hidden;
      @include visibility-hidden;
    }
  }

  @at-root #{&}_content{
    position: relative;
    &.-active-desktop{
      height: auto;
      overflow: visible;
      @include visibility-visible;
    }
    @include responsive-width($responsive-767){
      height: 0;
      overflow: hidden;
      @include visibility-hidden;
    }
  }

  .-active-desktop{
    .Mnk-tab_movil-oculto{
      &:not(.Mnk-tab_movil-activo){
        opacity: 0;
        transform: translateY(-15px);
        @include responsive-width($responsive-767){
          opacity: 0;
          transform: none;
        }
      }
    }
  }

  @at-root #{&}_movil{
    opacity: 0;
    transform: translateY(-15px);
    @include responsive-width($responsive-767){
      opacity: 1;
      transform: none;
    }
    @at-root #{&}-oculto{
      overflow: hidden;
      visibility: hidden;
      height: 0;
      position: absolute;
      @include responsive-width($responsive-767){
        overflow: visible;
        visibility: visible;
        height: auto;
        position: relative;
      }
    }
    @at-root #{&}-activo{
      overflow: visible;
      visibility: visible;
      height: auto;
      position: relative;
      opacity: 1;
      transform: translateY(0px);
      transition-delay: 0s;
      transition-property: opacity,transform;
      transition-duration: 1s, 3s;
      transition-timing-function: ease-in-out;

      margin-bottom: 20px;
      @include responsive-width($responsive-767){
        margin-bottom: 0;
      }
    }
  }
}

.Mnk-acordion{
  @at-root #{&}_button{
    &.-style, &.-movil{
      display: table;
      table-layout: fixed;
      width: 100%;
      cursor: pointer;
      margin-bottom: 0;
      &:after{
        content: $font-Flaticon-arrows-12;
        display: table-cell;
        vertical-align: middle;
        font-family: $font-icon;
        width: 25px;
      }
      &, &:after{
        transition-property: all;
        transition-duration: .3s;
        transition-timing-function: ease-in-out;
      }
    }
  }

  @at-root #{&}_box{
    transition-property: all;
    transition-duration: .3s;
    transition-timing-function: ease-in-out;
    &.-active{
      .Mnk-acordion_button{
        &.-style, &.-movil{
          &:after{
            text-align: right;
            transform: rotate(180deg);
          }
        }
      }
    }
  }
}

@import "tema";