.Mnk-tab{

  @at-root #{&}_only{
    .Mnk-tab_content{
      //display: none;
    }
  }

  @at-root #{&}_content{
    position: relative;
    &.-active-desktop{
      //display: block;
    }
    @include responsive-width($responsive-991){
      //display: none;
    }
  }

  @at-root #{&}_boton{
    &.-style{
      font-size: 14px;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: -.02em;
      position: relative;
      color: rgba($color-gris,.6);
      padding: 12px 12px 7px;
      display: block;
      &:before{
        content: '';
        position: absolute;
        left: 50%;
        right: 50%;
        bottom: -2px;
        height: 3px;
        background-color: $color-principal;
        transition-property: left,right;
        transition-duration: .3s;
        transition-timing-function: ease-in-out;
        border-radius: 20px;
      }
      /*&.-active{
        color: $color-principal;
        &:before{
          left: 0;
          right: 0;
        }
      }*/
      &.-active, &:hover{
        @include responsive-width($responsive-767){
          color: $color-principal;
          &:before{
            left: 0;
            right: 0;
          }
        }
      }
    }
  }
}

.Mnk-acordion{
  @at-root #{&}_button{
    &.-style, &.-movil{
      &,h2{
        color: $color-negro;
      }
      h2, span{
        transition-property: all;
        transition-duration: .3s;
        transition-timing-function: ease-in-out;
      }
      &:hover{
        @include responsive-width($responsive-767){
          &, h2{
            color: $color-principal;
          }
        }
      }
    }
  }

  @at-root #{&}_box{
    &.-active{
      .Mnk-acordion_button{
        &.-style, &.-movil{
          &,h2{
            color: $color-principal;
          }
        }
      }
    }
  }
}

.Mnk-tab_info{
  padding-left: 40px;
  @media only screen and (min-width: 992px){
    padding-top: 190px;
  }
  p{
    margin-bottom: 25px;
  }
}

.Mnk-tab_boton-container{
  border-bottom: 1px solid rgba($color-gris,.4);
}