@each $responsive in $responsive-list{
  @each $font in $font-list {
    .Mnk-font-#{$font}-#{$responsive} {
      @include responsive-width(#{$responsive}px){
        font-size: #{$font}px;
      }
    }
  }
  .Mnk-align-left-#{$responsive}{
    @include responsive-width(#{$responsive}px){
      text-align: left;
    }
  }
  .Mnk-align-right-#{$responsive}{
    @include responsive-width(#{$responsive}px){
      text-align: right;
    }
  }
  .Mnk-align-center-#{$responsive}{
    @include responsive-width(#{$responsive}px){
      text-align: center;
    }
  }
  .Mnk-align-justify-#{$responsive}{
    @include responsive-width(#{$responsive}px){
      text-align: justify;
    }
  }
  @each $color-nombre, $color-valor in $color-list {
    @if($color-nombre==none){
      $color-nombre: default;
      $color-valor: $color-default;
    }
    .Mnk-color-#{$color-nombre}-#{$responsive} {
      @include responsive-width(#{$responsive}px) {
        color: $color-valor;
      }
    }
    .Mnk-color-#{$color-nombre}-hover-#{$responsive}{
      @include responsive-width(#{$responsive}px) {
        transition-property: all;
        transition-duration: .3s;
        transition-timing-function: ease-in-out;
        &:hover {
          @include responsive-width($responsive-1024) {
            color: $color-valor;
          }
        }
      }
    }
  }

  .Mnk-bold-#{$responsive}{
    @include responsive-width(#{$responsive}px) {
      font-weight: bold;
      @at-root .Mnk-bold-clear-#{$responsive}{
        font-weight: normal;
      }
      @at-root .Mnk-bold-clear-hover-#{$responsive}{
        transition-property: all;
        transition-duration: .3s;
        transition-timing-function: ease-in-out;
        &:hover{
          @include responsive-width($responsive-1024){
            font-weight: 500;
          }
        }
      }
    }
  }
  .Mnk-line-height-clear-#{$responsive}{
    @include responsive-width(#{$responsive}px){
      line-height: 1;
    }
  }
  .Mnk-line-height-medium-#{$responsive}{
    @include responsive-width(#{$responsive}px){
      line-height: 1.2;
    }
  }
}
