@each $responsive in $responsive-list {
  .Mnk-hr{
    @each $color-nombre, $color-valor in $color-list {
      @if($color-nombre!=none){
        @at-root [class^="Mnk-hr"].-#{$color-nombre}-#{$responsive}, [class*="Mnk-hr"].-#{$color-nombre}-#{$responsive}{
          @include responsive-width(#{$responsive}px) {
            border-top-color: $color-valor;
            border-bottom-color: transparent;
          }
        }
      }
    }
    @each $hr-strong in $border-width-list{
      @at-root [class^="Mnk-hr"].-height-#{$hr-strong}-#{$responsive}, [class*="Mnk-hr"].-height-#{$hr-strong}-#{$responsive}{
        @include responsive-width(#{$responsive}px) {
          border-top-width:  unquote('#{$hr-strong}px');
          border-bottom-width: 0;
        }
      }
    }
    @at-root [class^="Mnk-hr"].-clear-#{$responsive}, [class*="Mnk-hr"].-clear-#{$responsive}{
      @include responsive-width(#{$responsive}px) {
        border-top-color: transparent;
        border-bottom-color: transparent;
      }
    }
  }
}
