.Mnk-modal {
  transition-property: all;
  transition-duration: .2s;
  transition-timing-function: ease-in-out;
  &.-active{
    z-index: 150;
    visibility: visible;
    opacity: 1;
    .Mnk-modal_animation, &.Mnk-modal_animation{
      opacity: 1;
      @include responsive-width($responsive-450){
        transform: translateY(0%);
      }
    }
  }

  @at-root #{&}_animation{
    transition-property: all;
    transition-duration: .3s;
    transition-timing-function: ease-in-out;
    transition-delay: .2s;
    opacity: 0;
    @include responsive-width($responsive-450){
      transform: translateY(-100%);
    }
  }

  @at-root #{&}-close{
    visibility: hidden;
    transition-delay: .2s;
    .Mnk-modal_animation, &.Mnk-modal_animation{
      opacity: 0;
      transition-delay: 0s;
      @include responsive-width($responsive-450){
        transform: translateY(-100%);
      }
    }
  }

  @at-root #{&}-body{
    /*> *:not(.Mnk-modal){
      @include responsive-width($responsive-450){
        filter: blur(1.5px);
      }
      transition-property: all;
      transition-duration: .2s;
      transition-timing-function: linear;
    }*/
    > *{
      transition-property: all;
      transition-duration: .2s;
      transition-timing-function: linear;
    }
  }
}