//@import "../mixin/variables";
//@import "../mixin/mixin";

.Mnk-modal {
  @at-root #{&}-open{
    z-index: 150;
    visibility: visible;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: both;
    animation-name: modal-tema;
    @keyframes modal-tema {
      0% {
        @include opacity(0);
        @include transform(translate(0px, -100%) scale(0, 0));
      }
      100% {
        @include opacity(1);
        @include transform(translate(0px, 0px) scale(1, 1))
      }
    }
  }

  @at-root #{&}-close{
    visibility: hidden;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: both;
    animation-name: modal-tema-close;
    @keyframes modal-tema-close {
      0% {
        @include opacity(1);
        @include transform(translate(0px, 0px) scale(1, 1))
      }
      100% {
        @include opacity(0);
        @include transform(translate(0px, -100%) scale(0, 0));
      }
    }
  }
}
