$font-Flaticon-letter-1: "\f100";
$font-Flaticon-drafts-evelope-button: "\f101";
$font-Flaticon-check-1: "\f102";
$font-Flaticon-arrows-14: "\f103";
$font-Flaticon-web: "\f104";
$font-Flaticon-favorite: "\f105";
$font-Flaticon-delete: "\f106";
$font-Flaticon-arrows-13: "\f107";
$font-Flaticon-arrows-12: "\f108";
$font-Flaticon-line-1: "\f109";
$font-Flaticon-shapes: "\f10a";
$font-Flaticon-paper: "\f10b";
$font-Flaticon-social-5: "\f10c";
$font-Flaticon-technology-2: "\f10d";
$font-Flaticon-photo-1: "\f10e";
$font-Flaticon-arrows-11: "\f10f";
$font-Flaticon-road-with-broken-line: "\f110";
$font-Flaticon-social-4: "\f111";
$font-Flaticon-mountain-road: "\f112";
$font-Flaticon-arrow-pointing-to-down: "\f113";
$font-Flaticon-video-lecture: "\f114";
$font-Flaticon-interface: "\f115";
$font-Flaticon-magnifying-glass: "\f116";
$font-Flaticon-folder: "\f117";
$font-Flaticon-up-chevron: "\f118";
$font-Flaticon-arrows-10: "\f119";
$font-Flaticon-move-to-the-next-page-symbol: "\f11a";
$font-Flaticon-transport-1: "\f11b";
$font-Flaticon-calendar: "\f11c";
$font-Flaticon-book: "\f11d";
$font-Flaticon-full-items-inside-a-shopping-bag: "\f11e";
$font-Flaticon-line: "\f11f";
$font-Flaticon-sign: "\f120";
$font-Flaticon-healthy-lifestyle-logo: "\f121";
$font-Flaticon-arrow: "\f122";
$font-Flaticon-logo: "\f123";
$font-Flaticon-social-3: "\f124";
$font-Flaticon-man-reading: "\f125";
$font-Flaticon-transport: "\f126";
$font-Flaticon-social-2: "\f127";
$font-Flaticon-social-1: "\f128";
$font-Flaticon-arrow-down-filled-triangle: "\f129";
$font-Flaticon-social: "\f12a";
$font-Flaticon-back: "\f12b";
$font-Flaticon-letter: "\f12c";
$font-Flaticon-telephone: "\f12d";
$font-Flaticon-exclamation: "\f12e";
$font-Flaticon-technology-1: "\f12f";
$font-Flaticon-squares: "\f130";
$font-Flaticon-linux: "\f131";
$font-Flaticon-play: "\f132";
$font-Flaticon-arrows-9: "\f133";
$font-Flaticon-arrows-8: "\f134";
$font-Flaticon-multimedia-1: "\f135";
$font-Flaticon-gps: "\f136";
$font-Flaticon-multimedia: "\f137";
$font-Flaticon-arrows-7: "\f138";
$font-Flaticon-people-1: "\f139";
$font-Flaticon-arrows-6: "\f13a";
$font-Flaticon-cardiogram: "\f13b";
$font-Flaticon-report: "\f13c";
$font-Flaticon-map: "\f13d";
$font-Flaticon-photo: "\f13e";
$font-Flaticon-time: "\f13f";
$font-Flaticon-nature: "\f140";
$font-Flaticon-distance: "\f141";
$font-Flaticon-camera: "\f142";
$font-Flaticon-danger: "\f143";
$font-Flaticon-placeholder-1: "\f144";
$font-Flaticon-clock: "\f145";
$font-Flaticon-calculator: "\f146";
$font-Flaticon-placeholder: "\f147";
$font-Flaticon-social-media-1: "\f148";
$font-Flaticon-people: "\f149";
$font-Flaticon-social-media: "\f14a";
$font-Flaticon-arrows-5: "\f14b";
$font-Flaticon-right-arrow: "\f14c";
$font-Flaticon-arrows-4: "\f14d";
$font-Flaticon-arrows-3: "\f14e";
$font-Flaticon-check: "\f14f";
$font-Flaticon-arrows-2: "\f150";
$font-Flaticon-signs-1: "\f151";
$font-Flaticon-close: "\f152";
$font-Flaticon-technology: "\f153";
$font-Flaticon-arrows-1: "\f154";
$font-Flaticon-arrows: "\f155";
$font-Flaticon-symbol-1: "\f156";
$font-Flaticon-symbol: "\f157";
$font-Flaticon-zip: "\f158";
$font-Flaticon-play-button: "\f159";
$font-Flaticon-signs: "\f15a";
$font-Flaticon-minus: "\f15b";
$font-Flaticon-list: "\f15c";

.flaticon-letter-1:before { content: $font-Flaticon-letter-1; }
.flaticon-drafts-evelope-button:before { content: $font-Flaticon-drafts-evelope-button; }
.flaticon-check-1:before { content: $font-Flaticon-check-1; }
.flaticon-arrows-14:before { content: $font-Flaticon-arrows-14; }
.flaticon-web:before { content: $font-Flaticon-web; }
.flaticon-favorite:before { content: $font-Flaticon-favorite; }
.flaticon-delete:before { content: $font-Flaticon-delete; }
.flaticon-arrows-13:before { content: $font-Flaticon-arrows-13; }
.flaticon-arrows-12:before { content: $font-Flaticon-arrows-12; }
.flaticon-line-1:before { content: $font-Flaticon-line-1; }
.flaticon-shapes:before { content: $font-Flaticon-shapes; }
.flaticon-paper:before { content: $font-Flaticon-paper; }
.flaticon-social-5:before { content: $font-Flaticon-social-5; }
.flaticon-technology-2:before { content: $font-Flaticon-technology-2; }
.flaticon-photo-1:before { content: $font-Flaticon-photo-1; }
.flaticon-arrows-11:before { content: $font-Flaticon-arrows-11; }
.flaticon-road-with-broken-line:before { content: $font-Flaticon-road-with-broken-line; }
.flaticon-social-4:before { content: $font-Flaticon-social-4; }
.flaticon-mountain-road:before { content: $font-Flaticon-mountain-road; }
.flaticon-arrow-pointing-to-down:before { content: $font-Flaticon-arrow-pointing-to-down; }
.flaticon-video-lecture:before { content: $font-Flaticon-video-lecture; }
.flaticon-interface:before { content: $font-Flaticon-interface; }
.flaticon-magnifying-glass:before { content: $font-Flaticon-magnifying-glass; }
.flaticon-folder:before { content: $font-Flaticon-folder; }
.flaticon-up-chevron:before { content: $font-Flaticon-up-chevron; }
.flaticon-arrows-10:before { content: $font-Flaticon-arrows-10; }
.flaticon-move-to-the-next-page-symbol:before { content: $font-Flaticon-move-to-the-next-page-symbol; }
.flaticon-transport-1:before { content: $font-Flaticon-transport-1; }
.flaticon-calendar:before { content: $font-Flaticon-calendar; }
.flaticon-book:before { content: $font-Flaticon-book; }
.flaticon-full-items-inside-a-shopping-bag:before { content: $font-Flaticon-full-items-inside-a-shopping-bag; }
.flaticon-line:before { content: $font-Flaticon-line; }
.flaticon-sign:before { content: $font-Flaticon-sign; }
.flaticon-healthy-lifestyle-logo:before { content: $font-Flaticon-healthy-lifestyle-logo; }
.flaticon-arrow:before { content: $font-Flaticon-arrow; }
.flaticon-logo:before { content: $font-Flaticon-logo; }
.flaticon-social-3:before { content: $font-Flaticon-social-3; }
.flaticon-man-reading:before { content: $font-Flaticon-man-reading; }
.flaticon-transport:before { content: $font-Flaticon-transport; }
.flaticon-social-2:before { content: $font-Flaticon-social-2; }
.flaticon-social-1:before { content: $font-Flaticon-social-1; }
.flaticon-arrow-down-filled-triangle:before { content: $font-Flaticon-arrow-down-filled-triangle; }
.flaticon-social:before { content: $font-Flaticon-social; }
.flaticon-back:before { content: $font-Flaticon-back; }
.flaticon-letter:before { content: $font-Flaticon-letter; }
.flaticon-telephone:before { content: $font-Flaticon-telephone; }
.flaticon-exclamation:before { content: $font-Flaticon-exclamation; }
.flaticon-technology-1:before { content: $font-Flaticon-technology-1; }
.flaticon-squares:before { content: $font-Flaticon-squares; }
.flaticon-linux:before { content: $font-Flaticon-linux; }
.flaticon-play:before { content: $font-Flaticon-play; }
.flaticon-arrows-9:before { content: $font-Flaticon-arrows-9; }
.flaticon-arrows-8:before { content: $font-Flaticon-arrows-8; }
.flaticon-multimedia-1:before { content: $font-Flaticon-multimedia-1; }
.flaticon-gps:before { content: $font-Flaticon-gps; }
.flaticon-multimedia:before { content: $font-Flaticon-multimedia; }
.flaticon-arrows-7:before { content: $font-Flaticon-arrows-7; }
.flaticon-people-1:before { content: $font-Flaticon-people-1; }
.flaticon-arrows-6:before { content: $font-Flaticon-arrows-6; }
.flaticon-cardiogram:before { content: $font-Flaticon-cardiogram; }
.flaticon-report:before { content: $font-Flaticon-report; }
.flaticon-map:before { content: $font-Flaticon-map; }
.flaticon-photo:before { content: $font-Flaticon-photo; }
.flaticon-time:before { content: $font-Flaticon-time; }
.flaticon-nature:before { content: $font-Flaticon-nature; }
.flaticon-distance:before { content: $font-Flaticon-distance; }
.flaticon-camera:before { content: $font-Flaticon-camera; }
.flaticon-danger:before { content: $font-Flaticon-danger; }
.flaticon-placeholder-1:before { content: $font-Flaticon-placeholder-1; }
.flaticon-clock:before { content: $font-Flaticon-clock; }
.flaticon-calculator:before { content: $font-Flaticon-calculator; }
.flaticon-placeholder:before { content: $font-Flaticon-placeholder; }
.flaticon-social-media-1:before { content: $font-Flaticon-social-media-1; }
.flaticon-people:before { content: $font-Flaticon-people; }
.flaticon-social-media:before { content: $font-Flaticon-social-media; }
.flaticon-arrows-5:before { content: $font-Flaticon-arrows-5; }
.flaticon-right-arrow:before { content: $font-Flaticon-right-arrow; }
.flaticon-arrows-4:before { content: $font-Flaticon-arrows-4; }
.flaticon-arrows-3:before { content: $font-Flaticon-arrows-3; }
.flaticon-check:before { content: $font-Flaticon-check; }
.flaticon-arrows-2:before { content: $font-Flaticon-arrows-2; }
.flaticon-signs-1:before { content: $font-Flaticon-signs-1; }
.flaticon-close:before { content: $font-Flaticon-close; }
.flaticon-technology:before { content: $font-Flaticon-technology; }
.flaticon-arrows-1:before { content: $font-Flaticon-arrows-1; }
.flaticon-arrows:before { content: $font-Flaticon-arrows; }
.flaticon-symbol-1:before { content: $font-Flaticon-symbol-1; }
.flaticon-symbol:before { content: $font-Flaticon-symbol; }
.flaticon-zip:before { content: $font-Flaticon-zip; }
.flaticon-play-button:before { content: $font-Flaticon-play-button; }
.flaticon-signs:before { content: $font-Flaticon-signs; }
.flaticon-minus:before { content: $font-Flaticon-minus; }
.flaticon-list:before { content: $font-Flaticon-list; }