@mixin responsive-width($media) {
  @media only screen and (min-width: $media) { @content; }
}
@mixin responsive-max-width($media) {
  @media only screen and (max-width: $media) { @content; }
}

@mixin inline-block-sin-espacios($size: $font-size-default, $align: top){
  //font-size : 1px;
  font-size : 0;
  letter-spacing : -1px;
  word-spacing : -1px;
  > *{
    //font-size: $font-size-default - 1;
    font-size: $font-size-default;
    letter-spacing : $letter-spacing;
    white-space : normal;
    word-spacing : normal;
    display: inline-block;
    vertical-align: $align;
    @include responsive-width($responsive-450){
      //font-size: $font-size-default;
    }
  }
  //@include firefox{
  //  //font-size: 0;
  //  letter-spacing : 0;
  //  word-spacing : 0;
  //}
  @include chrome{
    //word-spacing : 0;
  }
}

@mixin grid-table($alineacion:top){
  display: table;
  width: 100%;
  height: 1px;
  > *{
    display: table-cell;
    vertical-align: $alineacion;
  }
}

@mixin grid-table-clear{
  display: block;
  table-layout: inherit;
  width: auto;
  > *{
    display: block;
  }
}

@mixin visibility-hidden{
  //height: 0;
  //overflow: hidden;
  visibility: hidden;
  z-index: -1000;
  opacity: 0;
  transition-property: all;
  transition-duration: .3s;
  transition-timing-function: ease-in-out;
}
@mixin visibility-visible{
  //height: auto;
  //overflow: visible;
  visibility: visible;
  z-index: inherit;
  opacity: 1;
  transition-property: all;
  transition-duration: .3s;
  transition-timing-function: ease-in-out;
}

@mixin firefox{
  @-moz-document url-prefix(){ @content; }
}
@mixin chrome{
  @media screen and (-webkit-min-device-pixel-ratio: 0){ @content; }
}

@mixin retina {
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { @content; }
}

@function mnk-image-url($url) {
  @if function-exists(image-url) {
    @return image-url($url);
  }
  @else {
    @return url($mnk-image-path + $url);
  }
}
@function mnk-font-url($url) {
  @if function-exists(font-url) {
    @return font-url($url);
  }
  @else {
    @return url($mnk-font-path + $url);
  }
}

@mixin lista{
  margin: 20px 0;
  margin-left: 15px;
  li{
    display: table;
    position: relative;
    padding-left: 15px;
    margin-bottom: 10px;
    &:before {
      content: '';
      background-color: $color-principal;
      left: 0;
      top: 10px;
      width: 5px;
      height: 5px;
      position: absolute;
    }
    &:before{
      //content: $font-Flaticon-check-1;
      //color: $color-principal;
      //font-family: $font-icon;
      //font-size: 90%;
      //display: table-cell;
      //vertical-align: top;
      //padding-top: 3px;
      //padding-right: 10px;
    }
  }
  ul{
    margin: 15px 0;
    margin-left: 15px;
  }
}


// Mixin
@mixin bounce-glove($property) {
    animation: $property;
    @keyframes bounce {
      0%, 60%, 80%, 100% {
        transform: scale(1);
      }
      70%, 90% {
        transform: scale(1.06);
      }
    }
}