@each $responsive in $responsive-list{
  @at-root [class^="Mnk-titular"].-clear-#{$responsive}, [class*="Mnk-titular"].-clear-#{$responsive}{
    @include responsive-width(#{$responsive}px) {
      &:before{
        content: none;
      }
    }
  }
}