.Mnk-breadcrumbs{
  @at-root #{&}_list{
    text-align:left;
    @include inline-block-sin-espacios;

    li{
      position: relative;
      a{
        display: block;
        color: $color-gris;
        font-size: 14px;
        padding: 10px 0;
        &:hover{
          @include responsive-width($responsive-1024){
            color: $color-alterno;
          }
        }
        &:after{
          content:"/";
          margin:0 8px;
          vertical-align:middle;
          display: inline-block;
        }
      }
      &.item-current{
        a{
          color: $color-alterno;
          &:after{
            content: none;
          }
        }
      }
    }
  }
}