//@import "../mixin/variables";
//@import "../mixin/mixin";

.Mnk-map{
  height: 300px;
  position: relative;
  @include responsive-width($responsive-450){
    height: 400px;
  }
  @include responsive-width($responsive-991){
    height: auto;
    left: 0;
    right: 0;
    position: absolute;
    top: 0;
    bottom: 0;
  }
  #Mnk-map{
    left: 0;
    right: 0;
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
  }
}
