//@import "../mixin/variables";
//@import "../mixin/mixin";

.Mnk-paginator{
  ul{
    li{
      padding: 5px 10px;
      @include responsive-width($responsive-767){
        padding: 5px;
      }
      a{
        height: 40px;
        line-height: 40px;
        position: relative;
        padding: 0 5px;
        &:before{
          content: '';
          position: absolute;
          left: 50%;
          right: 50%;
          top: 0;
          height: 2px;
          background-color: transparent;
          transition-property: left,right;
          transition-duration: .3s;
          transition-timing-function: ease-in-out;
        }

        @include responsive-width($responsive-767){
          width: 40px;
          padding: 0;
        }
        &:hover{
          @include responsive-width($responsive-1024){
            color: $color-rojo;
            background-color: transparent;
            &:before{
              background-color: $color-rojo;
              left: 0;
              right: 0;
            }
          }
        }
      }
    }
    span.disabled, a{
      color: $color-default;
    }
    span.disabled, .Mnk-activo{
      color: $color-rojo;
      background-color: transparent;
      &:before{
        background-color: $color-rojo;
        left: 0;
        right: 0;
      }
    }
  }
}