.Mnk-social {
  @include inline-block-sin-espacios(25);
  @at-root #{&}_link {
    color: $redes-color;
    border: 1px solid $color-blanco;
    background-color: $redes-background;
    width: 30px;
    height: 30px;
    margin: 0 5px;
    text-align: center;
    line-height: 30px;
    font-size: 16px;
    text-indent: 0;
    border-radius: 4px;
    transition-duration: 0.3s;
    @include responsive-width($responsive-991) {
      width: 35px;
      height: 35px;
      line-height: 35px;
    }
    &:hover {
      @include responsive-width($responsive-1024) {
        background-color: $redes-background-hover;
        color: $redes-color-hover;
        border-color: $color-morado;
      }
    }
  }
  @at-root .Mnk-row-social-hover {
    &:hover {
      .Mnk-social_link {
        @extend .Mnk-social_link:hover;
      }
    }
  }
  &.-demo {
    .Mnk-social_link {
      background-color: $gris-demo-dark;
      border-color: $gris-demo-dark;
      &:hover {
        @include responsive-width($responsive-1024) {
          color: $color-blanco;
          background-color: darken($gris-demo-dark, 10%);
          border-color: darken($gris-demo-dark, 10%);
        }
      }
    }
  }
  &.-alterno {
    .Mnk-social_link {
      color: $color-gris;
      border-color: $color-gris;
      &:hover {
        @include responsive-width($responsive-1024) {
          color: $color-blanco;
          background-color: $color-gris;
          border-color: $color-gris;
        }
      }
    }
  }
  &.-corporative-color {
    display: table;
    &:hover {
      @include responsive-width($responsive-1024) {
        .Mnk-social_link {
          opacity: 0.5;
        }
      }
    }
    .Mnk-social_link {
      border-width: 0;
      &:hover {
        @include responsive-width($responsive-1024) {
          opacity: 1;
        }
      }
    }
  }
  &.-round {
    .Mnk-social_link {
      border-radius: 100%;
    }
  }
  &.-medium {
    .Mnk-social_link {
      line-height: 26px;
      height: 30px;
      width: 30px;
      font-size: 14px;
      text-indent: 0;
      margin: 5px;
    }
  }
  &.-small {
    margin-left: -3px;
    margin-right: -3px;
    .Mnk-social_link {
      line-height: 23px;
      height: 23px;
      width: 23px;
      font-size: 13px;
      text-indent: 4px;
      margin: 3px;
    }
  }
  &.-img {
    a {
      font-size: 0;
      transition-property: all;
      transition-duration: 0s;
      transition-timing-function: ease-in-out;
      &:before {
        content: "";
        display: block !important;
        vertical-align: top;
        position: relative;
        top: 50%;
        margin: 0 auto;
        transform: translateY(-50%);
      }
    }
  }
  &.-vertical {
    > a {
      display: block;
      margin-bottom: 11px;
    }
  }
  @at-root .Mnk-facebook {
    color: $color-blanco;
    background-color: $color-facebook;
    &:hover {
      @include responsive-width($responsive-1024) {
        color: $color-blanco;
        background-color: $color-facebook;
      }
    }
  }
  @at-root .Mnk-twiiter {
    color: $color-blanco;
    background-color: $color-twitter;
    &:hover {
      @include responsive-width($responsive-1024) {
        color: $color-blanco;
        background-color: $color-twitter;
      }
    }
  }
  @at-root .Mnk-linkedin {
    color: $color-blanco;
    background-color: $color-linkedin;
    &:hover {
      @include responsive-width($responsive-1024) {
        color: $color-blanco;
        background-color: $color-linkedin;
      }
    }
  }
  @at-root .Mnk-instagram {
    color: $color-blanco;
    background: $color-instagram;
    &:hover {
      @include responsive-width($responsive-1024) {
        color: $color-blanco;
        background: $color-instagram;
      }
    }
  }
}
