//-- RUTAS DE ARCHIVOS
$mnk-image-path: './images/'!default;
$mnk-font-path: './fonts/'!default;
$mnk-amp-image-path: '../img/'!default;
$mnk-amp-font-path: '../fonts/'!default;

//-- FAMILIA DE FUENTES
$font-family-principal: 'Rubik', sans-serif;
$font-family-alterno: $font-family-principal;
$font-family-titular : $font-family-principal;
$font-family-light : $font-family-principal;
$font-icon: "Flaticon";

$font-bold: 700;

//-- TAMAÑO DE FUENTES
$font-size-default: 16px;
$font-size-h1: 22px;
$font-size-h2: 18px;
$font-size-h3: 16px;
$font-size-h4: 15px;
$font-size-h5: 14px;
$font-size-h6: 13px;

$letter-spacing: 0;

$line-height: 1.375;

//-- COLROES DEL TEMA
$color-negro: #000000;
$color-blanco: #ffffff;

$color-gris: #727272;
$color-gris-claro: #F1F6F9;
$color-verde: #04B39D;
$color-verde-claro: #27A97C;
$color-magenta: #D5178B;
$color-magenta-claro: #E90D8C;
$color-rojo: #E41743;
$color-azul: #524FA1;
$color-morado: #842A84;

$color-degradado: linear-gradient(31.62deg, $color-magenta-claro 12.78%, #A6045C 79.83%);
$color-degradado-verde: linear-gradient(31.62deg, $color-verde-claro 12.78%, #1C9496 79.83%);;
$color-degradado-rojo: linear-gradient(31.62deg, $color-rojo 12.78%, #8D004A 79.83%);;
$color-degradado-azul: linear-gradient(31.62deg, $color-azul 12.78%, #7E499C 79.83%);;

$color-principal: $color-magenta;
$color-alterno: $color-verde;
$color-default: $color-gris;
$color-titular: $color-gris;
$color-link: $color-principal;
$color-link-hover: $color-principal;
$color-loading: $color-principal;
$color-breadcrumbs: $color-default;
$color-breadcrumbs-active: $color-principal;

$body-background: $color-blanco;

$modal-background: rgba($color-negro,.7);

$border-color: rgba($color-negro,.2);
$background-color: $color-principal;
$box-shadow-color: $color-negro;

//-- REDES SOCIALES
$redes-color: $color-blanco;
$redes-color-hover: $color-principal;
$redes-background: transparent;
$redes-background-hover: $redes-background;

//-- BOTON PRINCIPAL
$button-color: $color-blanco;
$button-color-hover: $color-blanco;
$button-background: $color-principal;
$button-background-hover: lighten($color-principal,5%);
$button-borde-color: transparent;
$button-borde-color-hover: transparent;
$button-radius: 9999px;
$button-size: 14px;

//-- FORMULARIO
$input-size: 14px;
$input-height: 50px;
$input-line-height: normal;
$input-background: transparent;
$input-background-focus: transparent;
$input-border: $color-gris;
$input-border-focus: $color-principal;
$input-color: $color-gris;
$input-radius: 6px;
$input-placeholder: $input-color;
$input-select-img: 'down_magenta.svg';
$input-select-size: auto auto!important;
$textarea-height: 150px;
$textarea-height-responsive: 150px;

$input-color-check: $color-principal;
$input-background-check: $color-blanco;
$input-background-check-active: $input-background-check;
$input-border-check: $input-border;
$input-border-check-active: $input-border-check;

$input-height-responsive: 44px;
$input-line-height-responsive: $input-line-height;
$input-file-img: 'cargar.jpg';

$input-height-alterno: $input-height;
$input-line-height-alterno: $input-line-height;
$input-background-alterno: $color-blanco;
$input-border-alterno: $input-background-alterno;
$input-background-focus-alterno: $input-background-alterno;
$input-border-focus-alterno: $color-principal;
$input-color-alterno: $color-negro;
$input-radius-alterno: 0;
$input-placeholder-alterno: $input-color-alterno;
$input-select-img-alterno: 'select-alterno.png';
$input-select-size-alterno: 50px 100%!important;
$input-height-responsive-alterno: 60px;
$textarea-height-alterno: 200px;
$textarea-height-responsive-alterno: 330px;


$error-background: transparent;
$error-color: $color-principal;

$img-color: $color-blanco;
$img-color-hover: $img-color;
$img-background: transparent;
$img-background-hover: $img-background;
$img-font-size-icon: 47px;

$container-1200: 1100px;
//$container: 1170px;

$hr-top: $color-gris-claro;
$hr-bottom: $color-gris-claro;

$table-border: transparent;
$table-header-color: $color-default;
$table-header-color-responsive: $color-default;

$color-list:
        (none, none),
        (primary, $color-principal),
        (secondary, $color-alterno),
        (transparent, transparent),
        (white, $color-blanco),
        (black, $color-negro),
        (gray, $color-gris),
        (light-gray, $color-gris-claro),
        (purple, $color-morado),
        (red, $color-rojo),
        (blue, $color-azul),
        (magenta, $color-magenta),
        (light-magenta, $color-magenta-claro),
        (green, $color-verde),
        (light-green, $color-verde-claro);


$background-list:
        (degraded, $color-degradado),
        (degraded, $color-degradado);
$button-list:
        (secondary, $color-blanco, $color-alterno, $color-alterno, $color-blanco, lighten($color-alterno,5%), lighten($color-alterno,5%)),
        (green, $color-blanco, $color-verde, $color-verde, $color-blanco, lighten($color-verde,5%), lighten($color-verde,5%)),
        (red, $color-blanco, $color-rojo, $color-rojo, $color-blanco, lighten($color-rojo,5%), lighten($color-rojo,5%)),
        (blue, $color-blanco, $color-azul, $color-azul, $color-blanco, lighten($color-azul,5%), lighten($color-azul,5%)),
        (light-magenta, $color-blanco, $color-magenta-claro, $color-magenta-claro, $color-blanco, lighten($color-magenta-claro,5%), lighten($color-magenta-claro,5%));