@import "compass";
@import "../mixin/font";
@import "../theme/sprite";
@import "tema";

$font-icon: "Flaticon";

$color-facebook: #3b5998;
$color-twitter: #55acee;
$color-linkedin: #0077b5;
$color-instagram: linear-gradient(45deg, #fccc63 0%, #fbad50 16%, #e95950 33%, #cd486b 48%, #bc2a8d 65%, #8a3ab9 81%, #4c68d7 100%);

$gris-demo: #F2F2F2;
$gris-demo-dark: #E2E2E2;

$responsive-1920: 1921px;
$responsive-1680: 1681px;
$responsive-1500: 1501px;
$responsive-1440: 1441px;
$responsive-1366: 1367px;
$responsive-1280: 1281px;
$responsive-1199: 1200px;
$responsive-1024: 1024px;
$responsive-1023: 1023px;
$responsive-991: 992px;
$responsive-767: 768px;
$responsive-650: 651px;
$responsive-600: 601px;
$responsive-550: 551px;
$responsive-500: 501px;
$responsive-450: 451px;
$responsive-360: 361px;

$container-992: 970px;
$container-768: 750px;

$delay-list: (1,3,5,7,9,10,11,15,20,25,30,35,40,45,50,60,65,75,80);
$zindex-list: (1,3,5,10);

$icon-circular-list: (12,15,20,25,30,35,40,45,50,55,60,70,75,100,110,130,150,160,200,240);
$col-list: (20,25,33,40,45,50,55,60);

$padding-list: (0,5,10,15,20,25,30,40,50,60,100);
$padding-list: (0,5,10,15,20,25,30,35,40,50,55,60,65,70,80,95,100,105,120);

$direction-list: (top,right,bottom,left,all);

$margin-list: (0,10,20,30,35);
$margin-negativo-list: (15);

$font-list: (8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,33,35,38,40,45,48,50,52,55,60,65,70,80,90,100,120,130);

$width-list: (0,25,100,150,154,175,380,430,445,970,1100);
$height-list: (auto,1,100,460,650,full);

$border-width-list: (0,2,3,4,5,7,8,10,15,20,50,80,120);
$border-medio-list: (5,6,35);

$radius-list: (0,4,5,8,13,14,15,20,35,60,full);

$opacity-list: (.1,.2,.3,.4,.5,.6,.7,.8,.9,1);
$scale-list: (.5,.6,.7,.8,.9);
$list-separador: (7,10,15,20,25,30,35);

$responsive-list: (361,451,501,551,601,651,701,768,992,1024,1200,1280,1367,1441,1501,1681);
