h1, .Mnk-h1 {
  margin-top: 45px;
  margin-bottom: 30px;
  $font-size-h1: $font-size-h1;
  font-size: $font-size-h1;
  @include responsive-width($responsive-450){
    margin-top: 55px;
    margin-bottom: 40px;
    $font-size-h1: $font-size-h1 + 10;
    font-size: $font-size-h1;
  }
  @include responsive-width($responsive-991){
    margin-top: 65px;
    margin-bottom: 45px;
    $font-size-h1: $font-size-h1 + 15;
    font-size: $font-size-h1;
  }
}
h2, .Mnk-h2 {
  margin-top: 30px;
  margin-bottom: 20px;
  $font-size-h2: $font-size-h2;
  font-size: $font-size-h2;
  @include responsive-width($responsive-450){
    margin-top: 45px;
    margin-bottom: 30px;
    $font-size-h2: $font-size-h2 + 6;
    font-size: $font-size-h2;
  }
  @include responsive-width($responsive-991){
    margin-top: 55px;
    margin-bottom: 35px;
    $font-size-h2: $font-size-h2 + 11;
    font-size: $font-size-h2;
  }
}
h3, .Mnk-h3 {
  margin-top: 25px;
  margin-bottom: 20px;
  $font-size-h3: $font-size-h3;
  font-size: $font-size-h3;
  @include responsive-width($responsive-450){
    margin-top: 30px;
    $font-size-h3: $font-size-h3 + 5;
    font-size: $font-size-h3;
  }
  @include responsive-width($responsive-991){
    margin-top: 45px;
    margin-bottom: 30px;
    $font-size-h3: $font-size-h3 + 5;
    font-size: $font-size-h3;
  }
}
h4, .Mnk-h4 {
  margin-top: 20px;
  margin-bottom: 20px;
  $font-size-h4: $font-size-h4;
  font-size: $font-size-h4;
  @include responsive-width($responsive-450){
    margin-top: 25px;
    $font-size-h4: $font-size-h4 + 4;
    font-size: $font-size-h4;
  }
  @include responsive-width($responsive-991){
    margin-top: 30px;
    $font-size-h4: $font-size-h4 + 5;
    font-size: $font-size-h4;
  }
}
h5, .Mnk-h5 {
  margin-top: 20px;
  margin-bottom: 20px;
  $font-size-h5: $font-size-h5 ;
  font-size: $font-size-h5;
  @include responsive-width($responsive-450){
    $font-size-h5: $font-size-h5 + 3;
    font-size: $font-size-h5;
  }
  @include responsive-width($responsive-991){
    margin-top: 25px;
    $font-size-h5: $font-size-h5 + 4;
    font-size: $font-size-h5;
  }
}
h6, .Mnk-h6 {
  margin-top: 20px;
  margin-bottom: 20px;
  $font-size-h6: $font-size-h6;
  font-size: $font-size-h6;
  @include responsive-width($responsive-450){
    $font-size-h6: $font-size-h6 + 2;
    font-size: $font-size-h6;
  }
  @include responsive-width($responsive-991){
    margin-top: 25px;
    $font-size-h6: $font-size-h6 + 3;
    font-size: $font-size-h6;
  }
}
h1, h2, h3, h4, h5, h6 {
  color: $color-titular;
  font-family: $font-family-titular;
  font-weight: 500;
  //margin-top: 0;
  line-height: 1.3;
  letter-spacing: -.02em;
}
.Mnk-hgroup{
  margin-bottom: 20px;
  > *{
    &:first-child{
      margin-bottom: 8px;
    }
    &:last-child{
      margin-bottom: 0;
    }
  }
  &.-small{
    margin-bottom: 15px;
    > *{
      &:first-child{
        margin-bottom: 0;
      }
    }
  }
}

.Mnk-align-left {
  text-align: left;
}
.Mnk-align-right {
  text-align: right;
}
.Mnk-align-center {
  text-align: center;
}
.Mnk-align-justify {
  text-align: justify;
}

.Mnk-font-primary {
  font-family: $font-family-principal;
}
.Mnk-font-title {
  font-family: $font-family-titular;
  font-weight: 700;
}
.Mnk-font-secondary {
  font-family: $font-family-alterno;
}

.Mnk-bold {
  font-weight: $font-bold;
  @at-root #{&}-clear{
    font-weight: normal;
  }
  @at-root #{&}-hover{
    transition: all 150ms ease-in-out;
    &:hover{
      @include responsive-width($responsive-1024){
        font-weight: $font-bold;
      }
    }
  }
}
.Mnk-light {
  font-weight: 300;
}
.Mnk-medium {
  font-weight: 500;
}
.Mnk-ultra-bold {
  font-weight: 900;
}

.Mnk-uppercase {
  text-transform: uppercase;
  &.-none{
    text-transform: none;
  }
}
.Mnk-italic {
  font-style: italic;
}

.Mnk-line-height-null{
  line-height: 0;
}
.Mnk-line-height-clear{
  line-height: 1;
}
.Mnk-line-height-small{
  line-height: 1.2;
}
.Mnk-line-height-medium{
  line-height: 1.3;
}
.Mnk-line-height-large{
  line-height: 1.5;
}

.Mnk-clear-br{
  br{
    @include responsive-max-width(991px){
      display: none;
    }
  }
}

@each $color-nombre-list, $color-valor-list in $color-list {
  $color-nombre: '.Mnk-color';
  $color-nombre-hover: '.Mnk-color-hover';
  $color-row-nombre-hover: '.Mnk-box-color';
  $color-underline: '.Mnk-underline';
  $color-underline-hover: '.Mnk-underline-hover';
  $color-valor: $color-default;
  @if ($color-nombre-list!=none) {
    $color-nombre: '.Mnk-color-#{$color-nombre-list}';
    $color-nombre-hover: '.Mnk-color-#{$color-nombre-list}-hover';
    $color-row-nombre-hover: '.Mnk-box-color-#{$color-nombre-list}-hover';
    $color-underline: '.Mnk-underline-#{$color-nombre-list}';
    $color-underline-hover: '.Mnk-underline-#{$color-nombre-list}-hover';
    $color-valor: $color-valor-list;
  }

  #{$color-nombre}{
    color: $color-valor;
  }
  #{$color-underline}{
    position: relative;
    &:before{
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      bottom: -2px;
      height: 1px;
      background-color: $color-valor;
      transition-property: left,right;
      transition-duration: .3s;
      transition-timing-function: ease-in-out;
    }
  }

  @include responsive-width($responsive-1024){
    #{$color-nombre-hover}{
      transition-property: all;
      transition-duration: .3s;
      transition-timing-function: ease-in-out;
      &:hover{
        color: $color-valor;
      }
    }
    #{$color-row-nombre-hover}{
      &:hover{
        #{$color-nombre-hover}{
          color: $color-valor;
        }
      }
    }
    #{$color-underline-hover}{
      @include responsive-width($responsive-1024){
        position: relative;
        &:after{
          content: '';
          position: absolute;
          left: 50%;
          right: 50%;
          bottom: -2px;
          height: 1px;
          background-color: $color-valor;
          transition-property: left,right;
          transition-duration: .3s;
          transition-timing-function: ease-in-out;
        }
        &:hover{
          &:before{
            left: 50%;
            right: 50%;
          }
          &:after{
            left: 0;
            right: 0;
          }
        }
      }
    }
    .Mnk-box-underline-hover{
      @include responsive-width($responsive-1024){
        &:hover{
          #{$color-underline-hover} {
            &:after {
              left: 0;
              right: 0;
            }
          }
        }
      }
    }
  }
}

.Mnk-color{
   @at-root #{&}-primary{
     color: $color-principal;
     @include responsive-width($responsive-1024){
       @at-root #{&}-hover{
         transition-property: all;
         transition-duration: .3s;
         transition-timing-function: ease-in-out;
         &:hover{
           color: $color-principal;
         }
       }
     }
   }
  @at-root #{&}-secondary{
    color: $color-alterno;
    @include responsive-width($responsive-1024){
      @at-root #{&}-hover{
        transition-property: all;
        transition-duration: .3s;
        transition-timing-function: ease-in-out;
        &:hover{
          color: $color-alterno;
        }
      }
    }
  }
}


@each $font in $font-list {
  .Mnk-font-#{$font} {
    font-size: #{$font}px;
  }
}

.Mnk-pointer {
  cursor: pointer;
}
.Mnk-limit-text{
  text-overflow:ellipsis;
  white-space:nowrap;
  overflow:hidden;
}

.Mnk-visual-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  color: transparent;
}

table{
  border-collapse:collapse;
  border-spacing:0;
  width:100%;
  margin:0 auto 20px;
  font-size: 14px;
  tr{
    th{
      padding:20px 15px 15px;
      font-weight:$font-bold;
      color: $color-principal;
      vertical-align:middle;
      border-top:1px solid $border-color;
      border-bottom:1px solid $border-color;
      &:first-child{
        border-left:1px solid $border-color;
      }
      &:last-child{
        border-right:1px solid $border-color;
      }
    }
    td{
      padding:20px 15px 15px;
      border-bottom:1px solid $border-color;
      vertical-align:middle;
      &:first-child{
        border-left:1px solid $border-color;
      }
      &:last-child{
        border-right:1px solid $border-color;
      }
    }
    &:first-child{
      td{
        border-top:1px solid $border-color;
      }
    }
  }
}


.alignleft {
  float: left;
  margin: 0.375em 1.75em 1.75em 0;
}

.alignright {
  float: right;
  margin: 0.375em 0 1.75em 1.75em;
}

.aligncenter {
  clear: both;
  display: block;
  margin: 0 auto 1.75em;
}

blockquote.alignleft {
  margin: 0.3157894737em 1.4736842105em 1.473684211em 0;
}

blockquote.alignright {
  margin: 0.3157894737em 0 1.473684211em 1.4736842105em;
}

blockquote.aligncenter {
  margin-bottom: 1.473684211em;
}

embed,
iframe,
object,
video {
  margin-bottom: 1.75em;
  max-width: 100%;
  vertical-align: middle;
}

p > embed,
p > iframe,
p > object,
p > video {
  margin-bottom: 0;
}