@font-face {
  font-family: $font-icon;
  src: mnk-font-url('Flaticon.eot');
  src: mnk-font-url('Flaticon.svg#Flaticon') format('svg');
  src: mnk-font-url('Flaticon.eot?#iefix') format('embedded-opentype'),
    //  mnk-font-url('Flaticon.woff2') format('woff2'),
  mnk-font-url('Flaticon.woff') format('woff'),
  mnk-font-url('Flaticon.ttf') format('truetype');
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {
  font-family: $font-icon !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
[data-icon]:before {
  font-family: $font-icon !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*
@font-face {
  font-family: $font-family-principal;
  src: mnk-font-url('Streetvertising-Light.eot');
  src: //mnk-font-url('Streetvertising-Light.woff2') format('woff2'),
          mnk-font-url('Streetvertising-Light.woff') format('woff'),
          mnk-font-url('Streetvertising-Light.ttf') format('truetype'),
          mnk-font-url('Streetvertising-Light.svg#Streetvertising-Light') format('svg'),
          mnk-font-url('Streetvertising-Light.eot?#iefix') format('embedded-opentype');
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
}*/


