//@import "../mixin/variables";
//@import "../mixin/mixin";

hr{
  &.-demo{
    border-top-color: $gris-demo;
    border-top-width: 5px;
    border-bottom-width: 0;
  }
  @at-root &, .Mnk-hr{
    border-width: 0;
    border-top: 1px solid $hr-top;
    border-bottom: 1px solid $hr-bottom;
    height: 2px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    @include responsive-width($responsive-1024){
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }

  @at-root .Mnk-hr, hr{
    display: block;
    @each $color-nombre, $color-valor in $color-list {
      @if($color-nombre!=none){
        &.-#{$color-nombre}{
          border-top-color: $color-valor;
          border-bottom-color: transparent;
        }
        &.-#{$color-nombre}-hover{
          transition-property: all;
          transition-duration: .3s;
          transition-timing-function: ease-in-out;
          &:hover{
            @include responsive-width($responsive-1024){
              border-top-color: $color-valor;
              border-bottom-color: transparent;
            }
          }
        }
        @at-root  .Mnk-row-hr-#{$color-nombre}-hover {
          &:hover {
            .Mnk-hr, hr{
              &.-#{$color-nombre}-hover{
                transition-property: all;
                transition-duration: .3s;
                transition-timing-function: ease-in-out;
                @include responsive-width($responsive-1024) {
                  border-top-color: $color-valor;
                  border-bottom-color: transparent;
                }
              }
            }
          }
        }
      }
    }
    @each $hr-strong in $border-width-list{
      &.-height-#{$hr-strong}{
        border-top-width:  unquote('#{$hr-strong}px');
        border-bottom-width: 0;
      }
    }

    &.-clear{
      border-top-color: transparent;
      border-bottom-color: transparent;
    }

  }
}
