.Mnk-menu {
  display: none;
  @include responsive-width($responsive-767) {
    display: table;
    height: 100%;
    float: right;
  }

  > li {
    position: relative;

    @include responsive-width($responsive-767) {
      display: table-cell;
      vertical-align: middle;
    }

    > a {
      display: block;
      color: rgba($color-blanco, 0.6);
      position: relative;
      padding: 20px;
      font-size: 13px;
      font-family: $font-family-principal;
      font-weight: 500;
      transition-property: all;
      transition-duration: 0.3s;
      transition-timing-function: ease-in-out;
      text-align: center;
      text-transform: uppercase;

      @include responsive-width($responsive-767) {
        padding: 0 10px;
        display: table;
        height: 100%;
        table-layout: fixed;
        //text-align:center;
      }
      @include responsive-width($responsive-991) {
        padding: 0 17px;
        font-size: 14px;
      }

      span {
        position: relative;
        @include responsive-width($responsive-767) {
          display: table-cell;
          vertical-align: middle;
          padding-top: 3px;
        }
      }
    }
    &:last-child {
      > a {
        color: $color-morado;
      }
    }

    /*& > a:not(.-current):hover,
    &:not(.current-menu-item) > a:hover,
    &.menu-item-has-children:hover > a {*/
    &:not(:last-child){
      @include responsive-width($responsive-767) {
        &:hover {
          > a{
            color: $color-blanco;
          }
        }
      }
    }

    & > a.-current,
    &.current-menu-ancestor > a,
    &.current-menu-parent > a,
    &.current-menu-item > a,
    &.current_page_item > a {
      color: $color-morado;
    }
  }

  .menu-item-has-children {
    > a{
      span + span{
        opacity: .6;
        padding-left: 10px;
        padding-top: 0;
        &:after{
          //content: '';
          background-color: $color-blanco;
          position: absolute;
          height: 6px;
          width: 11px;
          right: 0;
          top: 50%;
          margin-top: -3px;
          opacity: .6;
          mask: mnk-image-url("down.svg");
        }
        path{
          transition-property: all;
          transition-duration: 0.3s;
          transition-timing-function: ease-in-out;
        }
      }
    }
    @include responsive-width($responsive-767) {
      &:hover {
        > .sub-menu {
          opacity: 1;
          visibility: visible;
          transform: translateY(0);
        }
      }
    }
  }

  @at-root #{&} .sub-menu {
    visibility: hidden;
    opacity: 0;

    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;

    @include responsive-width($responsive-767) {
      background-color: $color-blanco;
      position: absolute;
      top: 100%;
      padding: 10px 0;
      width: 190px;
      box-shadow: 0 0 15px rgba($color-negro, 0.1);
      transform: translateY(20px);
    }

    li {
      position: relative;
    }

    li a:hover,
    .menu-item-has-children:hover > a{
      @include responsive-width($responsive-767){
        color: $color-morado;
      }
    }

    a {
      color: $color-blanco;
      display: block;

      padding: 0;
      line-height: 0;

      font-size: 18px;
      text-align: center;

      @include responsive-width($responsive-767) {
        color: $color-default;
        padding: 10px 15px;
        font-size: 14px;
        line-height: $line-height;
        text-align: left;
      }
    }
  }

  @at-root #{&}_button {
    cursor: pointer;
    color: $color-principal;
    @include grid-table(middle);
    height: 100%;
    width: auto;
    table-layout: fixed;

    position: relative;
    z-index: 3;
    padding: 0 20px;
    @include responsive-width($responsive-450) {
      padding: 0 30px;
    }

    @at-root #{&}-texto {
      font-size: 12px;
      transition-property: all;
      transition-duration: 0.1s;
      transition-timing-function: ease-in-out;
    }
    @at-root #{&}-icon {
      span {
        display: block;
        height: 2px;
        margin-left: auto;
        margin-right: auto;
        border-radius: 1px;
        transition-property: all;
        transition-duration: 0.3s;
        transition-timing-function: ease-in-out;

        &:not(:first-child):not(:last-child) {
          margin-top: 6px;
          margin-bottom: 6px;
        }

        &:first-child {
          margin-left: 7px;
        }

        &:last-child {
          margin-right: 7px;
        }
      }

      span {
        background-color: $color-blanco;
      }
    }

    &.-open {
      color: transparent;
      position: relative;
      z-index: 11;
      .Mnk-menu_button-icon {
        span {
          //background-color: $color-blanco;
          &:first-child {
            margin-left: 0;
            transform: translateY(8px) rotate(45deg);
          }
          &:last-child {
            margin-right: 0;
            transform: translateY(-8px) rotate(-45deg);
          }
          &:not(:first-child):not(:last-child) {
            opacity: 0;
          }
        }
      }
    }
  }

  @at-root #{&}_container {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: 100%;
    z-index: 3;
    background-color: $color-blanco;
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;

    visibility: hidden;
    opacity: 0;

    @include responsive-width($responsive-1024) {
      position: relative;
      background-color: transparent;
      height: auto;
      right: auto;

      visibility: visible;
      opacity: 1;
    }

    &.-open {
      visibility: visible;
      opacity: 1;
      .Mnk-menu_mobile {
        //transform: translateX(0);
      }
    }
  }

  @at-root #{&}_mobile {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    overflow: auto;
    width: 100%;
    //transform: translateX(-100%);
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;

    @include responsive-width($responsive-1024) {
      width: auto;
      //transform:translateX(0);
      box-shadow: none;
      position: relative;
      display: table;
      height: 100%;
      margin: 0 auto;
    }

    > * {
      padding-top: 50px;
      padding-bottom: 30px;
      @include responsive-width($responsive-1024) {
        padding-top: 0;
        padding-bottom: 0;
      }
    }
  }

  @at-root #{&}_bar {
    box-shadow: 5px 0 15px 0 rgba($color-negro, 0.05);
  }

  @at-root #{&}_local {
    a {
      display: block;
      padding-left: 35px;
      padding-right: 15px;
      padding-top: 8px;
      padding-bottom: 8px;
      position: relative;
      &:before {
        content: "";
        position: absolute;
        left: 0;
        bottom: 50%;
        top: 50%;
        width: 3px;
        background-color: $color-principal;
        transition-property: top, bottom;
        transition-duration: 0.3s;
        transition-timing-function: ease-in-out;
      }
      &:hover {
        @include responsive-width($responsive-1024) {
          &:before {
            top: 6px;
            bottom: 6px;
          }
        }
      }
    }
    li {
      &.-current {
        a {
          font-weight: $font-bold;
          &:before {
            top: 6px;
            bottom: 6px;
          }
        }
      }
    }
  }

  @at-root #{&}_body {
    overflow: hidden;
    .Mnk-header .Mnk-menu_button,
    .Mnk-header.-fixed .Mnk-menu_button,
    .Mnk-header.-fixed.-page .Mnk-menu_button {
      span {
        @include responsive-max-width($responsive-1023) {
          background-color: $color-negro;
        }
      }
    }
    .Mnk-language {
      position: relative;
      z-index: 11;
      background-color: transparent;
      @at-root #{&}_link {
        color: rgba($color-blanco, 0.5);
        &:hover {
          @include responsive-width($responsive-1024) {
            color: $color-blanco;
          }
        }
        &.-active {
          color: $color-verde;
          @include responsive-width($responsive-450) {
            color: $color-blanco;
          }
        }
      }
    }
    .Mnk-logo {
      z-index: 11;
    }
  }

  &.-small {
    @include responsive-width($responsive-450) {
      @include inline-block-sin-espacios;
    }
    text-align: center;
    > li {
      font-size: 15px;
      text-transform: uppercase;
      @include responsive-width($responsive-450) {
        font-size: 17px;
      }
      @include responsive-width($responsive-991) {
        font-size: 19px;
      }
      > a {
        padding: 10px 15px;
      }
    }
  }
}

.Mnk-menu_categorias {
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  background-color: $color-principal;
  @include responsive-width($responsive-450) {
    text-align: center;
  }
  @include responsive-width($responsive-1199) {
    background-color: transparent;
    position: relative;
  }
  a {
    display: block;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 15px;
    padding-top: 15px;
    border-bottom: 1px solid rgba($color-blanco, 0.4);
    @include responsive-width($responsive-450) {
      padding-right: 15px;
      padding-left: 15px;
      padding-top: 11px;
      padding-bottom: 11px;
      border-bottom-width: 0;
    }
    @include responsive-width($responsive-1199) {
      padding-left: 0;
      padding-right: 55px;
    }
    span {
      cursor: pointer;
      height: auto;
      margin: 0;
      width: auto;
      transition-property: all;
      transition-duration: 0.05s;
      transition-timing-function: ease-in-out;
      display: block;
      color: $color-blanco;

      position: relative;
      z-index: 1;

      @include responsive-width($responsive-450) {
        padding: 5px 0;
      }

      @include responsive-width($responsive-1199) {
        color: $color-negro;
        padding: 4px 11px 1px;
        &:before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          transition-property: all;
          transition-duration: 0s;
          transition-timing-function: ease-in-out;
          width: 0;
          background: $color-alterno no-repeat left top;
          z-index: -1;
          opacity: 0;
        }
      }
    }
  }
  li {
    font-family: $font-family-principal;
    font-size: 15px;
    line-height: 1;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.042em;
    @include responsive-width($responsive-991) {
      font-size: 12.5px;
      text-transform: uppercase;
    }
    &:last-child {
      a {
        @include responsive-width($responsive-991) {
          padding-right: 0;
        }
      }
    }
    &.current-menu-ancestor,
    &.current-menu-parent,
    &.current-menu-item,
    &.current_page_item {
      font-family: $font-family-alterno;
      > a {
        span {
          color: $color-alterno;
          @include responsive-width($responsive-1199) {
            color: $color-principal;
            &:before {
              width: 100%;
              opacity: 1;
            }
          }
        }
      }
    }
    &:not(.current-menu-item) > a:hover,
    &.menu-item-has-children:hover > a {
      @include responsive-width($responsive-1024) {
        &:hover {
          span {
            color: $color-alterno;
            @include responsive-width($responsive-1199) {
              color: $color-principal;
              &:before {
                width: 100%;
                opacity: 1;
              }
            }
          }
        }
      }
    }
  }
}

.Mnk-menu_footer {
  font-size: 16px;
  @include responsive-width($responsive-450) {
    font-size: 18px;
  }
  @include responsive-width($responsive-991) {
    font-size: 20px;
  }
  li {
    a {
      color: $color-blanco;
      position: relative;
      font-family: $font-family-alterno;
      vertical-align: top;
      z-index: 1;
      padding: 0 3px;
      &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        transition-property: all;
        transition-duration: 0.3s;
        transition-timing-function: ease-in-out;
        width: 0;
        background: $button-background-hover no-repeat left top;
        z-index: -1;
        opacity: 0;
      }
    }
    &:not(.current-menu-item) > a:hover,
    &.menu-item-has-children:hover > a {
      @include responsive-width($responsive-1024) {
        &:hover {
          color: $color-principal;
          &:before {
            width: 100%;
            opacity: 1;
          }
        }
      }
    }
    &.current-menu-ancestor,
    &.current-menu-parent,
    &.current-menu-item,
    &.current_page_item {
      > a {
        color: $color-principal;
        &:before {
          width: 100%;
          opacity: 1;
        }
      }
    }
  }
}
