html {
  @include responsive-width($responsive-1024){
    display: table;
    width: 100%;
    height: 100%;
    &.-complete{
      &, body{
        display: block;
      }
    }
  }
  &.Mnk-html-full{
    &, &.-complete{
      display: table;
      width: 100%;
      height: 100%;
      body{
        display: table-cell;
        height: 100%;
        @include responsive-width($responsive-767){
          vertical-align: middle;
        }
      }
    }
  }
}

body {
  color: $color-default;
  font-family: $font-family-principal;
  line-height: $line-height;
  min-width: 300px;
  position: relative;
  font-size: $font-size-default;
  padding: 0;
  margin: 0;
  -webkit-text-size-adjust:100%;

  letter-spacing: $letter-spacing;
  background-color: $body-background;
  padding-bottom: 61px;
  @media only screen and (min-width: 768px){padding-bottom: 0;}

  @include responsive-width(301px){
    overflow-x: hidden;
  }
  @include responsive-width($responsive-450){
    //font-size: $font-size-default + 2;
  }
  @include responsive-width($responsive-1024){
    display: table-cell;
    vertical-align: middle;
    //font-size: $font-size-default + 5;
  }
  @include responsive-width($responsive-1366){
    display: table-cell;
    vertical-align: middle;
    //font-size: $font-size-default + 9;
  }
  &.-demo{
    background-color: $color-blanco;
    color: darken($gris-demo-dark,20%);
    a:not(.Mnk-button):not(.Mnk-menu_link):not(.Mnk-social-network_link){
      color: darken($gris-demo-dark,20%);
      &:hover{
        @include responsive-width($responsive-1024){
          color: darken($gris-demo-dark,40%);
        }
      }
    }
  }
}
*{
  &,
  &:before,
  &:after{
    box-sizing: border-box;
  }
}
:focus {
  outline: none;
}
a{
  color: $color-link;
  text-decoration: none;
  transition-property: all;
  transition-duration: .3s;
  transition-timing-function: ease-in-out;
  &:hover{
    @include responsive-width($responsive-1024){
      color: $color-link-hover;
    }
  }
}
p{
  margin: 0 0 15px;
}
strong , b{
  font-weight: $font-bold;
}
em{
  font-style: italic;
}
img{
  vertical-align: middle;
  max-width: 100%;
  height: auto;
}
ul{
  padding: 0;
  margin: 0;
  list-style: none;
}