// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$acceso-blanco-name: 'acceso-blanco';
$acceso-blanco-x: 492px;
$acceso-blanco-y: 0px;
$acceso-blanco-offset-x: -492px;
$acceso-blanco-offset-y: 0px;
$acceso-blanco-width: 66px;
$acceso-blanco-height: 59px;
$acceso-blanco-total-width: 558px;
$acceso-blanco-total-height: 524px;
$acceso-blanco-image: './img/sprite.png';
$acceso-blanco: (492px, 0px, -492px, 0px, 66px, 59px, 558px, 524px, './img/sprite.png', 'acceso-blanco', );
$acceso-verde-name: 'acceso-verde';
$acceso-verde-x: 492px;
$acceso-verde-y: 59px;
$acceso-verde-offset-x: -492px;
$acceso-verde-offset-y: -59px;
$acceso-verde-width: 66px;
$acceso-verde-height: 59px;
$acceso-verde-total-width: 558px;
$acceso-verde-total-height: 524px;
$acceso-verde-image: './img/sprite.png';
$acceso-verde: (492px, 59px, -492px, -59px, 66px, 59px, 558px, 524px, './img/sprite.png', 'acceso-verde', );
$aire-blanco-name: 'aire-blanco';
$aire-blanco-x: 320px;
$aire-blanco-y: 260px;
$aire-blanco-offset-x: -320px;
$aire-blanco-offset-y: -260px;
$aire-blanco-width: 76px;
$aire-blanco-height: 59px;
$aire-blanco-total-width: 558px;
$aire-blanco-total-height: 524px;
$aire-blanco-image: './img/sprite.png';
$aire-blanco: (320px, 260px, -320px, -260px, 76px, 59px, 558px, 524px, './img/sprite.png', 'aire-blanco', );
$aire-verde-name: 'aire-verde';
$aire-verde-x: 322px;
$aire-verde-y: 320px;
$aire-verde-offset-x: -322px;
$aire-verde-offset-y: -320px;
$aire-verde-width: 76px;
$aire-verde-height: 59px;
$aire-verde-total-width: 558px;
$aire-verde-total-height: 524px;
$aire-verde-image: './img/sprite.png';
$aire-verde: (322px, 320px, -322px, -320px, 76px, 59px, 558px, 524px, './img/sprite.png', 'aire-verde', );
$cafe-blanco-name: 'cafe-blanco';
$cafe-blanco-x: 492px;
$cafe-blanco-y: 118px;
$cafe-blanco-offset-x: -492px;
$cafe-blanco-offset-y: -118px;
$cafe-blanco-width: 57px;
$cafe-blanco-height: 65px;
$cafe-blanco-total-width: 558px;
$cafe-blanco-total-height: 524px;
$cafe-blanco-image: './img/sprite.png';
$cafe-blanco: (492px, 118px, -492px, -118px, 57px, 65px, 558px, 524px, './img/sprite.png', 'cafe-blanco', );
$cafe-verde-name: 'cafe-verde';
$cafe-verde-x: 492px;
$cafe-verde-y: 183px;
$cafe-verde-offset-x: -492px;
$cafe-verde-offset-y: -183px;
$cafe-verde-width: 57px;
$cafe-verde-height: 65px;
$cafe-verde-total-width: 558px;
$cafe-verde-total-height: 524px;
$cafe-verde-image: './img/sprite.png';
$cafe-verde: (492px, 183px, -492px, -183px, 57px, 65px, 558px, 524px, './img/sprite.png', 'cafe-verde', );
$caja-blanco-name: 'caja-blanco';
$caja-blanco-x: 188px;
$caja-blanco-y: 389px;
$caja-blanco-offset-x: -188px;
$caja-blanco-offset-y: -389px;
$caja-blanco-width: 60px;
$caja-blanco-height: 69px;
$caja-blanco-total-width: 558px;
$caja-blanco-total-height: 524px;
$caja-blanco-image: './img/sprite.png';
$caja-blanco: (188px, 389px, -188px, -389px, 60px, 69px, 558px, 524px, './img/sprite.png', 'caja-blanco', );
$caja-verde-name: 'caja-verde';
$caja-verde-x: 128px;
$caja-verde-y: 389px;
$caja-verde-offset-x: -128px;
$caja-verde-offset-y: -389px;
$caja-verde-width: 60px;
$caja-verde-height: 69px;
$caja-verde-total-width: 558px;
$caja-verde-total-height: 524px;
$caja-verde-image: './img/sprite.png';
$caja-verde: (128px, 389px, -128px, -389px, 60px, 69px, 558px, 524px, './img/sprite.png', 'caja-verde', );
$check-blanco-name: 'check-blanco';
$check-blanco-x: 384px;
$check-blanco-y: 389px;
$check-blanco-offset-x: -384px;
$check-blanco-offset-y: -389px;
$check-blanco-width: 63px;
$check-blanco-height: 44px;
$check-blanco-total-width: 558px;
$check-blanco-total-height: 524px;
$check-blanco-image: './img/sprite.png';
$check-blanco: (384px, 389px, -384px, -389px, 63px, 44px, 558px, 524px, './img/sprite.png', 'check-blanco', );
$check-verde-name: 'check-verde';
$check-verde-x: 321px;
$check-verde-y: 389px;
$check-verde-offset-x: -321px;
$check-verde-offset-y: -389px;
$check-verde-width: 63px;
$check-verde-height: 44px;
$check-verde-total-width: 558px;
$check-verde-total-height: 524px;
$check-verde-image: './img/sprite.png';
$check-verde: (321px, 389px, -321px, -389px, 63px, 44px, 558px, 524px, './img/sprite.png', 'check-verde', );
$check-name: 'check';
$check-x: 538px;
$check-y: 428px;
$check-offset-x: -538px;
$check-offset-y: -428px;
$check-width: 18px;
$check-height: 16px;
$check-total-width: 558px;
$check-total-height: 524px;
$check-image: './img/sprite.png';
$check: (538px, 428px, -538px, -428px, 18px, 16px, 558px, 524px, './img/sprite.png', 'check', );
$comillas-name: 'comillas';
$comillas-x: 86px;
$comillas-y: 463px;
$comillas-offset-x: -86px;
$comillas-offset-y: -463px;
$comillas-width: 54px;
$comillas-height: 46px;
$comillas-total-width: 558px;
$comillas-total-height: 524px;
$comillas-image: './img/sprite.png';
$comillas: (86px, 463px, -86px, -463px, 54px, 46px, 558px, 524px, './img/sprite.png', 'comillas', );
$compartidas-name: 'compartidas';
$compartidas-x: 0px;
$compartidas-y: 0px;
$compartidas-offset-x: 0px;
$compartidas-offset-y: 0px;
$compartidas-width: 160px;
$compartidas-height: 160px;
$compartidas-total-width: 558px;
$compartidas-total-height: 524px;
$compartidas-image: './img/sprite.png';
$compartidas: (0px, 0px, 0px, 0px, 160px, 160px, 558px, 524px, './img/sprite.png', 'compartidas', );
$flamenco-verde-name: 'flamenco-verde';
$flamenco-verde-x: 492px;
$flamenco-verde-y: 248px;
$flamenco-verde-offset-x: -492px;
$flamenco-verde-offset-y: -248px;
$flamenco-verde-width: 50px;
$flamenco-verde-height: 68px;
$flamenco-verde-total-width: 558px;
$flamenco-verde-total-height: 524px;
$flamenco-verde-image: './img/sprite.png';
$flamenco-verde: (492px, 248px, -492px, -248px, 50px, 68px, 558px, 524px, './img/sprite.png', 'flamenco-verde', );
$flamenco-name: 'flamenco';
$flamenco-x: 320px;
$flamenco-y: 0px;
$flamenco-offset-x: -320px;
$flamenco-offset-y: 0px;
$flamenco-width: 85px;
$flamenco-height: 116px;
$flamenco-total-width: 558px;
$flamenco-total-height: 524px;
$flamenco-image: './img/sprite.png';
$flamenco: (320px, 0px, -320px, 0px, 85px, 116px, 558px, 524px, './img/sprite.png', 'flamenco', );
$impresora-blanco-name: 'impresora-blanco';
$impresora-blanco-x: 180px;
$impresora-blanco-y: 320px;
$impresora-blanco-offset-x: -180px;
$impresora-blanco-offset-y: -320px;
$impresora-blanco-width: 71px;
$impresora-blanco-height: 64px;
$impresora-blanco-total-width: 558px;
$impresora-blanco-total-height: 524px;
$impresora-blanco-image: './img/sprite.png';
$impresora-blanco: (180px, 320px, -180px, -320px, 71px, 64px, 558px, 524px, './img/sprite.png', 'impresora-blanco', );
$impresora-verde-name: 'impresora-verde';
$impresora-verde-x: 251px;
$impresora-verde-y: 320px;
$impresora-verde-offset-x: -251px;
$impresora-verde-offset-y: -320px;
$impresora-verde-width: 71px;
$impresora-verde-height: 64px;
$impresora-verde-total-width: 558px;
$impresora-verde-total-height: 524px;
$impresora-verde-image: './img/sprite.png';
$impresora-verde: (251px, 320px, -251px, -320px, 71px, 64px, 558px, 524px, './img/sprite.png', 'impresora-verde', );
$left-hover-name: 'left-hover';
$left-hover-x: 515px;
$left-hover-y: 428px;
$left-hover-offset-x: -515px;
$left-hover-offset-y: -428px;
$left-hover-width: 23px;
$left-hover-height: 23px;
$left-hover-total-width: 558px;
$left-hover-total-height: 524px;
$left-hover-image: './img/sprite.png';
$left-hover: (515px, 428px, -515px, -428px, 23px, 23px, 558px, 524px, './img/sprite.png', 'left-hover', );
$left-name: 'left';
$left-x: 447px;
$left-y: 389px;
$left-offset-x: -447px;
$left-offset-y: -389px;
$left-width: 23px;
$left-height: 23px;
$left-total-width: 558px;
$left-total-height: 524px;
$left-image: './img/sprite.png';
$left: (447px, 389px, -447px, -389px, 23px, 23px, 558px, 524px, './img/sprite.png', 'left', );
$limpieza-blanco-name: 'limpieza-blanco';
$limpieza-blanco-x: 90px;
$limpieza-blanco-y: 320px;
$limpieza-blanco-offset-x: -90px;
$limpieza-blanco-offset-y: -320px;
$limpieza-blanco-width: 90px;
$limpieza-blanco-height: 69px;
$limpieza-blanco-total-width: 558px;
$limpieza-blanco-total-height: 524px;
$limpieza-blanco-image: './img/sprite.png';
$limpieza-blanco: (90px, 320px, -90px, -320px, 90px, 69px, 558px, 524px, './img/sprite.png', 'limpieza-blanco', );
$limpieza-verde-name: 'limpieza-verde';
$limpieza-verde-x: 0px;
$limpieza-verde-y: 320px;
$limpieza-verde-offset-x: 0px;
$limpieza-verde-offset-y: -320px;
$limpieza-verde-width: 90px;
$limpieza-verde-height: 69px;
$limpieza-verde-total-width: 558px;
$limpieza-verde-total-height: 524px;
$limpieza-verde-image: './img/sprite.png';
$limpieza-verde: (0px, 320px, 0px, -320px, 90px, 69px, 558px, 524px, './img/sprite.png', 'limpieza-verde', );
$organigrama-blanco-name: 'organigrama-blanco';
$organigrama-blanco-x: 405px;
$organigrama-blanco-y: 91px;
$organigrama-blanco-offset-x: -405px;
$organigrama-blanco-offset-y: -91px;
$organigrama-blanco-width: 87px;
$organigrama-blanco-height: 91px;
$organigrama-blanco-total-width: 558px;
$organigrama-blanco-total-height: 524px;
$organigrama-blanco-image: './img/sprite.png';
$organigrama-blanco: (405px, 91px, -405px, -91px, 87px, 91px, 558px, 524px, './img/sprite.png', 'organigrama-blanco', );
$organigrama-verde-name: 'organigrama-verde';
$organigrama-verde-x: 405px;
$organigrama-verde-y: 0px;
$organigrama-verde-offset-x: -405px;
$organigrama-verde-offset-y: 0px;
$organigrama-verde-width: 87px;
$organigrama-verde-height: 91px;
$organigrama-verde-total-width: 558px;
$organigrama-verde-total-height: 524px;
$organigrama-verde-image: './img/sprite.png';
$organigrama-verde: (405px, 0px, -405px, 0px, 87px, 91px, 558px, 524px, './img/sprite.png', 'organigrama-verde', );
$persona-blanco-name: 'persona-blanco';
$persona-blanco-x: 492px;
$persona-blanco-y: 372px;
$persona-blanco-offset-x: -492px;
$persona-blanco-offset-y: -372px;
$persona-blanco-width: 58px;
$persona-blanco-height: 56px;
$persona-blanco-total-width: 558px;
$persona-blanco-total-height: 524px;
$persona-blanco-image: './img/sprite.png';
$persona-blanco: (492px, 372px, -492px, -372px, 58px, 56px, 558px, 524px, './img/sprite.png', 'persona-blanco', );
$persona-verde-name: 'persona-verde';
$persona-verde-x: 492px;
$persona-verde-y: 316px;
$persona-verde-offset-x: -492px;
$persona-verde-offset-y: -316px;
$persona-verde-width: 58px;
$persona-verde-height: 56px;
$persona-verde-total-width: 558px;
$persona-verde-total-height: 524px;
$persona-verde-image: './img/sprite.png';
$persona-verde: (492px, 316px, -492px, -316px, 58px, 56px, 558px, 524px, './img/sprite.png', 'persona-verde', );
$personas-blanco-name: 'personas-blanco';
$personas-blanco-x: 64px;
$personas-blanco-y: 389px;
$personas-blanco-offset-x: -64px;
$personas-blanco-offset-y: -389px;
$personas-blanco-width: 64px;
$personas-blanco-height: 74px;
$personas-blanco-total-width: 558px;
$personas-blanco-total-height: 524px;
$personas-blanco-image: './img/sprite.png';
$personas-blanco: (64px, 389px, -64px, -389px, 64px, 74px, 558px, 524px, './img/sprite.png', 'personas-blanco', );
$personas-verde-name: 'personas-verde';
$personas-verde-x: 0px;
$personas-verde-y: 389px;
$personas-verde-offset-x: 0px;
$personas-verde-offset-y: -389px;
$personas-verde-width: 64px;
$personas-verde-height: 74px;
$personas-verde-total-width: 558px;
$personas-verde-total-height: 524px;
$personas-verde-image: './img/sprite.png';
$personas-verde: (0px, 389px, 0px, -389px, 64px, 74px, 558px, 524px, './img/sprite.png', 'personas-verde', );
$privada-name: 'privada';
$privada-x: 0px;
$privada-y: 160px;
$privada-offset-x: 0px;
$privada-offset-y: -160px;
$privada-width: 160px;
$privada-height: 160px;
$privada-total-width: 558px;
$privada-total-height: 524px;
$privada-image: './img/sprite.png';
$privada: (0px, 160px, 0px, -160px, 160px, 160px, 558px, 524px, './img/sprite.png', 'privada', );
$recepcionista-blanco-name: 'recepcionista-blanco';
$recepcionista-blanco-x: 43px;
$recepcionista-blanco-y: 463px;
$recepcionista-blanco-offset-x: -43px;
$recepcionista-blanco-offset-y: -463px;
$recepcionista-blanco-width: 43px;
$recepcionista-blanco-height: 61px;
$recepcionista-blanco-total-width: 558px;
$recepcionista-blanco-total-height: 524px;
$recepcionista-blanco-image: './img/sprite.png';
$recepcionista-blanco: (43px, 463px, -43px, -463px, 43px, 61px, 558px, 524px, './img/sprite.png', 'recepcionista-blanco', );
$recepcionista-verde-name: 'recepcionista-verde';
$recepcionista-verde-x: 0px;
$recepcionista-verde-y: 463px;
$recepcionista-verde-offset-x: 0px;
$recepcionista-verde-offset-y: -463px;
$recepcionista-verde-width: 43px;
$recepcionista-verde-height: 61px;
$recepcionista-verde-total-width: 558px;
$recepcionista-verde-total-height: 524px;
$recepcionista-verde-image: './img/sprite.png';
$recepcionista-verde: (0px, 463px, 0px, -463px, 43px, 61px, 558px, 524px, './img/sprite.png', 'recepcionista-verde', );
$reuniones-name: 'reuniones';
$reuniones-x: 160px;
$reuniones-y: 160px;
$reuniones-offset-x: -160px;
$reuniones-offset-y: -160px;
$reuniones-width: 160px;
$reuniones-height: 160px;
$reuniones-total-width: 558px;
$reuniones-total-height: 524px;
$reuniones-image: './img/sprite.png';
$reuniones: (160px, 160px, -160px, -160px, 160px, 160px, 558px, 524px, './img/sprite.png', 'reuniones', );
$right-hover-name: 'right-hover';
$right-hover-x: 140px;
$right-hover-y: 463px;
$right-hover-offset-x: -140px;
$right-hover-offset-y: -463px;
$right-hover-width: 23px;
$right-hover-height: 23px;
$right-hover-total-width: 558px;
$right-hover-total-height: 524px;
$right-hover-image: './img/sprite.png';
$right-hover: (140px, 463px, -140px, -463px, 23px, 23px, 558px, 524px, './img/sprite.png', 'right-hover', );
$right-name: 'right';
$right-x: 492px;
$right-y: 428px;
$right-offset-x: -492px;
$right-offset-y: -428px;
$right-width: 23px;
$right-height: 23px;
$right-total-width: 558px;
$right-total-height: 524px;
$right-image: './img/sprite.png';
$right: (492px, 428px, -492px, -428px, 23px, 23px, 558px, 524px, './img/sprite.png', 'right', );
$sillas-blanco-name: 'sillas-blanco';
$sillas-blanco-x: 320px;
$sillas-blanco-y: 188px;
$sillas-blanco-offset-x: -320px;
$sillas-blanco-offset-y: -188px;
$sillas-blanco-width: 72px;
$sillas-blanco-height: 72px;
$sillas-blanco-total-width: 558px;
$sillas-blanco-total-height: 524px;
$sillas-blanco-image: './img/sprite.png';
$sillas-blanco: (320px, 188px, -320px, -188px, 72px, 72px, 558px, 524px, './img/sprite.png', 'sillas-blanco', );
$sillas-verde-name: 'sillas-verde';
$sillas-verde-x: 320px;
$sillas-verde-y: 116px;
$sillas-verde-offset-x: -320px;
$sillas-verde-offset-y: -116px;
$sillas-verde-width: 72px;
$sillas-verde-height: 72px;
$sillas-verde-total-width: 558px;
$sillas-verde-total-height: 524px;
$sillas-verde-image: './img/sprite.png';
$sillas-verde: (320px, 116px, -320px, -116px, 72px, 72px, 558px, 524px, './img/sprite.png', 'sillas-verde', );
$telefono-blanco-name: 'telefono-blanco';
$telefono-blanco-x: 405px;
$telefono-blanco-y: 182px;
$telefono-blanco-offset-x: -405px;
$telefono-blanco-offset-y: -182px;
$telefono-blanco-width: 81px;
$telefono-blanco-height: 65px;
$telefono-blanco-total-width: 558px;
$telefono-blanco-total-height: 524px;
$telefono-blanco-image: './img/sprite.png';
$telefono-blanco: (405px, 182px, -405px, -182px, 81px, 65px, 558px, 524px, './img/sprite.png', 'telefono-blanco', );
$telefono-verde-name: 'telefono-verde';
$telefono-verde-x: 405px;
$telefono-verde-y: 247px;
$telefono-verde-offset-x: -405px;
$telefono-verde-offset-y: -247px;
$telefono-verde-width: 81px;
$telefono-verde-height: 65px;
$telefono-verde-total-width: 558px;
$telefono-verde-total-height: 524px;
$telefono-verde-image: './img/sprite.png';
$telefono-verde: (405px, 247px, -405px, -247px, 81px, 65px, 558px, 524px, './img/sprite.png', 'telefono-verde', );
$virtual-name: 'virtual';
$virtual-x: 160px;
$virtual-y: 0px;
$virtual-offset-x: -160px;
$virtual-offset-y: 0px;
$virtual-width: 160px;
$virtual-height: 160px;
$virtual-total-width: 558px;
$virtual-total-height: 524px;
$virtual-image: './img/sprite.png';
$virtual: (160px, 0px, -160px, 0px, 160px, 160px, 558px, 524px, './img/sprite.png', 'virtual', );
$wifi-blanco-name: 'wifi-blanco';
$wifi-blanco-x: 248px;
$wifi-blanco-y: 389px;
$wifi-blanco-offset-x: -248px;
$wifi-blanco-offset-y: -389px;
$wifi-blanco-width: 73px;
$wifi-blanco-height: 55px;
$wifi-blanco-total-width: 558px;
$wifi-blanco-total-height: 524px;
$wifi-blanco-image: './img/sprite.png';
$wifi-blanco: (248px, 389px, -248px, -389px, 73px, 55px, 558px, 524px, './img/sprite.png', 'wifi-blanco', );
$wifi-verde-name: 'wifi-verde';
$wifi-verde-x: 398px;
$wifi-verde-y: 320px;
$wifi-verde-offset-x: -398px;
$wifi-verde-offset-y: -320px;
$wifi-verde-width: 73px;
$wifi-verde-height: 55px;
$wifi-verde-total-width: 558px;
$wifi-verde-total-height: 524px;
$wifi-verde-image: './img/sprite.png';
$wifi-verde: (398px, 320px, -398px, -320px, 73px, 55px, 558px, 524px, './img/sprite.png', 'wifi-verde', );
$acceso-blanco-2x-name: 'acceso-blanco@2x';
$acceso-blanco-2x-x: 984px;
$acceso-blanco-2x-y: 0px;
$acceso-blanco-2x-offset-x: -984px;
$acceso-blanco-2x-offset-y: 0px;
$acceso-blanco-2x-width: 132px;
$acceso-blanco-2x-height: 118px;
$acceso-blanco-2x-total-width: 1116px;
$acceso-blanco-2x-total-height: 1048px;
$acceso-blanco-2x-image: './img/sprite@2x.png';
$acceso-blanco-2x: (984px, 0px, -984px, 0px, 132px, 118px, 1116px, 1048px, './img/sprite@2x.png', 'acceso-blanco@2x', );
$acceso-verde-2x-name: 'acceso-verde@2x';
$acceso-verde-2x-x: 984px;
$acceso-verde-2x-y: 118px;
$acceso-verde-2x-offset-x: -984px;
$acceso-verde-2x-offset-y: -118px;
$acceso-verde-2x-width: 132px;
$acceso-verde-2x-height: 118px;
$acceso-verde-2x-total-width: 1116px;
$acceso-verde-2x-total-height: 1048px;
$acceso-verde-2x-image: './img/sprite@2x.png';
$acceso-verde-2x: (984px, 118px, -984px, -118px, 132px, 118px, 1116px, 1048px, './img/sprite@2x.png', 'acceso-verde@2x', );
$aire-blanco-2x-name: 'aire-blanco@2x';
$aire-blanco-2x-x: 640px;
$aire-blanco-2x-y: 520px;
$aire-blanco-2x-offset-x: -640px;
$aire-blanco-2x-offset-y: -520px;
$aire-blanco-2x-width: 152px;
$aire-blanco-2x-height: 118px;
$aire-blanco-2x-total-width: 1116px;
$aire-blanco-2x-total-height: 1048px;
$aire-blanco-2x-image: './img/sprite@2x.png';
$aire-blanco-2x: (640px, 520px, -640px, -520px, 152px, 118px, 1116px, 1048px, './img/sprite@2x.png', 'aire-blanco@2x', );
$aire-verde-2x-name: 'aire-verde@2x';
$aire-verde-2x-x: 644px;
$aire-verde-2x-y: 640px;
$aire-verde-2x-offset-x: -644px;
$aire-verde-2x-offset-y: -640px;
$aire-verde-2x-width: 152px;
$aire-verde-2x-height: 118px;
$aire-verde-2x-total-width: 1116px;
$aire-verde-2x-total-height: 1048px;
$aire-verde-2x-image: './img/sprite@2x.png';
$aire-verde-2x: (644px, 640px, -644px, -640px, 152px, 118px, 1116px, 1048px, './img/sprite@2x.png', 'aire-verde@2x', );
$cafe-blanco-2x-name: 'cafe-blanco@2x';
$cafe-blanco-2x-x: 984px;
$cafe-blanco-2x-y: 236px;
$cafe-blanco-2x-offset-x: -984px;
$cafe-blanco-2x-offset-y: -236px;
$cafe-blanco-2x-width: 114px;
$cafe-blanco-2x-height: 130px;
$cafe-blanco-2x-total-width: 1116px;
$cafe-blanco-2x-total-height: 1048px;
$cafe-blanco-2x-image: './img/sprite@2x.png';
$cafe-blanco-2x: (984px, 236px, -984px, -236px, 114px, 130px, 1116px, 1048px, './img/sprite@2x.png', 'cafe-blanco@2x', );
$cafe-verde-2x-name: 'cafe-verde@2x';
$cafe-verde-2x-x: 984px;
$cafe-verde-2x-y: 366px;
$cafe-verde-2x-offset-x: -984px;
$cafe-verde-2x-offset-y: -366px;
$cafe-verde-2x-width: 114px;
$cafe-verde-2x-height: 130px;
$cafe-verde-2x-total-width: 1116px;
$cafe-verde-2x-total-height: 1048px;
$cafe-verde-2x-image: './img/sprite@2x.png';
$cafe-verde-2x: (984px, 366px, -984px, -366px, 114px, 130px, 1116px, 1048px, './img/sprite@2x.png', 'cafe-verde@2x', );
$caja-blanco-2x-name: 'caja-blanco@2x';
$caja-blanco-2x-x: 376px;
$caja-blanco-2x-y: 778px;
$caja-blanco-2x-offset-x: -376px;
$caja-blanco-2x-offset-y: -778px;
$caja-blanco-2x-width: 120px;
$caja-blanco-2x-height: 138px;
$caja-blanco-2x-total-width: 1116px;
$caja-blanco-2x-total-height: 1048px;
$caja-blanco-2x-image: './img/sprite@2x.png';
$caja-blanco-2x: (376px, 778px, -376px, -778px, 120px, 138px, 1116px, 1048px, './img/sprite@2x.png', 'caja-blanco@2x', );
$caja-verde-2x-name: 'caja-verde@2x';
$caja-verde-2x-x: 256px;
$caja-verde-2x-y: 778px;
$caja-verde-2x-offset-x: -256px;
$caja-verde-2x-offset-y: -778px;
$caja-verde-2x-width: 120px;
$caja-verde-2x-height: 138px;
$caja-verde-2x-total-width: 1116px;
$caja-verde-2x-total-height: 1048px;
$caja-verde-2x-image: './img/sprite@2x.png';
$caja-verde-2x: (256px, 778px, -256px, -778px, 120px, 138px, 1116px, 1048px, './img/sprite@2x.png', 'caja-verde@2x', );
$check-blanco-2x-name: 'check-blanco@2x';
$check-blanco-2x-x: 768px;
$check-blanco-2x-y: 778px;
$check-blanco-2x-offset-x: -768px;
$check-blanco-2x-offset-y: -778px;
$check-blanco-2x-width: 126px;
$check-blanco-2x-height: 88px;
$check-blanco-2x-total-width: 1116px;
$check-blanco-2x-total-height: 1048px;
$check-blanco-2x-image: './img/sprite@2x.png';
$check-blanco-2x: (768px, 778px, -768px, -778px, 126px, 88px, 1116px, 1048px, './img/sprite@2x.png', 'check-blanco@2x', );
$check-verde-2x-name: 'check-verde@2x';
$check-verde-2x-x: 642px;
$check-verde-2x-y: 778px;
$check-verde-2x-offset-x: -642px;
$check-verde-2x-offset-y: -778px;
$check-verde-2x-width: 126px;
$check-verde-2x-height: 88px;
$check-verde-2x-total-width: 1116px;
$check-verde-2x-total-height: 1048px;
$check-verde-2x-image: './img/sprite@2x.png';
$check-verde-2x: (642px, 778px, -642px, -778px, 126px, 88px, 1116px, 1048px, './img/sprite@2x.png', 'check-verde@2x', );
$check-2x-name: 'check@2x';
$check-2x-x: 1076px;
$check-2x-y: 856px;
$check-2x-offset-x: -1076px;
$check-2x-offset-y: -856px;
$check-2x-width: 36px;
$check-2x-height: 32px;
$check-2x-total-width: 1116px;
$check-2x-total-height: 1048px;
$check-2x-image: './img/sprite@2x.png';
$check-2x: (1076px, 856px, -1076px, -856px, 36px, 32px, 1116px, 1048px, './img/sprite@2x.png', 'check@2x', );
$comillas-2x-name: 'comillas@2x';
$comillas-2x-x: 172px;
$comillas-2x-y: 926px;
$comillas-2x-offset-x: -172px;
$comillas-2x-offset-y: -926px;
$comillas-2x-width: 108px;
$comillas-2x-height: 92px;
$comillas-2x-total-width: 1116px;
$comillas-2x-total-height: 1048px;
$comillas-2x-image: './img/sprite@2x.png';
$comillas-2x: (172px, 926px, -172px, -926px, 108px, 92px, 1116px, 1048px, './img/sprite@2x.png', 'comillas@2x', );
$compartidas-2x-name: 'compartidas@2x';
$compartidas-2x-x: 0px;
$compartidas-2x-y: 0px;
$compartidas-2x-offset-x: 0px;
$compartidas-2x-offset-y: 0px;
$compartidas-2x-width: 320px;
$compartidas-2x-height: 320px;
$compartidas-2x-total-width: 1116px;
$compartidas-2x-total-height: 1048px;
$compartidas-2x-image: './img/sprite@2x.png';
$compartidas-2x: (0px, 0px, 0px, 0px, 320px, 320px, 1116px, 1048px, './img/sprite@2x.png', 'compartidas@2x', );
$flamenco-verde-2x-name: 'flamenco-verde@2x';
$flamenco-verde-2x-x: 984px;
$flamenco-verde-2x-y: 496px;
$flamenco-verde-2x-offset-x: -984px;
$flamenco-verde-2x-offset-y: -496px;
$flamenco-verde-2x-width: 100px;
$flamenco-verde-2x-height: 136px;
$flamenco-verde-2x-total-width: 1116px;
$flamenco-verde-2x-total-height: 1048px;
$flamenco-verde-2x-image: './img/sprite@2x.png';
$flamenco-verde-2x: (984px, 496px, -984px, -496px, 100px, 136px, 1116px, 1048px, './img/sprite@2x.png', 'flamenco-verde@2x', );
$flamenco-2x-name: 'flamenco@2x';
$flamenco-2x-x: 640px;
$flamenco-2x-y: 0px;
$flamenco-2x-offset-x: -640px;
$flamenco-2x-offset-y: 0px;
$flamenco-2x-width: 170px;
$flamenco-2x-height: 232px;
$flamenco-2x-total-width: 1116px;
$flamenco-2x-total-height: 1048px;
$flamenco-2x-image: './img/sprite@2x.png';
$flamenco-2x: (640px, 0px, -640px, 0px, 170px, 232px, 1116px, 1048px, './img/sprite@2x.png', 'flamenco@2x', );
$impresora-blanco-2x-name: 'impresora-blanco@2x';
$impresora-blanco-2x-x: 360px;
$impresora-blanco-2x-y: 640px;
$impresora-blanco-2x-offset-x: -360px;
$impresora-blanco-2x-offset-y: -640px;
$impresora-blanco-2x-width: 142px;
$impresora-blanco-2x-height: 128px;
$impresora-blanco-2x-total-width: 1116px;
$impresora-blanco-2x-total-height: 1048px;
$impresora-blanco-2x-image: './img/sprite@2x.png';
$impresora-blanco-2x: (360px, 640px, -360px, -640px, 142px, 128px, 1116px, 1048px, './img/sprite@2x.png', 'impresora-blanco@2x', );
$impresora-verde-2x-name: 'impresora-verde@2x';
$impresora-verde-2x-x: 502px;
$impresora-verde-2x-y: 640px;
$impresora-verde-2x-offset-x: -502px;
$impresora-verde-2x-offset-y: -640px;
$impresora-verde-2x-width: 142px;
$impresora-verde-2x-height: 128px;
$impresora-verde-2x-total-width: 1116px;
$impresora-verde-2x-total-height: 1048px;
$impresora-verde-2x-image: './img/sprite@2x.png';
$impresora-verde-2x: (502px, 640px, -502px, -640px, 142px, 128px, 1116px, 1048px, './img/sprite@2x.png', 'impresora-verde@2x', );
$left-hover-2x-name: 'left-hover@2x';
$left-hover-2x-x: 1030px;
$left-hover-2x-y: 856px;
$left-hover-2x-offset-x: -1030px;
$left-hover-2x-offset-y: -856px;
$left-hover-2x-width: 46px;
$left-hover-2x-height: 46px;
$left-hover-2x-total-width: 1116px;
$left-hover-2x-total-height: 1048px;
$left-hover-2x-image: './img/sprite@2x.png';
$left-hover-2x: (1030px, 856px, -1030px, -856px, 46px, 46px, 1116px, 1048px, './img/sprite@2x.png', 'left-hover@2x', );
$left-2x-name: 'left@2x';
$left-2x-x: 894px;
$left-2x-y: 778px;
$left-2x-offset-x: -894px;
$left-2x-offset-y: -778px;
$left-2x-width: 46px;
$left-2x-height: 46px;
$left-2x-total-width: 1116px;
$left-2x-total-height: 1048px;
$left-2x-image: './img/sprite@2x.png';
$left-2x: (894px, 778px, -894px, -778px, 46px, 46px, 1116px, 1048px, './img/sprite@2x.png', 'left@2x', );
$limpieza-blanco-2x-name: 'limpieza-blanco@2x';
$limpieza-blanco-2x-x: 180px;
$limpieza-blanco-2x-y: 640px;
$limpieza-blanco-2x-offset-x: -180px;
$limpieza-blanco-2x-offset-y: -640px;
$limpieza-blanco-2x-width: 180px;
$limpieza-blanco-2x-height: 138px;
$limpieza-blanco-2x-total-width: 1116px;
$limpieza-blanco-2x-total-height: 1048px;
$limpieza-blanco-2x-image: './img/sprite@2x.png';
$limpieza-blanco-2x: (180px, 640px, -180px, -640px, 180px, 138px, 1116px, 1048px, './img/sprite@2x.png', 'limpieza-blanco@2x', );
$limpieza-verde-2x-name: 'limpieza-verde@2x';
$limpieza-verde-2x-x: 0px;
$limpieza-verde-2x-y: 640px;
$limpieza-verde-2x-offset-x: 0px;
$limpieza-verde-2x-offset-y: -640px;
$limpieza-verde-2x-width: 180px;
$limpieza-verde-2x-height: 138px;
$limpieza-verde-2x-total-width: 1116px;
$limpieza-verde-2x-total-height: 1048px;
$limpieza-verde-2x-image: './img/sprite@2x.png';
$limpieza-verde-2x: (0px, 640px, 0px, -640px, 180px, 138px, 1116px, 1048px, './img/sprite@2x.png', 'limpieza-verde@2x', );
$organigrama-blanco-2x-name: 'organigrama-blanco@2x';
$organigrama-blanco-2x-x: 810px;
$organigrama-blanco-2x-y: 182px;
$organigrama-blanco-2x-offset-x: -810px;
$organigrama-blanco-2x-offset-y: -182px;
$organigrama-blanco-2x-width: 174px;
$organigrama-blanco-2x-height: 182px;
$organigrama-blanco-2x-total-width: 1116px;
$organigrama-blanco-2x-total-height: 1048px;
$organigrama-blanco-2x-image: './img/sprite@2x.png';
$organigrama-blanco-2x: (810px, 182px, -810px, -182px, 174px, 182px, 1116px, 1048px, './img/sprite@2x.png', 'organigrama-blanco@2x', );
$organigrama-verde-2x-name: 'organigrama-verde@2x';
$organigrama-verde-2x-x: 810px;
$organigrama-verde-2x-y: 0px;
$organigrama-verde-2x-offset-x: -810px;
$organigrama-verde-2x-offset-y: 0px;
$organigrama-verde-2x-width: 174px;
$organigrama-verde-2x-height: 182px;
$organigrama-verde-2x-total-width: 1116px;
$organigrama-verde-2x-total-height: 1048px;
$organigrama-verde-2x-image: './img/sprite@2x.png';
$organigrama-verde-2x: (810px, 0px, -810px, 0px, 174px, 182px, 1116px, 1048px, './img/sprite@2x.png', 'organigrama-verde@2x', );
$persona-blanco-2x-name: 'persona-blanco@2x';
$persona-blanco-2x-x: 984px;
$persona-blanco-2x-y: 744px;
$persona-blanco-2x-offset-x: -984px;
$persona-blanco-2x-offset-y: -744px;
$persona-blanco-2x-width: 116px;
$persona-blanco-2x-height: 112px;
$persona-blanco-2x-total-width: 1116px;
$persona-blanco-2x-total-height: 1048px;
$persona-blanco-2x-image: './img/sprite@2x.png';
$persona-blanco-2x: (984px, 744px, -984px, -744px, 116px, 112px, 1116px, 1048px, './img/sprite@2x.png', 'persona-blanco@2x', );
$persona-verde-2x-name: 'persona-verde@2x';
$persona-verde-2x-x: 984px;
$persona-verde-2x-y: 632px;
$persona-verde-2x-offset-x: -984px;
$persona-verde-2x-offset-y: -632px;
$persona-verde-2x-width: 116px;
$persona-verde-2x-height: 112px;
$persona-verde-2x-total-width: 1116px;
$persona-verde-2x-total-height: 1048px;
$persona-verde-2x-image: './img/sprite@2x.png';
$persona-verde-2x: (984px, 632px, -984px, -632px, 116px, 112px, 1116px, 1048px, './img/sprite@2x.png', 'persona-verde@2x', );
$personas-blanco-2x-name: 'personas-blanco@2x';
$personas-blanco-2x-x: 128px;
$personas-blanco-2x-y: 778px;
$personas-blanco-2x-offset-x: -128px;
$personas-blanco-2x-offset-y: -778px;
$personas-blanco-2x-width: 128px;
$personas-blanco-2x-height: 148px;
$personas-blanco-2x-total-width: 1116px;
$personas-blanco-2x-total-height: 1048px;
$personas-blanco-2x-image: './img/sprite@2x.png';
$personas-blanco-2x: (128px, 778px, -128px, -778px, 128px, 148px, 1116px, 1048px, './img/sprite@2x.png', 'personas-blanco@2x', );
$personas-verde-2x-name: 'personas-verde@2x';
$personas-verde-2x-x: 0px;
$personas-verde-2x-y: 778px;
$personas-verde-2x-offset-x: 0px;
$personas-verde-2x-offset-y: -778px;
$personas-verde-2x-width: 128px;
$personas-verde-2x-height: 148px;
$personas-verde-2x-total-width: 1116px;
$personas-verde-2x-total-height: 1048px;
$personas-verde-2x-image: './img/sprite@2x.png';
$personas-verde-2x: (0px, 778px, 0px, -778px, 128px, 148px, 1116px, 1048px, './img/sprite@2x.png', 'personas-verde@2x', );
$privada-2x-name: 'privada@2x';
$privada-2x-x: 0px;
$privada-2x-y: 320px;
$privada-2x-offset-x: 0px;
$privada-2x-offset-y: -320px;
$privada-2x-width: 320px;
$privada-2x-height: 320px;
$privada-2x-total-width: 1116px;
$privada-2x-total-height: 1048px;
$privada-2x-image: './img/sprite@2x.png';
$privada-2x: (0px, 320px, 0px, -320px, 320px, 320px, 1116px, 1048px, './img/sprite@2x.png', 'privada@2x', );
$recepcionista-blanco-2x-name: 'recepcionista-blanco@2x';
$recepcionista-blanco-2x-x: 86px;
$recepcionista-blanco-2x-y: 926px;
$recepcionista-blanco-2x-offset-x: -86px;
$recepcionista-blanco-2x-offset-y: -926px;
$recepcionista-blanco-2x-width: 86px;
$recepcionista-blanco-2x-height: 122px;
$recepcionista-blanco-2x-total-width: 1116px;
$recepcionista-blanco-2x-total-height: 1048px;
$recepcionista-blanco-2x-image: './img/sprite@2x.png';
$recepcionista-blanco-2x: (86px, 926px, -86px, -926px, 86px, 122px, 1116px, 1048px, './img/sprite@2x.png', 'recepcionista-blanco@2x', );
$recepcionista-verde-2x-name: 'recepcionista-verde@2x';
$recepcionista-verde-2x-x: 0px;
$recepcionista-verde-2x-y: 926px;
$recepcionista-verde-2x-offset-x: 0px;
$recepcionista-verde-2x-offset-y: -926px;
$recepcionista-verde-2x-width: 86px;
$recepcionista-verde-2x-height: 122px;
$recepcionista-verde-2x-total-width: 1116px;
$recepcionista-verde-2x-total-height: 1048px;
$recepcionista-verde-2x-image: './img/sprite@2x.png';
$recepcionista-verde-2x: (0px, 926px, 0px, -926px, 86px, 122px, 1116px, 1048px, './img/sprite@2x.png', 'recepcionista-verde@2x', );
$reuniones-2x-name: 'reuniones@2x';
$reuniones-2x-x: 320px;
$reuniones-2x-y: 320px;
$reuniones-2x-offset-x: -320px;
$reuniones-2x-offset-y: -320px;
$reuniones-2x-width: 320px;
$reuniones-2x-height: 320px;
$reuniones-2x-total-width: 1116px;
$reuniones-2x-total-height: 1048px;
$reuniones-2x-image: './img/sprite@2x.png';
$reuniones-2x: (320px, 320px, -320px, -320px, 320px, 320px, 1116px, 1048px, './img/sprite@2x.png', 'reuniones@2x', );
$right-hover-2x-name: 'right-hover@2x';
$right-hover-2x-x: 280px;
$right-hover-2x-y: 926px;
$right-hover-2x-offset-x: -280px;
$right-hover-2x-offset-y: -926px;
$right-hover-2x-width: 46px;
$right-hover-2x-height: 46px;
$right-hover-2x-total-width: 1116px;
$right-hover-2x-total-height: 1048px;
$right-hover-2x-image: './img/sprite@2x.png';
$right-hover-2x: (280px, 926px, -280px, -926px, 46px, 46px, 1116px, 1048px, './img/sprite@2x.png', 'right-hover@2x', );
$right-2x-name: 'right@2x';
$right-2x-x: 984px;
$right-2x-y: 856px;
$right-2x-offset-x: -984px;
$right-2x-offset-y: -856px;
$right-2x-width: 46px;
$right-2x-height: 46px;
$right-2x-total-width: 1116px;
$right-2x-total-height: 1048px;
$right-2x-image: './img/sprite@2x.png';
$right-2x: (984px, 856px, -984px, -856px, 46px, 46px, 1116px, 1048px, './img/sprite@2x.png', 'right@2x', );
$sillas-blanco-2x-name: 'sillas-blanco@2x';
$sillas-blanco-2x-x: 640px;
$sillas-blanco-2x-y: 376px;
$sillas-blanco-2x-offset-x: -640px;
$sillas-blanco-2x-offset-y: -376px;
$sillas-blanco-2x-width: 144px;
$sillas-blanco-2x-height: 144px;
$sillas-blanco-2x-total-width: 1116px;
$sillas-blanco-2x-total-height: 1048px;
$sillas-blanco-2x-image: './img/sprite@2x.png';
$sillas-blanco-2x: (640px, 376px, -640px, -376px, 144px, 144px, 1116px, 1048px, './img/sprite@2x.png', 'sillas-blanco@2x', );
$sillas-verde-2x-name: 'sillas-verde@2x';
$sillas-verde-2x-x: 640px;
$sillas-verde-2x-y: 232px;
$sillas-verde-2x-offset-x: -640px;
$sillas-verde-2x-offset-y: -232px;
$sillas-verde-2x-width: 144px;
$sillas-verde-2x-height: 144px;
$sillas-verde-2x-total-width: 1116px;
$sillas-verde-2x-total-height: 1048px;
$sillas-verde-2x-image: './img/sprite@2x.png';
$sillas-verde-2x: (640px, 232px, -640px, -232px, 144px, 144px, 1116px, 1048px, './img/sprite@2x.png', 'sillas-verde@2x', );
$telefono-blanco-2x-name: 'telefono-blanco@2x';
$telefono-blanco-2x-x: 810px;
$telefono-blanco-2x-y: 364px;
$telefono-blanco-2x-offset-x: -810px;
$telefono-blanco-2x-offset-y: -364px;
$telefono-blanco-2x-width: 162px;
$telefono-blanco-2x-height: 130px;
$telefono-blanco-2x-total-width: 1116px;
$telefono-blanco-2x-total-height: 1048px;
$telefono-blanco-2x-image: './img/sprite@2x.png';
$telefono-blanco-2x: (810px, 364px, -810px, -364px, 162px, 130px, 1116px, 1048px, './img/sprite@2x.png', 'telefono-blanco@2x', );
$telefono-verde-2x-name: 'telefono-verde@2x';
$telefono-verde-2x-x: 810px;
$telefono-verde-2x-y: 494px;
$telefono-verde-2x-offset-x: -810px;
$telefono-verde-2x-offset-y: -494px;
$telefono-verde-2x-width: 162px;
$telefono-verde-2x-height: 130px;
$telefono-verde-2x-total-width: 1116px;
$telefono-verde-2x-total-height: 1048px;
$telefono-verde-2x-image: './img/sprite@2x.png';
$telefono-verde-2x: (810px, 494px, -810px, -494px, 162px, 130px, 1116px, 1048px, './img/sprite@2x.png', 'telefono-verde@2x', );
$virtual-2x-name: 'virtual@2x';
$virtual-2x-x: 320px;
$virtual-2x-y: 0px;
$virtual-2x-offset-x: -320px;
$virtual-2x-offset-y: 0px;
$virtual-2x-width: 320px;
$virtual-2x-height: 320px;
$virtual-2x-total-width: 1116px;
$virtual-2x-total-height: 1048px;
$virtual-2x-image: './img/sprite@2x.png';
$virtual-2x: (320px, 0px, -320px, 0px, 320px, 320px, 1116px, 1048px, './img/sprite@2x.png', 'virtual@2x', );
$wifi-blanco-2x-name: 'wifi-blanco@2x';
$wifi-blanco-2x-x: 496px;
$wifi-blanco-2x-y: 778px;
$wifi-blanco-2x-offset-x: -496px;
$wifi-blanco-2x-offset-y: -778px;
$wifi-blanco-2x-width: 146px;
$wifi-blanco-2x-height: 110px;
$wifi-blanco-2x-total-width: 1116px;
$wifi-blanco-2x-total-height: 1048px;
$wifi-blanco-2x-image: './img/sprite@2x.png';
$wifi-blanco-2x: (496px, 778px, -496px, -778px, 146px, 110px, 1116px, 1048px, './img/sprite@2x.png', 'wifi-blanco@2x', );
$wifi-verde-2x-name: 'wifi-verde@2x';
$wifi-verde-2x-x: 796px;
$wifi-verde-2x-y: 640px;
$wifi-verde-2x-offset-x: -796px;
$wifi-verde-2x-offset-y: -640px;
$wifi-verde-2x-width: 146px;
$wifi-verde-2x-height: 110px;
$wifi-verde-2x-total-width: 1116px;
$wifi-verde-2x-total-height: 1048px;
$wifi-verde-2x-image: './img/sprite@2x.png';
$wifi-verde-2x: (796px, 640px, -796px, -640px, 146px, 110px, 1116px, 1048px, './img/sprite@2x.png', 'wifi-verde@2x', );
$spritesheet-width: 558px;
$spritesheet-height: 524px;
$spritesheet-image: './img/sprite.png';
$spritesheet-sprites: ($acceso-blanco, $acceso-verde, $aire-blanco, $aire-verde, $cafe-blanco, $cafe-verde, $caja-blanco, $caja-verde, $check-blanco, $check-verde, $check, $comillas, $compartidas, $flamenco-verde, $flamenco, $impresora-blanco, $impresora-verde, $left-hover, $left, $limpieza-blanco, $limpieza-verde, $organigrama-blanco, $organigrama-verde, $persona-blanco, $persona-verde, $personas-blanco, $personas-verde, $privada, $recepcionista-blanco, $recepcionista-verde, $reuniones, $right-hover, $right, $sillas-blanco, $sillas-verde, $telefono-blanco, $telefono-verde, $virtual, $wifi-blanco, $wifi-verde, );
$spritesheet: (558px, 524px, './img/sprite.png', $spritesheet-sprites, );
$retina-spritesheet-width: 1116px;
$retina-spritesheet-height: 1048px;
$retina-spritesheet-image: './img/sprite@2x.png';
$retina-spritesheet-sprites: ($acceso-blanco-2x, $acceso-verde-2x, $aire-blanco-2x, $aire-verde-2x, $cafe-blanco-2x, $cafe-verde-2x, $caja-blanco-2x, $caja-verde-2x, $check-blanco-2x, $check-verde-2x, $check-2x, $comillas-2x, $compartidas-2x, $flamenco-verde-2x, $flamenco-2x, $impresora-blanco-2x, $impresora-verde-2x, $left-hover-2x, $left-2x, $limpieza-blanco-2x, $limpieza-verde-2x, $organigrama-blanco-2x, $organigrama-verde-2x, $persona-blanco-2x, $persona-verde-2x, $personas-blanco-2x, $personas-verde-2x, $privada-2x, $recepcionista-blanco-2x, $recepcionista-verde-2x, $reuniones-2x, $right-hover-2x, $right-2x, $sillas-blanco-2x, $sillas-verde-2x, $telefono-blanco-2x, $telefono-verde-2x, $virtual-2x, $wifi-blanco-2x, $wifi-verde-2x, );
$retina-spritesheet: (1116px, 1048px, './img/sprite@2x.png', $retina-spritesheet-sprites, );

// These "retina group" variables are mappings for the naming and pairing of normal and retina sprites.
//
// The list formatted variables are intended for mixins like `retina-sprite` and `retina-sprites`.
$acceso-blanco-group-name: 'acceso-blanco';
$acceso-blanco-group: ('acceso-blanco', $acceso-blanco, $acceso-blanco-2x, );
$acceso-verde-group-name: 'acceso-verde';
$acceso-verde-group: ('acceso-verde', $acceso-verde, $acceso-verde-2x, );
$aire-blanco-group-name: 'aire-blanco';
$aire-blanco-group: ('aire-blanco', $aire-blanco, $aire-blanco-2x, );
$aire-verde-group-name: 'aire-verde';
$aire-verde-group: ('aire-verde', $aire-verde, $aire-verde-2x, );
$cafe-blanco-group-name: 'cafe-blanco';
$cafe-blanco-group: ('cafe-blanco', $cafe-blanco, $cafe-blanco-2x, );
$cafe-verde-group-name: 'cafe-verde';
$cafe-verde-group: ('cafe-verde', $cafe-verde, $cafe-verde-2x, );
$caja-blanco-group-name: 'caja-blanco';
$caja-blanco-group: ('caja-blanco', $caja-blanco, $caja-blanco-2x, );
$caja-verde-group-name: 'caja-verde';
$caja-verde-group: ('caja-verde', $caja-verde, $caja-verde-2x, );
$check-blanco-group-name: 'check-blanco';
$check-blanco-group: ('check-blanco', $check-blanco, $check-blanco-2x, );
$check-verde-group-name: 'check-verde';
$check-verde-group: ('check-verde', $check-verde, $check-verde-2x, );
$check-group-name: 'check';
$check-group: ('check', $check, $check-2x, );
$comillas-group-name: 'comillas';
$comillas-group: ('comillas', $comillas, $comillas-2x, );
$compartidas-group-name: 'compartidas';
$compartidas-group: ('compartidas', $compartidas, $compartidas-2x, );
$flamenco-verde-group-name: 'flamenco-verde';
$flamenco-verde-group: ('flamenco-verde', $flamenco-verde, $flamenco-verde-2x, );
$flamenco-group-name: 'flamenco';
$flamenco-group: ('flamenco', $flamenco, $flamenco-2x, );
$impresora-blanco-group-name: 'impresora-blanco';
$impresora-blanco-group: ('impresora-blanco', $impresora-blanco, $impresora-blanco-2x, );
$impresora-verde-group-name: 'impresora-verde';
$impresora-verde-group: ('impresora-verde', $impresora-verde, $impresora-verde-2x, );
$left-hover-group-name: 'left-hover';
$left-hover-group: ('left-hover', $left-hover, $left-hover-2x, );
$left-group-name: 'left';
$left-group: ('left', $left, $left-2x, );
$limpieza-blanco-group-name: 'limpieza-blanco';
$limpieza-blanco-group: ('limpieza-blanco', $limpieza-blanco, $limpieza-blanco-2x, );
$limpieza-verde-group-name: 'limpieza-verde';
$limpieza-verde-group: ('limpieza-verde', $limpieza-verde, $limpieza-verde-2x, );
$organigrama-blanco-group-name: 'organigrama-blanco';
$organigrama-blanco-group: ('organigrama-blanco', $organigrama-blanco, $organigrama-blanco-2x, );
$organigrama-verde-group-name: 'organigrama-verde';
$organigrama-verde-group: ('organigrama-verde', $organigrama-verde, $organigrama-verde-2x, );
$persona-blanco-group-name: 'persona-blanco';
$persona-blanco-group: ('persona-blanco', $persona-blanco, $persona-blanco-2x, );
$persona-verde-group-name: 'persona-verde';
$persona-verde-group: ('persona-verde', $persona-verde, $persona-verde-2x, );
$personas-blanco-group-name: 'personas-blanco';
$personas-blanco-group: ('personas-blanco', $personas-blanco, $personas-blanco-2x, );
$personas-verde-group-name: 'personas-verde';
$personas-verde-group: ('personas-verde', $personas-verde, $personas-verde-2x, );
$privada-group-name: 'privada';
$privada-group: ('privada', $privada, $privada-2x, );
$recepcionista-blanco-group-name: 'recepcionista-blanco';
$recepcionista-blanco-group: ('recepcionista-blanco', $recepcionista-blanco, $recepcionista-blanco-2x, );
$recepcionista-verde-group-name: 'recepcionista-verde';
$recepcionista-verde-group: ('recepcionista-verde', $recepcionista-verde, $recepcionista-verde-2x, );
$reuniones-group-name: 'reuniones';
$reuniones-group: ('reuniones', $reuniones, $reuniones-2x, );
$right-hover-group-name: 'right-hover';
$right-hover-group: ('right-hover', $right-hover, $right-hover-2x, );
$right-group-name: 'right';
$right-group: ('right', $right, $right-2x, );
$sillas-blanco-group-name: 'sillas-blanco';
$sillas-blanco-group: ('sillas-blanco', $sillas-blanco, $sillas-blanco-2x, );
$sillas-verde-group-name: 'sillas-verde';
$sillas-verde-group: ('sillas-verde', $sillas-verde, $sillas-verde-2x, );
$telefono-blanco-group-name: 'telefono-blanco';
$telefono-blanco-group: ('telefono-blanco', $telefono-blanco, $telefono-blanco-2x, );
$telefono-verde-group-name: 'telefono-verde';
$telefono-verde-group: ('telefono-verde', $telefono-verde, $telefono-verde-2x, );
$virtual-group-name: 'virtual';
$virtual-group: ('virtual', $virtual, $virtual-2x, );
$wifi-blanco-group-name: 'wifi-blanco';
$wifi-blanco-group: ('wifi-blanco', $wifi-blanco, $wifi-blanco-2x, );
$wifi-verde-group-name: 'wifi-verde';
$wifi-verde-group: ('wifi-verde', $wifi-verde, $wifi-verde-2x, );
$retina-groups: ($acceso-blanco-group, $acceso-verde-group, $aire-blanco-group, $aire-verde-group, $cafe-blanco-group, $cafe-verde-group, $caja-blanco-group, $caja-verde-group, $check-blanco-group, $check-verde-group, $check-group, $comillas-group, $compartidas-group, $flamenco-verde-group, $flamenco-group, $impresora-blanco-group, $impresora-verde-group, $left-hover-group, $left-group, $limpieza-blanco-group, $limpieza-verde-group, $organigrama-blanco-group, $organigrama-verde-group, $persona-blanco-group, $persona-verde-group, $personas-blanco-group, $personas-verde-group, $privada-group, $recepcionista-blanco-group, $recepcionista-verde-group, $reuniones-group, $right-hover-group, $right-group, $sillas-blanco-group, $sillas-verde-group, $telefono-blanco-group, $telefono-verde-group, $virtual-group, $wifi-blanco-group, $wifi-verde-group, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `retina-sprite` mixin sets up rules and a media query for a sprite/retina sprite.
//   It should be used with a "retina group" variable.
//
// The media query is from CSS Tricks: https://css-tricks.com/snippets/css/retina-display-media-query/
//
// $icon-home-group: ('icon-home', $icon-home, $icon-home-2x, );
//
// .icon-home {
//   @include retina-sprite($icon-home-group);
// }
@mixin sprite-background-size($sprite) {
  $sprite-total-width: nth($sprite, 7);
  $sprite-total-height: nth($sprite, 8);
  background-size: $sprite-total-width $sprite-total-height;
}

@mixin retina-sprite($retina-group) {
  $normal-sprite: nth($retina-group, 2);
  $retina-sprite: nth($retina-group, 3);
  @include sprite($normal-sprite);

  @media (-webkit-min-device-pixel-ratio: 2),
         (min-resolution: 192dpi) {
    @include sprite-image($retina-sprite);
    @include sprite-background-size($normal-sprite);
  }
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}

// The `retina-sprites` mixin generates a CSS rule and media query for retina groups
//   This yields the same output as CSS retina template but can be overridden in SCSS
//
// @include retina-sprites($retina-groups);
@mixin retina-sprites($retina-groups) {
  @each $retina-group in $retina-groups {
    $sprite-name: nth($retina-group, 1);
    .#{$sprite-name} {
      @include retina-sprite($retina-group);
    }
  }
}
