.Mnk-header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 5;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;

  padding-top: 12px;
  padding-bottom: 12px;
  background-color: $color-blanco;
  @include responsive-width($responsive-767) {
    padding-top: 20px;
    padding-bottom: 0;
    background-color: transparent;
  }
  .Mnk-menu {
    padding-right: 10px;
    @include responsive-width($responsive-991) {
      padding-right: 15px;
    }
  }
  .Mnk-social {
    padding-left: 15px;
    @include responsive-width($responsive-767) {
      border-left: 1px solid rgba($color-blanco, 0.3);
    }
    @include responsive-width($responsive-991) {
      padding-right: 25px;
    }
    path {
      transition-property: all;
      transition-duration: 0.3s;
      transition-timing-function: ease-in-out;
      @include responsive-max-width($responsive-767 - 1) {
        fill: #aaa;
      }
    }

    @at-root #{&}_link {
      &.-youtube {
        line-height: 27px;
        @include responsive-width($responsive-991) {
          line-height: 31px;
        }
      }
      @include responsive-max-width($responsive-767 - 1) {
        border-color: #aaa;
      }
      @include responsive-width($responsive-1024) {
        &:hover {
          path {
            fill: $color-morado;
          }
        }
      }
    }
  }
  &.-fixed {
    background-color: $color-blanco;
    box-shadow: 0px 4px 10px rgba($color-negro, 0.1);
    @include responsive-width($responsive-767) {
      padding-top: 0;
    }
    .Mnk-logo {
      opacity: 1;
      visibility: visible;
      + div {
        @include responsive-width($responsive-767) {
          padding-top: 15px;
          padding-bottom: 15px;
        }
      }
    }
    .Mnk-social {
      border-left-color: #c2c2c2;
      path {
        fill: #aaa;
      }
      @at-root #{&}_link {
        border-color: #aaa;
        @include responsive-width($responsive-1024) {
          &:hover {
            border-color: $color-morado;
          }
        }
      }
    }
    .Mnk-menu {
      > li {
        > a {
          color: #aaa;
        }
        &:last-child {
          > a {
            color: $color-morado;
          }
        }
        &:not(:last-child) {
          @include responsive-width($responsive-767) {
            &:hover {
              > a {
                color: $color-verde;
                span {
                  path{
                    stroke: $color-verde;
                  }
                  &:after {
                    background-color: $color-verde;
                  }
                }
              }
            }
          }
        }
      }
      .menu-item-has-children {
        > a {
          span {
            path {
              stroke: #aaa;
            }

            &:after {
              //background-color: #aaa;
            }
          }
        }
      }
    }
  }
}

.Mnk-logo {
  margin: 0;
  line-height: 1;
  width: 64px;

  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  img {
    vertical-align: top;
  }
  + div {
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
  }
  @include responsive-width($responsive-767) {
    width: 88px;
    visibility: hidden;
    opacity: 0;
  }
}

.Mnk-home {
  background: linear-gradient(44.65deg, #533a75 17.83%, #03b39c 79.79%);
  position: relative;

  p {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 190px;
    margin-left: auto;
    margin-right: auto;
    @include responsive-width($responsive-450) {
      margin-top: 45px;
      margin-bottom: 35px;
      width: auto;
    }
  }

  &:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    background-image: mnk-image-url("bg_left_home.png");
    width: 170px;
    height: 183px;
    background-size: 170px 183px;
    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
      background-image: mnk-image-url("bg_right_home@2x.png");
      background-size: 170px 183px;
    }
    @include responsive-width($responsive-450) {
      width: 271px;
      height: 291px;
      background-size: 271px 291px;
      @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
        background-size: 271px 291px;
      }
    }
    @include responsive-width($responsive-767) {
      width: 372px;
      height: 400px;
      background-size: 372px 400px;
      @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
        background-size: 372px 400px;
      }
    }
  }
  &:after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    background-image: mnk-image-url("bg_right_home.png");
    background-size: 217px 196px;
    width: 217px;
    height: 196px;
    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
      background-image: mnk-image-url("bg_right_home@2x.png");
      background-size: 217px 196px;
    }
    @include responsive-width($responsive-450) {
      width: 330px;
      height: 298px;
      background-size: 330px 298px;
      @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
        background-size: 330px 298px;
      }
    }
    @include responsive-width($responsive-767) {
      width: 443px;
      height: 400px;
      background-size: 443px 400px;
      @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
        background-size: 443px 400px;
      }
    }
  }
}
.Mnk-portada {
  overflow-x: hidden;
  position: relative;
  transition-property: all;
  transition-duration: 0.7s;
  transition-timing-function: ease-in-out;
  height: 490px;
  padding-top: 55px;
  @include responsive-width($responsive-450) {
    height: 570px;
    min-height: 570px;
    padding-top: 0;
  }
  @include responsive-width($responsive-767) {
    height: 650px;
    min-height: 650px;
  }
  img {
    width: 210px;
    @include responsive-width($responsive-450) {
      width: 325px;
    }
    @include responsive-width($responsive-767) {
      width: 445px;
    }
  }
}

.Mnk-banner_content {
  position: relative;
  .Mnk-triangle_svg {
    position: absolute;
    z-index: 1;
    &.-purple {
      background-image: mnk-image-url("triangle-1.svg");
      background-size: 21px 18px;
      width: 21px;
      height: 18px;
      @include responsive-width($responsive-767) {
        width: 49px;
        height: 44px;
        background-size: 49px 44px;
      }
    }
    &.-green {
      background-image: mnk-image-url("triangle-2.svg");
      background-size: 26px 22px;
      width: 26px;
      height: 22px;
      @include responsive-width($responsive-767) {
        width: 38px;
        height: 33px;
        background-size: 38px 33px;
      }
    }
    &.-gray {
      background-image: mnk-image-url("triangle-3.svg");
      background-size: 17px 15px;
      width: 17px;
      height: 15px;
      @include responsive-width($responsive-767) {
        width: 34px;
        height: 30px;
        background-size: 34px 30px;
      }
      &.-small {
        @include responsive-width($responsive-767) {
          background-size: 25px 22px;
          width: 25px;
          height: 22px;
        }
      }
    }
    &.-position-1 {
      right: 30px;
      bottom: 100%;
      margin-bottom: 25px; 
      @include responsive-width($responsive-767) {
        margin-bottom: -15px; 
        left: 100%;
        margin-left: 115px;
        right: inherit;
      }     
    }
    &.-position-2 {
      left: -13px;
      top: 100%;
      margin-top: 25px;
      @include responsive-width($responsive-767) {
        top: 140px;
        right: 100%;
        margin-right: 135px;
        margin-top: 0;
        left: inherit;
      }
    }
    &.-position-3 {
      right: 33px;
      top: 100%;
      margin-top: 55px;
      @include responsive-width($responsive-767) {
        bottom: 60px;
        left: 100%;
        margin-left: 150px;
        margin-top: 0;
        right: inherit;
        top: inherit;
      }  
    }
    &.-position-4 {
      display: none;
      @include responsive-width($responsive-767) {
        left: 100%;
        margin-left: 75px;
        top: 25px;
        display: block;
      }
    }
    &.-position-5 {
      display: none;
      @include responsive-width($responsive-767) {
        right: 100%;
        margin-right: 30px;
        bottom: 70px;
        display: block;
      }
    }
    &.-position-6 {
      left: 25px;
      bottom: 100%;
      margin-bottom: 50px;;
      @include responsive-width($responsive-767) {
        top: 20px;
        right: 100%;
        margin-right: 80px;
        left: inherit;
        bottom: inherit;
        margin-bottom: 0;
      }
    }
  }
}

.Mnk-button_inscription{
  display: none;
  position: fixed;
  right: 30px;
  bottom: 30px;
  z-index: 1;
  border-radius: 100%;
  width: 120px;
  height: 120px;
  color: $color-blanco;
  background-color: $color-magenta;
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
  
  @include responsive-width($responsive-1199) {
    right: 50%;
    margin-right: -550px;
  }
  
  span{
    position: relative;
    line-height: 1;
    &:after{
      content: '';
      display: block;
      background-image: mnk-image-url("arrow_down.svg");
      background-size: 14px 18px;
      width: 14px;
      height: 18px;
      margin: 0 auto;
    }
  }

  strong{
    display: block;
    font-size: 26px;
    line-height: 35px;
  }
  @include responsive-width($responsive-767) {
    display: table;
    &:hover{
      color: $color-blanco;
      background-color: lighten($color-magenta,5%);
      box-shadow: 0 0 30px 0 rgba($color-magenta, .5);
    }
  }
}

.slick-slide{margin-left: 0; transition: all 200ms linear 0s;
	&::before{transition: all 200ms linear 0s;opacity:0!important;}
	&.slick-active::before{opacity: 1!important;transition: all 300ms linear 0.5s;}
	&.slick-negative{
    @media only screen and (min-width: 1400px){margin-left: -6.1%;}
    @media only screen and (min-width: 1500px){margin-left: -7%;}
    @media only screen and (min-width: 1600px){margin-left: -8%;}
    @media only screen and (min-width: 1760px){margin-left: -8.6%;}
		&::before{opacity: 0!important;}
	}
}


.Mnk-content_box{
  > * {width: 49%; padding: 10px 8px; display: inline-block; vertical-align: top;
    @media only screen and (min-width: 768px){ width: auto; padding:0; display: block; }
  }
}

.Mnk-menu-fixed{
  z-index: 6;
  bottom: 0;
  left: 0;
  box-shadow: 4px 0px 10px rgba(0, 0, 0, 0.2);
  .Mnk-item{ text-align: center; background: $color-blanco; padding: 1px 10px 5px;
    .Mnk-item_icon{ text-align: center; height: 40px; width:100%; position: relative;
      .Mnk-item_icon_gray,.Mnk-item_icon_white{position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);}
      .Mnk-item_icon_gray{opacity: 1;}
      .Mnk-item_icon_white{opacity: 0;}
    }
    .Mnk-item-text{
      p{color: $color-gris;margin-bottom: 0; font-size: 11px;}
    }
    &.active,&:hover,&:focus{background: $color-verde;
      .Mnk-item_icon_gray{opacity: 0;}
      .Mnk-item_icon_white{opacity: 1;}
      .Mnk-item-text{
        p{color: $color-blanco; }
      }
    }
  }
}

.Mnk-modal{
  .Mnk-menu{
    display: block;
    a{
      color: $color-gris;
      font-weight: 400;
      padding: 15px 0;
    }
    > li:last-child > a{
      color: $color-gris;
    }
  }
  .Mnk-modal_button-close{
    width: 50px;
    height: 50px;
    z-index: 1;
    &:before, &:after{
      background-color: $color-gris;
    }
  }
}

.Mnk-thanks{
  @at-root #{&}_page{
    padding-bottom: 0;
    h2{
      margin-top: 0;
    }
  }
  @at-root #{&}_bg{
    background-image: mnk-image-url("bg-gracias.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  @at-root #{&}_aside{
    padding: 25px 20px;
    @include responsive-width($responsive-767) {
      padding: 0;
      transform: translateX(30px);
    }
    h1{
      font-weight: 400;
      background-color: $color-blanco;
      color: $color-negro;
      display: inline-block;
      vertical-align: top;
      padding: 15px 20px;
      margin-top: 0;
      strong{
        font-weight: 500;
      }
    }
    .Mnk-button{
      padding: 12px 15px;
      padding-right: 25px;
      font-weight: 500;
      &:before{
        content: '';
        background-image: mnk-image-url("ico_tel.png");
        background-size: cover;
        display: inline-block;
        vertical-align: middle;
        width: 25px;
        height: 25px;
        margin-right: 10px;
      }
    }
  }
}