.mfp-bg{
  background-color: $color-negro;
  opacity: .85;
}
.mfp-title{
  display: none;
  @include responsive-width($responsive-450){
    float: right;
    //padding-right: 0;
    line-height: $line-height;
    //text-align: right;
    display: block;
    width: 100%;
  }
}
.mfp-arrow-left{
  @include responsive-width($responsive-1024){
    //left: -90px;
  }
}
.mfp-arrow-right{
  @include responsive-width($responsive-1024){
    //right: -90px;
  }
}



/* =transition */

.mfp-ready .mfp-figure {
  opacity: 0;
}

.mfp-zoom-in {
  /* start state */
  /* animate in */
  /* animate out */
}
.mfp-zoom-in .mfp-figure, .mfp-zoom-in .mfp-iframe-holder .mfp-iframe-scaler{
  opacity: 0;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  -webkit-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
}
.mfp-zoom-in.mfp-bg,
.mfp-zoom-in .mfp-preloader {
  opacity: 0;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.mfp-zoom-in.mfp-image-loaded .mfp-figure, .mfp-zoom-in.mfp-ready .mfp-iframe-holder .mfp-iframe-scaler{
  opacity: 1;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
.mfp-zoom-in.mfp-ready.mfp-bg,
.mfp-zoom-in.mfp-ready .mfp-preloader {
  opacity: 0.8;
}
.mfp-zoom-in.mfp-removing .mfp-figure, .mfp-zoom-in.mfp-removing .mfp-iframe-holder .mfp-iframe-scaler{
  -webkit-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
  opacity: 0;
}
.mfp-zoom-in.mfp-removing.mfp-bg,
.mfp-zoom-in.mfp-removing .mfp-preloader {
  opacity: 0;
}
.mfp-iframe-scaler{ overflow: visible; /*so the close button is shown*/}
.mfp-zoom-out-cur { cursor: auto; }
.mfp-zoom-out-cur .mfp-image-holder .mfp-close { cursor: pointer; }

.mfp-zoom-in.mfp-ready.mfp-bg, .mfp-zoom-in.mfp-ready .mfp-preloader {
  opacity: 0.8;
}

.mfp-zoom-in.mfp-removing .mfp-figure, .mfp-zoom-in.mfp-removing .mfp-iframe-holder .mfp-iframe-scaler {
  -webkit-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
  opacity: 0;
}

.mfp-zoom-in.mfp-removing.mfp-bg, .mfp-zoom-in.mfp-removing .mfp-preloader {
  opacity: 0;
}

.mfp-iframe-scaler {
  overflow: visible; /*so the close button is shown*/
}

.mfp-zoom-out-cur {
  cursor: auto;
}

.mfp-zoom-out-cur .mfp-image-holder .mfp-close {
  cursor: pointer;
}

.Mnk-video_css{
  display: block;
  overflow: hidden;
  position: relative;
  &:before{
    content: '';
    position: absolute;
    background: rgba($color-negro,.3);
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    transition-property: all;
    transition-duration: .5s;
    transition-timing-function: ease-in-out;
    z-index: 1;
  }
  &:after{
    content: $font-Flaticon-arrows-9;
    position: absolute;
    color: $color-gris;
    background-color: rgba($color-blanco,.85);
    font-family: $font-icon;
    font-size: 35px;
    text-indent: 5px;
    text-align: center;
    width: 85px;
    height: 85px;
    line-height: 85px;
    left: 50%;
    top: 50%;
    z-index: 2;
    border-radius: 100%;
    transform: translateX(-50%) translateY(-50%);
    transition-property: all;
    transition-duration: .5s;
    transition-timing-function: ease-in-out;
  }
  img{
    transition-property: all;
    transition-duration: 2s;
    transition-timing-function: ease-in;
    width: 100%;
  }
  &:hover{
    @include responsive-width($responsive-1024){
      &:before{
        background: rgba($color-negro,.5);
      }
      img{
        transform: scale(1.2);
      }
    }
  }
}

@import "tema";