.Mnk-modal {
  height: 100%;
  left: 0;
  top: 0;
  overflow-x: hidden;
  overflow-y: auto;
  position: fixed;
  width: 100%;
  z-index: 1;
  visibility: hidden;
  background: $modal-background;
  opacity: 0;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;

  @at-root #{&}_content {
    position: relative;
    z-index: 200;

    display: table;
    table-layout: fixed;
    height: 100%;
    width: 100%;
    > * {
      display: table-cell;
      vertical-align: middle;
    }
  }
  @at-root #{&}_close {
    &:hover {
      @include responsive-width($responsive-1024) {
      }
    }
  }
  @at-root #{&}_body {
    overflow: hidden;
  }
}

.Mnk-modal_button-close {
  position: absolute;
  right: 0;
  top: 0;
  width: 25px;
  height: 25px;
  cursor: pointer;

  &:before,
  &:after {
    content: "";
    display: block;
    height: 2px;
    width: 20px;
    background-color: $color-blanco;
    border-radius: 1px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    left: 0;
    top: 50%;
    margin-top: -1px;
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
  }
  @at-root .Mnk-modal {
    &.-active {
      .Mnk-modal_button-close {
        &:before {
          transform: translateY(0) rotate(45deg);
        }
        &:after {
          transform: translateY(-1px) rotate(-45deg);
        }
      }
    }
  }
}

.Mnk-aside_video-modal{
  .Mnk-figure{
    &:not(:last-child){
      padding-bottom: 9px;
    }
  }
  .Mnk-figure_img.-modal{    
    &:before{
      background-color: transparent;
      background-image: mnk-image-url("play.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 35px auto;
      @include responsive-width($responsive-767) {
        background-size: auto;
      }
    }
    &:after{
      content: none;
    }    
    .Mnk-modal_video-content{
      max-width: 100%;
      padding-left: 15px;
      padding-bottom: 10px;
      padding-right: 10px;
      p{
        &:first-child{
          margin-bottom: 0;
          font-size: 14px;
          display: none;
          @include responsive-width($responsive-767) {
            display: block;
          }
          @include responsive-width($responsive-991) {
            font-size: 16px;
          }
        }
        &:last-child{
          display: none;
        }
      }      
    }
    .Mnk-figure_img-border-sides{
      border-width: 0;
    }
  } 
  
}

@import "animaciones/blur";
