.Mnk-video_css{
  &:before{
    background: $color-degradado;
    transition-duration: .7s;
    opacity: .3;
    @include responsive-width($responsive-767){
      opacity: .5;
    }
  }
  &:after{
    background-color: $color-rojo;
    color: $color-blanco;
    box-shadow: 10px 10px 15px 0 rgba($color-negro,.5);
    @include responsive-width($responsive-991){
      height: 115px;
      width: 115px;
      line-height: 115px;
    }
  }
  &:hover{
    @include responsive-width($responsive-1024){
      &:before{
        background: $color-degradado;
        opacity: .1;
      }
    }
  }
  &.-medium{
    &:after{
      height: 40px;
      width: 40px;
      line-height: 40px;
      font-size: 18px;
      @include responsive-width($responsive-991){
        height: 65px;
        width: 65px;
        line-height: 65px;
        font-size: 28px;
      }
    }
  }
  &.-right-bottom{
    &:after{
      right: 30px;
      bottom: 30px;
      transform: none;
      left: auto;
      top: auto;
    }
  }
  &.-alterno{
    &:after{
      opacity: 0;
      margin-top: 20px;
    }
    &:hover{
      @include responsive-width($responsive-1024) {
        &:after {
          margin-top: 0;
          opacity: 1;
        }
        .Mnk-video_src{
          transform: scale(1.2,1.2);
        }
      }
    }
  }
  @at-root .Mnk-video_src{
    transition-property: all;
    transition-duration: 2s;
    transition-timing-function: ease-in-out;
  }
}