button,
button:focus,
button:visited,
button:active,
button:hover,
input[type="button"],
input[type="submit"]{
  border: none;
  transition-property: all;
  transition-duration: .1s;
  transition-timing-function: ease-in-out;
}
input, select{
  height: $input-height;
  line-height: $input-line-height;
  @include responsive-width($responsive-767){
    height: $input-height-responsive;
    line-height: $input-line-height-responsive;
  }
}
input, optgroup, select, textarea {
  background-color: $input-background;
  border: 2px solid $input-border;
  color: $input-color;
  font-weight: 500;
  margin-bottom: 0;
  padding: 0 8px;
  width: 100%;
  display: block;
  font-family: $font-family-principal;
  font-size: $input-size;
  //letter-spacing: 0.025em;
  transition-property: all;
  transition-duration: .2s;
  transition-timing-function: ease-in-out;
  border-radius: $input-radius;
  @include responsive-width($responsive-450){
    font-size: $input-size + 1;
  }
}
input:not([type="buttom"]):not([type="submit"]),
textarea {
  &:focus{
    border-color: $input-border-focus;
    background-color: $input-background-focus;
    outline: 0 none;
  }
}
textarea {
  height: $textarea-height;
  margin: 0;
  padding: 5px 10px;
  font-family: $font-family-principal;
  line-height: 1.3;
  @include responsive-width($responsive-767){
    height: $textarea-height-responsive;
  }
}
input, select, textarea {
  @include input-placeholder {
    color: $input-placeholder;
  }
}
input[type="checkbox"],
input[type="radio"]{
  width: auto;
}

/*validacion*/
form{
  label {
    &.error{
      font-size: 12px;
      letter-spacing: $letter-spacing;
      animation-duration:0.3s;
      animation-fill-mode:both;
      animation-name:fadeInDown;
      @keyframes fadeInDown {
        from {
          opacity: 0;
        }
        to {
          opacity: 1;
        }
      }
      &:not(#captcha-error):not(#captcha_2-error) {
        position: absolute;
        right: 0;
        top: 0;
        background-color: $error-background;
        color: $error-color;
        padding: 3px 10px;
        z-index: 1;
      }
    }
  }
}

@import "default/form";
@import "tema";