button,
button:focus,
button:visited,
button:active,
button:hover,
input[type="button"],
input[type="submit"]{
  border: none;
  transition-property: all;
  transition-duration: .1s;
  transition-timing-function: ease-in-out;
}
input, select{
  height: $input-height;
  line-height: $input-line-height;
  @include responsive-width($responsive-767){
    height: $input-height-responsive;
    line-height: $input-line-height-responsive;
  }
}
input, optgroup, select, textarea {
  background-color: $input-background;
  border: 1px solid $input-border;
  color: $input-color;
  font-weight: 300;
  margin-bottom: 0;
  padding: 5px 15px;
  width: 100%;
  display: block;
  font-family: $font-family-principal;
  font-size: $input-size - 1;
  letter-spacing: -0.04em;
  transition-property: all;
  transition-duration: .3s;
  transition-timing-function: ease-in-out;
  border-radius: $input-radius;
  @include responsive-width($responsive-450){
    font-size: $input-size;
  }
}
input:not([type="buttom"]):not([type="submit"]),
textarea {
  &:focus{
    border-color: $input-border-focus;
    background-color: $input-background-focus;
    outline: 0 none;
  }
}
textarea {
  height: $textarea-height;
  margin: 0;
  padding-top: 10px;
  font-family: $font-family-principal;
  line-height: 1.3;
  @include responsive-width($responsive-600){
    border: 1px solid $input-border;
    padding: 10px;
  }
  @include responsive-width($responsive-767){
    height: $textarea-height-responsive;
  }
}
input, select, textarea {
  @include input-placeholder {
    color: $input-placeholder;
  }
}
input[type="checkbox"],
input[type="radio"]{
  width: auto;
}

/*validacion*/
form{
  label {
    &.error{
      font-size: 12px;
      letter-spacing: $letter-spacing;
      animation-duration:0.3s;
      animation-fill-mode:both;
      animation-name:fadeInDown;
      @keyframes fadeInDown {
        from {
          opacity: 0;
        }
        to {
          opacity: 1;
        }
      }
      &:not(#captcha-error):not(#captcha_2-error) {
        position: absolute;
        right: 0;
        top: 0;
        background-color: $error-background;
        color: $error-color;
        padding: 3px 10px;
        z-index: 1;
      }
    }
  }
}
input.date {
    background-image: mnk-image-url("ico_calendario.svg");; 
    background-size: contain;
    background-position: right center;
    background-repeat: no-repeat;
}

.Mnk-checkbox {position: relative;padding-left: 21px;font-size: 0.9rem;cursor: default;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;
  p{font-size: 13px;color: $color-gris;}
  input {position: absolute;opacity: 0;cursor: pointer; display:none;}
  .Mnk-checkbox_checkmark {position: absolute;top: 0;left: 0;height: 1rem;width:1rem;  border:2px solid $color-gris; background-color: $color-gris-claro; border-radius: 3px;
    &:before{opacity: 0;content: ''; position: absolute; width: 5px; background: $color-magenta; height: 2px; left: 1px; top: 7px; transform: rotate(45deg);}
    &:after{opacity: 0;content: ''; position: absolute; width: 9px; background: $color-magenta; height: 2px; top: 5px; left: 3px; transform: rotate(-46deg); }
  }
  input:checked ~ .Mnk-checkbox_checkmark {
    &:before,&:after{opacity: 1;}
  }
  &:hover{
   input ~ .Mnk-checkbox_checkmark { background-color: $color-blanco;}
   input:checked ~ .Mnk-checkbox_checkmark {background-color: $color-blanco;}
  }
}


label, input, input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button, select, textarea {-moz-appearance: none;-webkit-appearance: none;}
input[type="date"]::-webkit-inner-spin-button,
/*input[type="date"]::-webkit-calendar-picker-indicator */{
    display: none;
    -webkit-appearance: none;
}

.datepicker table tr td.active.active,.datepicker table tr td.active.active.focus, .datepicker table tr td.active.active:focus, .datepicker table tr td.active.active:hover, .datepicker table tr td.active.highlighted.active.focus, .datepicker table tr td.active.highlighted.active:focus, .datepicker table tr td.active.highlighted.active:hover, .datepicker table tr td.active.highlighted:active.focus, .datepicker table tr td.active.highlighted:active:focus, .datepicker table tr td.active.highlighted:active:hover, .datepicker table tr td.active:active.focus, .datepicker table tr td.active:active:focus, .datepicker table tr td.active:active:hover{background: $color-magenta!important;}
.datepicker table *{ border:none!important; font-weight: 400!important;}