%bv_hidden{
  backface-visibility: hidden;
}
%filled_obj{
  content:'';
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}

.Mnk-slider {

  @at-root #{&}{
    &.-css{
      position:relative;
      width:100%;
      opacity:0;
      visibility:hidden;
      transition-property: all;
      transition-duration: 1.2s;
      transition-timing-function: ease-in-out;
      margin-bottom: 0;
      &.slick-initialized{
        opacity:1;
        visibility:visible;
      }
    }
  }


  @at-root .slick-slide {
    position:relative;
    @extend %bv_hidden;

    &::before{
      @extend %filled_obj;
      @extend %bv_hidden;
      background-color: $color-negro;
      opacity:.3;
      z-index:1;
    }

    video{
      pointer-events:none;
      display:block;
      position:absolute;
      top:50%;
      left:50%;
      min-width:100%;
      min-height:100%;
      width:auto;
      height:auto;
      transform:translate(-50%, -50%);
    }

    iframe{
      //position:relative;
      pointer-events:none;

      position: absolute;
    }

    .slide-image{
      opacity:0;
      height:100%;
      background-size:cover;
      background-position:center;
      //background-color:rgba(#c46897,.38);
      //background-blend-mode:overlay;

      transition-property: all;
      transition-duration: .8s;
      transition-timing-function: ease-in-out;

      position: absolute;
      width: 100%;
      left: 0;
      top: 50%;
      transform: translateY(-50%);

      &.show{
        opacity:1;
      }

    }

    .image-entity{
      width:100%;
      height:auto;
      opacity:0;
    }

    .loading{
      position:absolute;
      top:50%;
      left:0;
      width:100%;

      color: $color-blanco;
      text-align: center;
      transform: translateY(-50%);
    }

    .slide-media{
      animation:slideOut .4s cubic-bezier(0.4, 0.29, 0.01, 1);

      @keyframes slideOut{
        from{
          filter:blur(0);
        }
        to{
          filter:blur(15px);
        }
      }

    }

    &.slick-active{
      z-index:1;

      .slide-media{
        animation:slideIn 2.4s cubic-bezier(0.4, 0.29, 0.01, 1);

        @keyframes slideIn{
          from{
            filter:blur(15px);
          }
          to{
            filter:blur(0);
          }
        }
      }

      .Mnk-slider_content{
        opacity:1;
        transform:translateY(0);
        transition:all .7s cubic-bezier(0.32, 0.34, 0, 1.62) .6s;
      }
    }

  }

  @at-root .slick-arrow{
    z-index: 1;
    height: auto;
    width: auto;
    padding: 20px 25px;

    &:before{
      font-family: $font-icon;
      font-size: 35px;
    }

    &.slick-prev{
      left: 0;
      &:before{
        content: $font-Flaticon-arrows-10;
      }
    }

    &.slick-next{
      right: 0;
      &:before{
        content: $font-Flaticon-move-to-the-next-page-symbol;
      }
    }

  }

  @at-root .slick-dots {
    bottom: 0;
    line-height: 1;
    li{
      margin: 0;
      vertical-align: top;
      button{
        padding: 20px 7px;
        &:before{
          position: relative;
          display: inline-block;
          vertical-align: top;
          content: '';
          background-color: $color-principal;
          border-radius: 100%;
          height: 15px;
          width: 15px;
        }
      }
      &, button{
        width: auto;
        height: auto;
      }
      &.slick-active{
        button{
          &:before{
          }
        }
      }
    }
  }

  @at-root .Mnk-slider_content {
    opacity:0;
    z-index:1;
    transition-property: all;
    transition-duration: .3s;
    transition-timing-function: ease-in-out;
    transform:translateY(100px);
    @extend %bv_hidden;
  }

}