.Mnk-slider-videos{
  &.slick-slider.slick-dotted{
    margin-bottom: 0;
  }
  .slick-slide {
    overflow: hidden;
    &::before {
      width: auto;
      opacity: 1;
      background: $color-degradado;
      left: 0;
      right: -100%;
      transform: translateX(-170px);
      @media only screen and (min-width: 768px){
        right: 50%;
      }
      @media only screen and (min-width: 992px){
        transform: translateX(-51px);
      }
      @media only screen and (min-width: 1200px){
        transform: translateX(-116px);
      }
    }
    &.-green{
      &:before{
        background: $color-degradado-verde;
      }
      .Mnk-figure_img{
        &:before{
          background-color: $color-verde;
        }
      }
      .Mnk-tab_boton{
        &:before{
          background-color: $color-verde;
        }      
        &.-active, &:hover{
          @include responsive-width($responsive-767){
            color: $color-verde;
          }
        }  
      }
    }
    &.-red{
      &:before{
        background: $color-degradado-rojo;
      }
      .Mnk-figure_img{
        &:before{
          background-color: $color-rojo;
        }
      }
      .Mnk-tab_boton{
        &:before{
          background-color: $color-rojo;
        }    
        &.-active, &:hover{
          @include responsive-width($responsive-767){
            color: $color-rojo;
          }
        }      
      }
    }
    &.-blue{
      &:before{
        background: $color-degradado-azul;
      }
      .Mnk-figure_img{
        &:before{
          background-color: $color-azul;
        }
      }
      .Mnk-tab_boton{
        &:before{
          background-color: $color-azul;
        }   
        &.-active, &:hover{
          @include responsive-width($responsive-767){
            color: $color-azul;
          }
        }        
      }
    }
  }
  .Mnk-header_videos{
    width: 100%;
    left: 0;
    padding-top: 45px;
    padding-left: 0;
    padding-bottom: 16px;
    position: relative;
    text-align: center;
    @media only screen and (min-width: 768px){
      padding-bottom: 30px;
    }
    @media only screen and (min-width: 992px){
        padding-left: 575px;
        position: absolute;
        padding-bottom: 0px;
        text-align: left;
    }

    h2{
      color: $color-blanco;
      margin: 0 auto 20px;
      font-weight: 700;
      font-size: 18px;
      max-width: 85%;

      @media only screen and (min-width: 768px){
        margin: 0;
        color: $color-gris;
        margin-bottom: 32px;
        max-width: initial;
      }

      @media only screen and (min-width: 992px){ font-size: 22px;}
      @media only screen and (min-width: 1200px){font-size: 30px;}
    }

    h3{
      margin: 0;
    }
    .Mnk-tab_boton-container{
      position: relative;
      z-index: 2;
    }
  }
  .Mnk-container{    
    &:before{
      content: '';
      position: absolute;
      right: 0;
      bottom: 0;
      height: 100%;
      background-color: transparent;
      width: 435px;

      border-left: 160px solid transparent;
      border-right: 160px solid #ffffff;
      border-bottom: 160px solid #ffffff;
      border-top: 160px solid transparent;
      width: 0;
      height: 0;
      @media only screen and (min-width: 768px){
        right: inherit;
        bottom: inherit;
        left: 0;
        top: 0;

        border-left: 0 solid transparent;
        border-right: 205px solid #fff;
        border-bottom: 0 solid transparent;
        border-top: 600px solid transparent;
        width: 205px;
        height: 100%;

      }
      @media only screen and (min-width: 992px){
        border-left: 217.5px solid transparent;
        border-right: 217.5px solid $color-blanco;
        border-bottom: 325px solid $color-blanco;
        border-top: 325px solid transparent;
      }
    }
  }
}

.slick-dots {
  bottom: 45px;
  li{
    margin: 0;
    button{
      padding: 5px;
      &:before{
        background-color: $color-gris;
        height: 9px;
        width: 9px;
        opacity: .3;
      }
    }
    &.slick-active{
      button{
        &:before{
          opacity: 1;
        }
      }
    }
  }
}

.slick-arrow{
  z-index: 1;
  height: auto;
  width: auto;
  padding: 20px 25px;

  &:before{
    background-repeat: no-repeat;
    background-position: center;
    width: 18px;
    height: 20px;
    display: block;
    transition-property: all;
    transition-duration: .3s;
    transition-timing-function: ease-in-out;
    opacity: .2;
  }

  &.slick-prev{
    left: 0;
    top: 96px;
    @media only screen and (min-width: 768px){
      top: 50%;
    }
    @media only screen and (min-width: 992px){
    left: 50%;
    margin-left: -500px;
    }
    @media only screen and (min-width: 1200px){
     margin-left: -575px; 
    }
    &:before{
      content: '';
      background-image: mnk-image-url("prev.svg");
      @media only screen and (min-width: 768px){
        height: 32px;
      }
    }
  }

  &.slick-next{
    right: 0;
    top: 96px;
    @media only screen and (min-width: 768px){
      top: 50%;
    }
    @media only screen and (min-width: 992px){
    right: 50%;
    margin-right: -500px;
    }
    @media only screen and (min-width: 1200px){
     margin-right: -575px; 
    }
    &:before{
      content: '';
      background-image: mnk-image-url("prev.svg");
      transform: scale(-1,1);
      @media only screen and (min-width: 768px){
        transform: none;
        background-image: mnk-image-url("next.svg");
        height: 32px;
      }
    }
  }
  

}